{%- extends "/base.jinja2" %}
{%- block title %}Dumps | Webtool{%- endblock %}
{%- block content %}
  {%- call h.boxed('Dumps', class='dumps') %}
    <h2>Metadata of cruises with</h2>
    <ul>
      <li><a href="/tool/dumps.sqlite?type=metadata&datatype=ctd">CTD</a></li>
      <li><a href="/tool/dumps.sqlite?seahunt=1&type=metadata">Seahunt</a></li>
    </ul>
  {%- endcall %}
{%- endblock %}
