<ul type="none">
<table>
	<tr>
		<td><h3>Equipment</h3></td><td><h3>Projects</h3></td><td><h3>Technology Terms</h3></td>
	</tr>
	<tr>
		<td valign="top" align="left"><!-- Equipment -->
			<li type="none"><abbr>ADCP	</abbr><br />Acoustic Doppler Current Profiler</li>
			<li type="none"><abbr>ECD	</abbr><br />Electron Capture Detector</li>
			<li type="none"><abbr>GKG	</abbr><br />Gro§kastengreifer (Box Corer)</li>
			<li type="none"><abbr>KL	</abbr><br />Kastenlot (Piston Corer)</li>
			<li type="none"><abbr>LADCP	</abbr><br />Lowered Acoustic Doppler Current Profiler</li>
			<li type="none"><abbr>MSD	</abbr><br />Multi Sensor Device (DOMEST)</li>
			<li type="none"><abbr>MSU	</abbr><br />Moored Sensor Unit</li>
			<li type="none"><abbr>MUC	</abbr><br />Multicorer</li>
			<li type="none"><abbr>NOSAMS	</abbr><br />The National Ocean Sciences Accelerator Mass Spectrometry</li>
			<li type="none"><abbr>SBU	</abbr><br />Surface Buoy Unit (DOMEST)</li>
			<li type="none"><abbr>SSP	</abbr><br />Sub Surface Platform</li>
		</td><!-- Equipment -->

		<td valign="top"><!-- Projects -->
            		<li type="none"><abbr>BAS	</abbr><br />British Antarctic Survey</li>
            		<li type="none"><abbr>CANIGO	</abbr><br />Canary Islands Gibraltar Observations</li>
            		<li type="none"><abbr>VEINS	</abbr><br />Variability of Exchanges in the Northern Seas</li>
		</td><!-- Projects -->
		
		<td valign="top"><!-- Technical Terms -->
			<li type="none"><abbr>FFT</abbr><br />Fast Fourier Transformation</li>
			<li type="none"><abbr>KML</abbr><br />Keyhole Markup Language</li>
			<li type="none"><abbr>MN </abbr><br />Multinet</li>
			<li type="none"><abbr>TMC</abbr><br />Technical & Marketing Communication</li>
		</td><!-- Technical Terms -->
	</tr>
	<tr><td><h3>Groups</h3></td><td><h3>Places</h3></td><td><h3>Oceanography Terms</h3></td></tr>
	<tr>
		<td valign="top"><!-- Groups -->
			<li type="none"><abbr>CCHDO  </abbr><br />Clivar Carbon & Hydrographic Data Office</li>
			<li type="none"><abbr>CSIC   </abbr><br />Consejo Superior de Investigaciones Cientificas</li>
			<li type="none"><abbr>CSIRO  </abbr><br />Commonwealth Scientific and Industrial Research Organisation (Australia)</li>
			<li type="none"><abbr>ESTO   </abbr><br />Earth Science and Technology Organization</li>
			<li type="none"><abbr>ESTOC  </abbr><br />European Station of Time Series, Canary Islands</li>
			<li type="none"><abbr>GRGS   </abbr><br />Groupe De Recherche En Geodesie Spatiale</li>
			<li type="none"><abbr>INSU   </abbr><br />l'Institut National Des Sciences De L'Univers</li>
			<li type="none"><abbr>IOC    </abbr><br />Intergovermental Oceanographic Commission</li>
			<li type="none"><abbr>IODP   </abbr><br />Integrated Ocean Drilling Program</li>
			<li type="none"><abbr>IOS    </abbr><br />Institute of Ocean Sciences</li>
			<li type="none"><abbr>JAMSTEC</abbr><br />Japan Agency for Marine-Earth Science and Technology</li>
			<li type="none"><abbr>JGOFS  </abbr><br />Joint Global Ocean Flux Study</li>
			<li type="none"><abbr>JMA    </abbr><br />Japan Meteorological Agency</li>
			<li type="none"><abbr>JODC   </abbr><br />Japan Oceanographic Data Center</li>
			<li type="none"><abbr>MARIS  </abbr><br />Marine Information Service</li>
			<li type="none"><abbr>MEDS   </abbr><br />Marine Environmental Data Service</li>
			<li type="none"><abbr>NAVO   </abbr><br />US Naval Oceanographic Office</li>
			<li type="none"><abbr>NCAR   </abbr><br />National Center for Atmospheric Research</li>
			<li type="none"><abbr>NIOZ   </abbr><br />Royal Netherlands Institute For Sea Research</li>
			<li type="none"><abbr>NIPR   </abbr><br />National Institute of Polar Research</li>
			<li type="none"><abbr>NIRE   </abbr><br />National Institute For Resources And Environment</li>
			<li type="none"><abbr>NIWA   </abbr><br />National Institute Of Water And Atmospheric Research</li>
			<li type="none"><abbr>NOAA   </abbr><br />National Oceanic and Atmospheric Administration</li>
			<li type="none"><abbr>NODC   </abbr><br />National Oceanographic Data Center</li>
			<li type="none"><abbr>NOS    </abbr><br />National Ocean Service</li>
			<li type="none"><abbr>NSF    </abbr><br />National Science Foundation</li>
			<li type="none"><abbr>ONR    </abbr><br />Office of Naval Research</li>
			<li type="none"><abbr>SHN    </abbr><br />Servicio de Hidrografia Naval</li>
			<li type="none"><abbr>SHOA   </abbr><br />Servicio Hidrogafico y Oceanografico de la Armada</li>
			<li type="none"><abbr>SMBA   </abbr><br />Scottish Marine Biological Association</li>
			<li type="none"><abbr>WHPO   </abbr><br />WOCE Hydrographic Program Office</li>
			<li type="none"><abbr>WMO    </abbr><br />World Meteorological Organization</li>
			<li type="none"><abbr>WOCE   </abbr><br />World Ocean Circulation Experiment</li>
		</td><!-- Groups -->
		
		
		<td valign="top"><!-- Places -->
			<li type="none"><abbr>AARI    </abbr><br />Arctic and Antarctic Research Institute</li>
			<li type="none"><abbr>ALASKA  </abbr><br />University of Alaska</li>
			<li type="none"><abbr>ANSTO   </abbr><br />Australian Nuclear Science And Technology Organization</li>
			<li type="none"><abbr>ANU     </abbr><br />Australian National University</li>
			<li type="none"><abbr>AOML    </abbr><br />Atlantic Oceanographic and Meteorological Laboratory</li>
			<li type="none"><abbr>AUS     </abbr><br />Australia</li>
			<li type="none"><abbr>ARG     </abbr><br />Argentina</li>
			<li type="none"><abbr>AWI     </abbr><br />Alfred Wegener Institute fŸr Polar und Meeresforschung</li>
			<li type="none"><abbr>BIO     </abbr><br />Bedford Institution of Oceanography</li>
			<li type="none"><abbr>BMRC    </abbr><br />Bureau of Meteorology Research Centre</li>
			<li type="none"><abbr>BODC    </abbr><br />British Oceanographic Data Centre</li>
			<li type="none"><abbr>BRA     </abbr><br />Brazil</li>
			<li type="none"><abbr>BSH     </abbr><br />Bundesamt fŸr Seeschiffahrt und Hydrographie</li>
			<li type="none"><abbr>CAM     </abbr><br />University of Cambridge</li>
			<li type="none"><abbr>CAN     </abbr><br />Canada</li>
			<li type="none"><abbr>CEA     </abbr><br />Centre D'Etudes De Saclay</li>
			<li type="none"><abbr>CHI     </abbr><br />Chile</li>
			<li type="none"><abbr>CNES    </abbr><br />Centre National d'ƒtudes Spatiales</li>
			<li type="none"><abbr>CNRS    </abbr><br />Centre National de la Recherche Scientifique</li>
			<li type="none"><abbr>CRC     </abbr><br />Cooperative Research Centre</li>
			<li type="none"><abbr>DAL     </abbr><br />Dalhousie University</li>
			<li type="none"><abbr>DKRZ    </abbr><br />Max-Planck-Institut FŸr Meteorologie</li>
			<li type="none"><abbr>DML     </abbr><br />Dunstaffnage Marine Laboratory</li>
			<li type="none"><abbr>DOMEST  </abbr><br />DatenŸbertragung im Ozean und Me§technik zur hochauflšsenden Erfassung des StofftranSportes in der Tiefsee</li>
			<li type="none"><abbr>DWD     </abbr><br />Deutscher Wetterdienst, Hamburg, Germany</li>
			<li type="none"><abbr>FH      </abbr><br />Fachhochschule Hamburg, Germany</li>
			<li type="none"><abbr>FIAMS   </abbr><br />Flinders University Of South Australia</li>
			<li type="none"><abbr>FIRM    </abbr><br />Finnish Institute of Marine Research</li>
			<li type="none"><abbr>FIS     </abbr><br />Forschungsinstitut Senckenberg, Germany</li>
			<li type="none"><abbr>FLINDERS</abbr><br />        Flinders University of South Australia</li>
			<li type="none"><abbr>FRA     </abbr><br />France</li>
			<li type="none"><abbr>FSU     </abbr><br />Florida State University</li>
			<li type="none"><abbr>GER     </abbr><br />Germany</li>
			<li type="none"><abbr>HPEL    </abbr><br />Horn Point Environmental Laboratory</li>
			<li type="none"><abbr>HUJI    </abbr><br />The Hebrew University of Jerusalem</li>
			<li type="none"><abbr>IC      </abbr><br />Imperial College</li>
			<li type="none"><abbr>ICCM    </abbr><br />Instituto Canario de Ciencias Marinas</li>
			<li type="none"><abbr>IFMK    </abbr><br />Institute for Marine Research, Kiel University</li>
			<li type="none"><abbr>IFMK    </abbr><br />Institut FŸr Meereskunde An Der Universitaet Kiel</li>
			<li type="none"><abbr>IFREMER </abbr><br />French institute for exploitation of the sea</li>
			<li type="none"><abbr>IMA     </abbr><br />Institute of Marine Affairs</li>
			<li type="none"><abbr>IMR     </abbr><br />Institute of Marine Research</li>
			<li type="none"><abbr>IND     </abbr><br />India</li>
			<li type="none"><abbr>IOW     </abbr><br />Baltic Sea Research Institute, WarnemŸnde, Germany</li>
			<li type="none"><abbr>ITE     </abbr><br />Institute of Terrestrial Ecology</li>
			<li type="none"><abbr>JHU     </abbr><br />Johns Hopkins University</li>
			<li type="none"><abbr>JPN     </abbr><br />Japan</li>
			<li type="none"><abbr>KNMI    </abbr><br />Royal Netherlands Meteorological Institute</li>
			<li type="none"><abbr>KU      </abbr><br />University of Copenhagen</li>
			<li type="none"><abbr>LANL    </abbr><br />Los Alamos National Laboratory</li>
			<li type="none"><abbr>LBNL    </abbr><br />Lawrence Berkeley National Laboratory</li>
			<li type="none"><abbr>LDEO    </abbr><br />Lamont Doherty Earth Observatory</li>
			<li type="none"><abbr>LLNL    </abbr><br />Lawrence Livermore National Laboratory</li>
			<li type="none"><abbr>LODYC   </abbr><br />Laboratoire d'OcŽanographie Dynamique et de Climatologie</li>
			<li type="none"><abbr>LSU     </abbr><br />Louisiana State University</li>
			<li type="none"><abbr>MBA     </abbr><br />Marine Biological Association, Plymouth, UK</li>
			<li type="none"><abbr>MCM     </abbr><br />Marine and Coastal Management, Cape Town, South Africa</li>
			<li type="none"><abbr>MIT     </abbr><br />Massachusetts Institute of Technology</li>
			<li type="none"><abbr>MSU     </abbr><br />Moscow State University</li>
			<li type="none"><abbr>NATMIRC </abbr><br />National Marine Information and Research Centre, Swakopmund, Namibia</li>
			<li type="none"><abbr>NCSU    </abbr><br />North Carolina State University</li>
			<li type="none"><abbr>NEBROC  </abbr><br />Netherlands Bremen Oceanography</li>
			<li type="none"><abbr>NET     </abbr><br />Netherlands</li>
			<li type="none"><abbr>NEW     </abbr><br />New Zealand</li>
			<li type="none"><abbr>NOR     </abbr><br />Norway</li>
			<li type="none"><abbr>NPOLAR  </abbr><br />Norwegian Polar Research Institute</li>
			<li type="none"><abbr>NPS     </abbr><br />Naval Postgraduate School</li>
			<li type="none"><abbr>NRL     </abbr><br />Naval Research Laboratory</li>
			<li type="none"><abbr>NRSC    </abbr><br />Nansen Environmental and Remote Sensing Center</li>
			<li type="none"><abbr>NTOU    </abbr><br />National Taiwan Ocean University</li>
			<li type="none"><abbr>NTU     </abbr><br />National Taiwan University</li>
			<li type="none"><abbr>ORI     </abbr><br />University of Tokyo</li>
			<li type="none"><abbr>ORST    </abbr><br />Oregon State University</li>
			<li type="none"><abbr>OSU     </abbr><br />Ohio State University</li>
			<li type="none"><abbr>OU      </abbr><br />University of Oklahoma</li>
			<li type="none"><abbr>PMEL    </abbr><br />Pacific Marine Environmental Lab</li>
			<li type="none"><abbr>PML     </abbr><br />Plymouth Marine Laboratory</li>
			<li type="none"><abbr>PNL     </abbr><br />Pacific Northwest Laboratory</li>
			<li type="none"><abbr>PNU     </abbr><br />Pusan National University</li>
			<li type="none"><abbr>POL     </abbr><br />Proudman Oceanographic Laboratory</li>
			<li type="none"><abbr>RSMAS   </abbr><br />Rosenstiel School of Marine and Atmospheric Science</li>
			<li type="none"><abbr>RUS     </abbr><br />Russia</li>
			<li type="none"><abbr>SA      </abbr><br />South America</li>
			<li type="none"><abbr>SFCC    </abbr><br />Spokane Falls Community College</li>
			<li type="none"><abbr>SIO     </abbr><br />Scripps Institution of Oceanography</li>
			<li type="none"><abbr>SL      </abbr><br />Southampton Laboratory, UK</li>
			<li type="none"><abbr>SMHI    </abbr><br />Swedish Meteorological and Hydrological Institute</li>
			<li type="none"><abbr>SOC     </abbr><br />Southampton Oceanography Centre</li>
			<li type="none"><abbr>SOI     </abbr><br />State Oceanographic Institute</li>
			<li type="none"><abbr>SPN     </abbr><br />Spain</li>
			<li type="none"><abbr>SU      </abbr><br />Stockholm University</li>
			<li type="none"><abbr>SUNYSB  </abbr><br />State University of New York at Stony Brook</li>
			<li type="none"><abbr>TA&M    </abbr><br />Texas A&M University</li>
			<li type="none"><abbr>UBC     </abbr><br />University of British Columbia</li>
			<li type="none"><abbr>UBIFU   </abbr><br />UniversitŠt Bremen</li>
			<li type="none"><abbr>UCA     </abbr><br />Universidad de Cadiz</li>
			<li type="none"><abbr>UCG     </abbr><br />University College Galway</li>
			<li type="none"><abbr>UCI     </abbr><br />University of California at Irvine</li>
			<li type="none"><abbr>UCL     </abbr><br />University College London</li>
			<li type="none"><abbr>UCLA    </abbr><br />University of California Los Angeles</li>
			<li type="none"><abbr>UCONN   </abbr><br />University of Connecticut</li>
			<li type="none"><abbr>UCR     </abbr><br />Universidad de Costa Rica</li>
			<li type="none"><abbr>UCSB    </abbr><br />University Of California, Santa Barbara</li>
			<li type="none"><abbr>UCSC    </abbr><br />University of California, Santa Cruz</li>
			<li type="none"><abbr>UCSD    </abbr><br />University of California San Diego</li>
			<li type="none"><abbr>UCT     </abbr><br />University of Cape Town</li>
			<li type="none"><abbr>UDG     </abbr><br />Universidad de Guadalajara</li>
			<li type="none"><abbr>UEA     </abbr><br />University of East Anglia</li>
			<li type="none"><abbr>UIB     </abbr><br />University of Bergen</li>
			<li type="none"><abbr>UK      </abbr><br />United Kingdom</li>
			<li type="none"><abbr>UL      </abbr><br />Universidade de Lisboa</li>
			<li type="none"><abbr>ULPGC   </abbr><br />Universidad de Las Palmas de Gran Canaria</li>
			<li type="none"><abbr>UMASS   </abbr><br />University of Massachusetts</li>
			<li type="none"><abbr>UMD     </abbr><br />University of Maryland</li>
			<li type="none"><abbr>UNAK    </abbr><br />University of Akureyri</li>
			<li type="none"><abbr>UNAM    </abbr><br />Univ Nacional Autonoma de Mexico</li>
			<li type="none"><abbr>UNC     </abbr><br />University of North Carolina</li>
			<li type="none"><abbr>UNCWIL  </abbr><br />University of North Carolina at Wilmington</li>
			<li type="none"><abbr>UNH     </abbr><br />University of New Hampshire</li>
			<li type="none"><abbr>UNIBE   </abbr><br />University of Bern</li>
			<li type="none"><abbr>UNI-KIEL</abbr><br />        UniversitŠt Kiel</li>
			<li type="none"><abbr>UNIMELB </abbr><br />University of Melbourne</li>
			<li type="none"><abbr>UNIS    </abbr><br />The University Courses on Svalbard</li>
			<li type="none"><abbr>UNSW    </abbr><br />University of New South Wales</li>
			<li type="none"><abbr>UPC     </abbr><br />Universitat Politecnica de Catalunya</li>
			<li type="none"><abbr>URI     </abbr><br />University of Rhode Island</li>
			<li type="none"><abbr>US      </abbr><br />UniversitŠt Stuttgart, Germany</li>
			<li type="none"><abbr>USA     </abbr><br />United States of America</li>
			<li type="none"><abbr>USCG    </abbr><br />US Coast Guard Academy</li>
			<li type="none"><abbr>USF     </abbr><br />University of South Florida</li>
			<li type="none"><abbr>USM     </abbr><br />University of Southern Mississippi</li>
			<li type="none"><abbr>USNO    </abbr><br />US Naval Observatory</li>
			<li type="none"><abbr>USOUTHAL</abbr><br />        University of Alabama</li>
			<li type="none"><abbr>USP     </abbr><br />Universidade De Sao Paulo</li>
			<li type="none"><abbr>USYD    </abbr><br />University of Sydney</li>
			<li type="none"><abbr>UTEXAS  </abbr><br />University of Texas</li>
			<li type="none"><abbr>U-TOKYO </abbr><br />University of Tokyo</li>
			<li type="none"><abbr>UTORONTO</abbr><br />        University of Toronto</li>
			<li type="none"><abbr>UVIC    </abbr><br />University of Victoria</li>
			<li type="none"><abbr>UVIGO   </abbr><br />Universidade de Vigo</li>
			<li type="none"><abbr>UW      </abbr><br />University of Washington</li>
			<li type="none"><abbr>UWA     </abbr><br />University of Western Australia</li>
			<li type="none"><abbr>VIMS    </abbr><br />Virginia Institute of Marine Sciences</li>
			<li type="none"><abbr>WHOI    </abbr><br />Woods Hole Oceanographic Institution</li>
			<li type="none"><abbr>WISC    </abbr><br />University of Wisconsin</li>
		</td><!-- Places -->
		<td valign="top"><!-- Oceanography Terms -->
			<li type="none"><abbr>AAIW    </abbr><br />Antarctic Intermediate Water</li>
		        <li type="none"><abbr>BTL     </abbr><br />Bottle Data</li>
		        <li type="none"><abbr>CCD     </abbr><br />Calcite Compensation Depth</li>
			<li type="none"><abbr>CFC     </abbr><br />Chlorofluorocarbon</li>
			<li type="none"><abbr>CGFZ    </abbr><br />Charlie Gibbs Fracture Zone</li>
			<li type="none"><abbr>CRM     </abbr><br />Certified Reference Material</li>
			<li type="none"><abbr>CTD     </abbr><br />Conductivity, Temperature, Depth (Pressure)</li>
			<li type="none"><abbr>DCM     </abbr><br />Deep Chlorophyll Maximum</li>
			<li type="none"><abbr>DIC     </abbr><br />Dissolved Carbon Dioxide</li>
			<li type="none"><abbr>DOBS    </abbr><br />Deep Ocean Bottom Station (DOMEST)</li>
			<li type="none"><abbr>DOP     </abbr><br />Deep Ocean Profiler (DOMEST)</li>
			<li type="none"><abbr>DQE     </abbr><br />Data Quality Evaluation</li>
			<li type="none"><abbr>DSOW    </abbr><br />Denmark Strait Overflow Water</li>
			<li type="none"><abbr>DWBC    </abbr><br />Deep Western Boundary Current</li>
			<li type="none"><abbr>EBC     </abbr><br />Eastern Boundary Current</li>
			<li type="none"><abbr>ESR     </abbr><br />Earth and Space Research</li>
			<li type="none"><abbr>GFZW    </abbr><br />Gibbs Fracture Zone Water</li>
			<li type="none"><abbr>HYD     </abbr><br />Hydrographic Data</li>
			<li type="none"><abbr>IMW     </abbr><br />Intermediate Mediterranean Water</li>
			<li type="none"><abbr>ISOW    </abbr><br />Iceland Scotland Overflow Water</li>
			<li type="none"><abbr>LDW     </abbr><br />Lower Deep Water</li>
			<li type="none"><abbr>LSW     </abbr><br />Labrador Sea Water</li>
			<li type="none"><abbr>LVS     </abbr><br />Large Volume Sample</li>
			<li type="none"><abbr>MART    </abbr><br />Mid-Atlantic Ridge Transport</li>
			<li type="none"><abbr>MLD     </abbr><br />Mixed Layer Depth</li>
			<li type="none"><abbr>MOW     </abbr><br />Mediterranean Overflow Water</li>
			<li type="none"><abbr>MW      </abbr><br />Mediterranean Water</li>
			<li type="none"><abbr>NAC     </abbr><br />North Atlantic Current</li>
			<li type="none"><abbr>NACW    </abbr><br />North Atlantic Central Water</li>
			<li type="none"><abbr>NADW    </abbr><br />North Atlantic Deep Water</li>
			<li type="none"><abbr>NAO     </abbr><br />North Atlantic Oscillation</li>
			<li type="none"><abbr>NUT     </abbr><br />Nutrient</li>
			<li type="none"><abbr>SMOW    </abbr><br />Standard Mean Ocean Water</li>
			<li type="none"><abbr>SPM     </abbr><br />Suspended Particulate Matter</li>
			<li type="none"><abbr>SPMW    </abbr><br />Subpolar Mode Water</li>
			<li type="none"><abbr>SST     </abbr><br />Sea Surface Temperature</li>
			<li type="none"><abbr>SSW     </abbr><br />Standard Sea Water</li>
			<li type="none"><abbr>SUM     </abbr><br />Summary File (stations)</li>
			<li type="none"><abbr>SVS     </abbr><br />Small Volume Sample</li>
			<li type="none"><abbr>SW      </abbr><br />Surface Water</li>
		</td><!-- Oceanography Terms -->
	</tr>
</table>		
</ul>
