{%- extends 'static/static.jinja2' %}
{%- block title %}Abbreviations{%- endblock %}
{%- set abbrs = {
  'equipment': {
    'ADCP': 'Acoustic Doppler Current Profiler', 
    'ECD': 'Electron Capture Detector', 
    'GKG': 'Gro§kastengreifer (Box Corer)', 
    'KL': 'Kastenlot (Piston Corer)', 
    'LADCP': 'Lowered Acoustic Doppler Current Profiler', 
    'MSD': 'Multi Sensor Device (DOMEST)', 
    'MSU': 'Moored Sensor Unit', 
    'MUC': 'Multicorer', 
    'NOSAMS': 'The National Ocean Sciences Accelerator Mass Spectrometry', 
    'SBU': 'Surface Buoy Unit (DOMEST)', 
    'SSP': 'Sub Surface Platform', 
  },
  'projects': {
    'BAS': 'British Antarctic Survey', 
    'CANIGO': 'Canary Islands Gibraltar Observations', 
    'VEINS': 'Variability of Exchanges in the Northern Seas', 
  },
  'tech_terms': {
    'FFT': 'Fast Fourier Transformation', 
    'KML': 'Keyhole Markup Language', 
    'MN': 'Multinet', 
    'TMC': 'Technical & Marketing Communication', 
  },
  'groups': {
     'CCHDO': "CLIVAR & Carbon Hydrographic Data Office", 
     'CSIC': "Consejo Superior de Investigaciones Cientificas", 
     'CSIRO': "Commonwealth Scientific and Industrial Research Organisation (Australia)", 
     'ESTO': "Earth Science and Technology Organization", 
     'ESTOC': "European Station of Time Series, Canary Islands", 
     'GRGS': "Groupe De Recherche En Geodesie Spatiale", 
     'INSU': "l'Institut National Des Sciences De L'Univers", 
     'IOC': "Intergovermental Oceanographic Commission", 
     'IODP': "Integrated Ocean Drilling Program", 
     'IOS': "Institute of Ocean Sciences", 
     'JAMSTEC': "Japan Agency for Marine-Earth Science and Technology", 
     'JGOFS': "Joint Global Ocean Flux Study", 
     'JMA': "Japan Meteorological Agency", 
     'JODC': "Japan Oceanographic Data Center", 
     'MARIS': "Marine Information Service", 
     'MEDS': "Marine Environmental Data Service", 
     'NAVO': "US Naval Oceanographic Office", 
     'NCAR': "National Center for Atmospheric Research", 
     'NIOZ': "Royal Netherlands Institute For Sea Research", 
     'NIPR': "National Institute of Polar Research", 
     'NIRE': "National Institute For Resources And Environment", 
     'NIWA': "National Institute Of Water And Atmospheric Research", 
     'NOAA': "National Oceanic and Atmospheric Administration", 
     'NODC': "National Oceanographic Data Center", 
     'NOS': "National Ocean Service", 
     'NSF': "National Science Foundation", 
     'ONR': "Office of Naval Research", 
     'SHN': "Servicio de Hidrografia Naval", 
     'SHOA': "Servicio Hidrogafico y Oceanografico de la Armada", 
     'SMBA': "Scottish Marine Biological Association", 
     'WHPO': "WOCE Hydrographic Program Office", 
     'WMO': "World Meteorological Organization", 
     'WOCE': "World Ocean Circulation Experiment", 
  },
  'places': {
     'AARI': "Arctic and Antarctic Research Institute", 
     'ALASKA': "University of Alaska", 
     'ANSTO': "Australian Nuclear Science And Technology Organization", 
     'ANU': "Australian National University", 
     'AOML': "Atlantic Oceanographic and Meteorological Laboratory", 
     'AUS': "Australia", 
     'ARG': "Argentina", 
     'AWI': "Alfred Wegener Institute für Polar und Meeresforschung", 
     'BIO': "Bedford Institution of Oceanography", 
     'BMRC': "Bureau of Meteorology Research Centre", 
     'BODC': "British Oceanographic Data Centre", 
     'BRA': "Brazil", 
     'BSH': "Bundesamt für Seeschiffahrt und Hydrographie", 
     'CAM': "University of Cambridge", 
     'CAN': "Canada", 
     'CEA': "Centre D'Etudes De Saclay", 
     'CHI': "Chile", 
     'CNES': "Centre National d'ƒtudes Spatiales", 
     'CNRS': "Centre National de la Recherche Scientifique", 
     'CRC': "Cooperative Research Centre", 
     'DAL': "Dalhousie University", 
     'DKRZ': "Max-Planck-Institut Für Meteorologie", 
     'DML': "Dunstaffnage Marine Laboratory", 
     'DOMEST': "Datenübertragung im Ozean und Me§technik zur hochauflšsenden Erfassung des StofftranSportes in der Tiefsee", 
     'DWD': "Deutscher Wetterdienst, Hamburg, Germany", 
     'FH': "Fachhochschule Hamburg, Germany", 
     'FIAMS': "Flinders University Of South Australia", 
     'FIRM': "Finnish Institute of Marine Research", 
     'FIS': "Forschungsinstitut Senckenberg, Germany", 
     'FLINDERS': "Flinders University of South Australia", 
     'FRA': "France", 
     'FSU': "Florida State University", 
     'GER': "Germany", 
     'HPEL': "Horn Point Environmental Laboratory", 
     'HUJI': "The Hebrew University of Jerusalem", 
     'IC': "Imperial College", 
     'ICCM': "Instituto Canario de Ciencias Marinas", 
     'IFMK': "Institute for Marine Research, Kiel University", 
     'IFMK ': "Institut Für Meereskunde An Der Universitaet Kiel", 
     'IFREMER': "French institute for exploitation of the sea", 
     'IMA': "Institute of Marine Affairs", 
     'IMR': "Institute of Marine Research", 
     'IND': "India", 
     'IOW': "Baltic Sea Research Institute, Warnemünde, Germany", 
     'ITE': "Institute of Terrestrial Ecology", 
     'JHU': "Johns Hopkins University", 
     'JPN': "Japan", 
     'KNMI': "Royal Netherlands Meteorological Institute", 
     'KU': "University of Copenhagen", 
     'LANL': "Los Alamos National Laboratory", 
     'LBNL': "Lawrence Berkeley National Laboratory", 
     'LDEO': "Lamont Doherty Earth Observatory", 
     'LLNL': "Lawrence Livermore National Laboratory", 
     'LODYC': "Laboratoire d'OcŽanographie Dynamique et de Climatologie", 
     'LSU': "Louisiana State University", 
     'MBA': "Marine Biological Association, Plymouth, UK", 
     'MCM': "Marine and Coastal Management, Cape Town, South Africa", 
     'MIT': "Massachusetts Institute of Technology", 
     'MSU': "Moscow State University", 
     'NATMIRC': "National Marine Information and Research Centre, Swakopmund, Namibia", 
     'NCSU': "North Carolina State University", 
     'NEBROC': "Netherlands Bremen Oceanography", 
     'NET': "Netherlands", 
     'NEW': "New Zealand", 
     'NOR': "Norway", 
     'NPOLAR': "Norwegian Polar Research Institute", 
     'NPS': "Naval Postgraduate School", 
     'NRL': "Naval Research Laboratory", 
     'NRSC': "Nansen Environmental and Remote Sensing Center", 
     'NTOU': "National Taiwan Ocean University", 
     'NTU': "National Taiwan University", 
     'ORI': "University of Tokyo", 
     'ORST': "Oregon State University", 
     'OSU': "Ohio State University", 
     'OU': "University of Oklahoma", 
     'PMEL': "Pacific Marine Environmental Lab", 
     'PML': "Plymouth Marine Laboratory", 
     'PNL': "Pacific Northwest Laboratory", 
     'PNU': "Pusan National University", 
     'POL': "Proudman Oceanographic Laboratory", 
     'RSMAS': "Rosenstiel School of Marine and Atmospheric Science", 
     'RUS': "Russia", 
     'SA': "South America", 
     'SFCC': "Spokane Falls Community College", 
     'SIO': "Scripps Institution of Oceanography", 
     'SL': "Southampton Laboratory, UK", 
     'SMHI': "Swedish Meteorological and Hydrological Institute", 
     'SOC': "Southampton Oceanography Centre", 
     'SOI': "State Oceanographic Institute", 
     'SPN': "Spain", 
     'SU': "Stockholm University", 
     'SUNYSB': "State University of New York at Stony Brook", 
     'TA&M': "Texas A&M University", 
     'UBC': "University of British Columbia", 
     'UBIFU': "UniversitŠt Bremen", 
     'UCA': "Universidad de Cadiz", 
     'UCG': "University College Galway", 
     'UCI': "University of California at Irvine", 
     'UCL': "University College London", 
     'UCLA': "University of California Los Angeles", 
     'UCONN': "University of Connecticut", 
     'UCR': "Universidad de Costa Rica", 
     'UCSB': "University Of California, Santa Barbara", 
     'UCSC': "University of California, Santa Cruz", 
     'UCSD': "University of California San Diego", 
     'UCT': "University of Cape Town", 
     'UDG': "Universidad de Guadalajara", 
     'UEA': "University of East Anglia", 
     'UIB': "University of Bergen", 
     'UK': "United Kingdom", 
     'UL': "Universidade de Lisboa", 
     'ULPGC': "Universidad de Las Palmas de Gran Canaria", 
     'UMASS': "University of Massachusetts", 
     'UMD': "University of Maryland", 
     'UNAK': "University of Akureyri", 
     'UNAM': "Univ Nacional Autonoma de Mexico", 
     'UNC': "University of North Carolina", 
     'UNCWIL': "University of North Carolina at Wilmington", 
     'UNH': "University of New Hampshire", 
     'UNIBE': "University of Bern", 
     'UNI-KIEL': "UniversitŠt Kiel", 
     'UNIMELB': "University of Melbourne", 
     'UNIS': "The University Courses on Svalbard", 
     'UNSW': "University of New South Wales", 
     'UPC': "Universitat Politecnica de Catalunya", 
     'URI': "University of Rhode Island", 
     'US': "UniversitŠt Stuttgart, Germany", 
     'USA': "United States of America", 
     'USCG': "US Coast Guard Academy", 
     'USF': "University of South Florida", 
     'USM': "University of Southern Mississippi", 
     'USNO': "US Naval Observatory", 
     'USOUTHAL': "University of Alabama", 
     'USP': "Universidade De Sao Paulo", 
     'USYD': "University of Sydney", 
     'UTEXAS': "University of Texas", 
     'U-TOKYO': "University of Tokyo", 
     'UTORONTO': "University of Toronto", 
     'UVIC': "University of Victoria", 
     'UVIGO': "Universidade de Vigo", 
     'UW': "University of Washington", 
     'UWA': "University of Western Australia", 
     'VIMS': "Virginia Institute of Marine Sciences", 
     'WHOI': "Woods Hole Oceanographic Institution", 
     'WISC': "University of Wisconsin", 
  },
  'oceanography_terms': {
     'AAIW': "Antarctic Intermediate Water", 
     'BTL': "Bottle Data", 
     'CCD': "Calcite Compensation Depth", 
     'CFC': "Chlorofluorocarbon", 
     'CGFZ': "Charlie Gibbs Fracture Zone", 
     'CRM': "Certified Reference Material", 
     'CTD': "Conductivity, Temperature, Depth (Pressure)", 
     'DCM': "Deep Chlorophyll Maximum", 
     'DIC': "Dissolved Carbon Dioxide", 
     'DOBS': "Deep Ocean Bottom Station (DOMEST)", 
     'DOP': "Deep Ocean Profiler (DOMEST)", 
     'DQE': "Data Quality Evaluation", 
     'DSOW': "Denmark Strait Overflow Water", 
     'DWBC': "Deep Western Boundary Current", 
     'EBC': "Eastern Boundary Current", 
     'ESR': "Earth and Space Research", 
     'GFZW': "Gibbs Fracture Zone Water", 
     'HYD': "Hydrographic Data", 
     'IMW': "Intermediate Mediterranean Water", 
     'ISOW': "Iceland Scotland Overflow Water", 
     'LDW': "Lower Deep Water", 
     'LSW': "Labrador Sea Water", 
     'LVS': "Large Volume Sample", 
     'MART': "Mid-Atlantic Ridge Transport", 
     'MLD': "Mixed Layer Depth", 
     'MOW': "Mediterranean Overflow Water", 
     'MW': "Mediterranean Water", 
     'NAC': "North Atlantic Current", 
     'NACW': "North Atlantic Central Water", 
     'NADW': "North Atlantic Deep Water", 
     'NAO': "North Atlantic Oscillation", 
     'NUT': "Nutrient", 
     'SMOW': "Standard Mean Ocean Water", 
     'SPM': "Suspended Particulate Matter", 
     'SPMW': "Subpolar Mode Water", 
     'SST': "Sea Surface Temperature", 
     'SSW': "Standard Sea Water", 
     'SUM': "Summary File (stations)", 
     'SVS': "Small Volume Sample", 
     'SW': "Surface Water", 
  },
} %}
{%- macro dictionary(section) %}
  <dl>
  {%- for k, v in section|dictsort %}
    <dt><abbr>{{k}}</abbr></dt>
    <dd>{{v}}</dd>
  {%- endfor %}
  </dl>
{%- endmacro %}
{%- block content %}
  {%- call h.boxed('Abbreviations', class='abbreviations') %}
  <table>
    <tr class="header first">
      <th>Equipment</th><th>Projects</th><th>Technology Terms</th>
    </tr>
    <tr>
      <td>{{ dictionary(abbrs['equipment']) }}</td>
      <td>{{ dictionary(abbrs['projects']) }}</td>
      <td>{{ dictionary(abbrs['tech_terms']) }}</td>
    </tr>
    <tr class="header">
      <th>Groups</th><th>Places</th><th>Oceanography Terms</th>
    </tr>
    <tr>
      <td>{{ dictionary(abbrs['groups']) }}</td>
      <td>{{ dictionary(abbrs['places']) }}</td>
      <td>{{ dictionary(abbrs['oceanography_terms']) }}</td>
    </tr>
  </table>
  {%- endcall %}
{%- endblock %}
