{%- extends 'static/static.jinja2' %}
{%- block title %}Contact{%- endblock %}
{%- macro tel(num) %}
  <a href="tel:{{num}}">{{num}}</a>
{%- endmacro %}
{%- block content %}
  {% call h.boxed('Contact', class='contact') -%}
    <div class="organization">
      <div class="vcard cchdo">
        <h2 class="fn org">CLIVAR and Carbon Hydrographic Data Office</h2>
        <p class="organization-unit">UCSD/SIO</p>
        <h3>Mail</h3>
        <div class="adr">
          <div class="street-address">9500 Gilman Drive 0214</div>
          <p><span class="locality">La Jolla</span>, <span class="region">CA</span> <span class="postal-code">92093-0214</span></p>
          <span class="country-name hidden">USA</span>
        </div>
        <h3>Physical</h3>
        <div class="adr">
          <p class="extended-address">Isaacs Hall</p>
          <div class="street-address">8855 Biological Grade</div>
          <p><span class="locality">La Jolla</span>, <span class="region">CA</span> <span class="postal-code">92037</span></p>
          <span class="country-name hidden">USA</span>
        </div>
        <table>
          <tr class="tel"><th><span class="type hidden">pref</span>Telephone</th><td class="value">{{tel('858-822-1770')}}</td></tr>
          <tr class="tel"><th><span class="type">Fax</span></th><td class="value">858-534-7383</td></tr>
          <tr><th>Email</th><td>{{ h.email_link('cchdo@ucsd.edu') }} <p>(This email address will reach all senior CCHDO staff)</p></td></tr>
        </table>
      </div>
    </div>

    <div class="people">
      <div id="jswift" class="vcard">
        <h3 class="role">Director</h3>
        <p class="fn n"><span class="honorific-prefix">Dr.</span> <span class="given-name">James</span> <span class="additional-name">H.</span> <span class="family-name">Swift</span></p>
        <div class="adr">
          <p class="extended-address">Isaacs Hall, Room 308</p>
          <span class="street-address hidden">8855 Biological Grade</span>
          <span class="locality hidden">La Jolla</span>
          <span class="region hidden">CA</span>
          <span class="postal-code hidden">92093</span>
        </div>
        <p class="tel"><span class="type hidden">work</span>{{tel('858-534-3387')}}</p>
        {{ h.email_link('jswift@ucsd.edu', 'work') }}
      </div>

      <div id="sdiggs" class="vcard">
        <h3 class="role">Data Manager</h3>
        <p class="fn n"><span class="given-name">Stephen</span> <span class="additional-name">C.</span> <span class="family-name">Diggs</span></p>
        <div class="adr">
          <p class="extended-address">Isaacs Hall, Room 310</p>
          <span class="street-address hidden">8855 Biological Grade</span>
          <span class="locality hidden">La Jolla</span>
          <span class="region hidden">CA</span>
          <span class="postal-code hidden">92093</span>
        </div>
        <p class="tel"><span class="type hidden">work</span>{{tel('858-534-1108')}}</p>
        {{ h.email_link('sdiggs@ucsd.edu', 'work') }}
      </div>

      <div id="jkappa" class="vcard">
        <h3 class="role">Publications and Administration</h3>
        <p class="fn n"><span class="given-name">Jerry</span> <span class="additional-name">L.</span> <span class="family-name">Kappa</span></p>
        <div class="adr">
          <p class="extended-address">Isaacs Hall, Room 319</p>
          <span class="street-address hidden">8855 Biological Grade</span>
          <span class="locality hidden">La Jolla</span>
          <span class="region hidden">CA</span>
          <span class="postal-code hidden">92093</span>
        </div>
        <p class="tel"><span class="type hidden">work</span>{{tel('858-822-1770')}}</p>
        {{ h.email_link('jkappa@ucsd.edu', 'work') }}
      </div>

      <div id="myshen" class="vcard">
        <h3 class="role">Database and Systems</h3>
        <p class="fn n"><span class="given-name">Matt</span> <span class="family-name">Shen</span></p>
        <div class="adr">
          <p class="extended-address">Isaacs Hall, Room 317</p>
          <span class="street-address hidden">8855 Biological Grade</span>
          <span class="locality hidden">La Jolla</span>
          <span class="region hidden">CA</span>
          <span class="postal-code hidden">92093</span>
        </div>
        <p class="tel"><span class="type hidden">work</span>{{tel('858-534-1900')}}</p>
        {{ h.email_link('myshen@ucsd.edu', 'work') }}
      </div>

      <div id="r9lee" class="vcard">
        <h3 class="role">Webmaster</h3>
        <p class="fn n"><span class="given-name">Roxanne</span> <span class="family-name">Lee</span></p>
        <div class="adr">
          <p class="extended-address">Isaacs Hall, Room 315</p>
          <span class="street-address hidden">8855 Biological Grade</span>
          <span class="locality hidden">La Jolla</span>
          <span class="region hidden">CA</span>
          <span class="postal-code hidden">92093</span>
        </div>
        <p class="tel"><span class="type hidden">work</span>{{tel('858-534-1900')}}</p>
        {{ h.email_link('r9lee@ucsd.edu', 'work') }}
      </div>

      <div id="cberys" class="vcard">
        <h3 class="role">Staff</h3>
        <p class="fn n"><span class="given-name">Carolina</span> <span class="family-name">Berys</span></p>
        <div class="adr">
          <p class="extended-address">Isaacs Hall, Room 321A</p>
          <span class="street-address hidden">8855 Biological Grade</span>
          <span class="locality hidden">La Jolla</span>
          <span class="region hidden">CA</span>
          <span class="postal-code hidden">92093</span>
        </div>
        <p class="tel"><span class="type hidden">work</span>{{tel('858-534-3416')}}</p>
        {{ h.email_link('carolina@ucsd.edu', 'work') }}
      </div>

      <div id="abarna" class="vcard">
        <h3 class="role">Staff</h3>
        <p class="fn n"><span class="given-name">Andrew</span> <span class="family-name">Barna</span></p>
        <div class="adr">
          <p class="extended-address">Isaacs Hall, Room 317</p>
          <span class="street-address hidden">8855 Biological Grade</span>
          <span class="locality hidden">La Jolla</span>
          <span class="region hidden">CA</span>
          <span class="postal-code hidden">92093</span>
        </div>
        <p class="tel"><span class="type hidden">work</span>{{tel('858-534-1900')}}</p>
        {{ h.email_link('abarna@ucsd.edu', 'work') }}
      </div>

      <div id="jfields" class="vcard">
        <h3 class="role">Consultant</h3>
        <p class="fn n"><span class="given-name">Justin</span> <span class="additional-name">C.</span> <span class="family-name">Fields</span></p>
        {{ h.email_link('jfields@ucsd.edu', 'work') }}
      </div>
    </div>
  {%- endcall %}
{%- endblock %}
