{%- extends 'static/static.jinja2' %}
{# TODO DEPRECATED? #}
{%- block title %}Website Guide{%- endblock %}
{%- block content %}
  {%- call h.boxed('Guide to the CCHDO Website', class='website-guide') %}
  <p>The CCHDO website provides several tools for accessing data and data descriptions.</p>

  <div class="subsection">
    <h2>Data by Basin</h2>
    <div class="figure">
      <img src="images/guide_databyocean1.jpg" alt="Searching data by basin">
      <p class="caption"><strong>Figure 1</strong>: Mousing over "Browse"</p>
    </div>

    <div class="figure">
      <img src="images/guide_databyocean2.jpg" alt="Searching data by ocean">
      <p class="caption"><strong>Figure 2</strong>: Selecting an ocean to search for data in that region</p>
    </div>
    <p>To view cruise listings for an entire ocean, mouse over "DATA BY OCEAN"
      (Figure 1) and click on the desired region (Figure 2). Proceed to click on
      a line number and a results page will come up with pertinent cruise and
      parameter information. Clicking on a line number in these results pages
      will display links to the Data History, available Data Files, a map of the
      cruise and more information about the chief scientist(s).
    </p>
  </div>

  <div class="subsection">
    <h2>Search Data</h2>
    <div class="figure">
      <img src="images/guide_search.jpg" alt="Primary way to search">
      <p class="caption"><strong>Figure 3</strong>: A convenient search bar on every page</p>
    </div>

    <p>Many methods are available to search for data. The primary mode of
      searching is using the search field just below the main menu on each page
      (Figure 3). This is the natural language search. You can enter any number
      of terms, but they should describe one of the following:
    </p>

    <ul>
      <li>Country</li>
      <li>Ship</li>
      <li>Chief Scientist</li>
      <li>Year of Cruise</li>
      <li>Name or Line Number</li>
      <li>Parameters collected (See <a href="/parameters.html">Parameters Descriptions</a>)</li>
      <li>ExpoCode (See <a href="/policies.html">ExpoCode Descriptions</a>)</li>
    </ul>

    <p>Enter the term(s) in the search field and press "Return"/"Enter" or click
      on the white arrow. Search results will display in a table with cruise
      information and links to the Data History, Data Files, a map of the cruise
      (if available), and the PI's contact information and associated cruises (if
      available).
    </p>

    <p>
      The other methods are accessed by mousing over "SEARCH DATA."
    </p>

    <div class="figure">
      <img src="images/guide_advancedsearch.jpg" alt="Advanced Search">
      <p class="caption"><strong>Figure 4</strong>: Doing an advanced search</p>
    </div>

    <p>The <em>Advanced Search</em> page (Figure 4) allows you to specify what
      type of cruise information you would like your queries to match (line
      number, ExpoCode, Data Contact (the PI), ship, country, and cruise dates).
      As you enter words in the search fields, an autosuggest drop-down list
      appears for your convenience. When you finish inputting the desired search
      inquiry, click on "Find Cruises." This page also conducts searches for
      files by file types and modification date. Choose the appropriate file type
      and date and click on "Find Files."
    </p>

    <div class="figure">
      <img src="images/guide_bulkdownload.jpg" alt="Bulk Search">
      <p class="caption"><strong>Figure 5</strong>: Selecting files in the Bulk Search method</p>
    </div>

    <p>
      The <em>Bulk Download</em> page is useful to search and download multiple
      files at once.  Click the boxes left of the appropriate files to add them
      to your "cart" - the table beneath "Files to Archive and Download" (Figure
      5). When you have finished making your selections, click on "Download
      Files."
    </p>

    <div class="figure">
      <img src="images/guide_cruisemaps.jpg" alt="Cruise Maps">
      <p class="caption"><strong>Figure 6</strong>: Mousing over a line number to see the corresponding track on the map</p>
    </div>

    <p>
      The <em>Cruise Maps</em> page brings up an interactive map.  Enter your
      inquiry on the top left search field by cruise year, country, ship, chief
      scientist, line, parameters, or ExpoCode and click on "Search."  Mousing
      over a line number will turn the corresponding cruise track green (Figure
      6).
    </p>
  </div>

  <div class="subsection">
    <h2>Submit Data</h2>
    <p>
      If you would like to submit data, fill in all the fields to the best of
      your abilities - all the fields in the "Contact Information" table must be
      filled in. Once you finish entering the information, click "Save
      changes."
    </p>
  </div>

  <div class="subsection">
    <h2>Contact</h2>
    <p>
      This page lists the different ways to contact those that oversee the maintenance and accuracy of this site.
    </p>

    <h2>Info</h2>
    <p>
      The <em>Manuals</em> page offers a resource on the requirements for data
      reporting and WOCE Operations.
    </p>

    <p>
      The <em>Policies</em> page describes the protocols and management of
      data.
    </p>

    <p>
      The <em>Format</em> page defines how data is formatted and provides the appropriate examples.
    </p>
  </div>

  {%- endcall %}
{%- endblock %}
