<div class='boxed'>
<h1>Pacific Cruises</h1>
<div class='box_content'>
<h2>Maps</h2>
<ul>
<li><a href="maps/pac_map.html">Entire Pacific</a></li>
<li><a href="maps/pac_asia.html">West Pacific</a></li>
<li><a href="maps/pac_aust.html">Southwest Pacific</a></li>
<li><a href="maps/pac_amer.html">East Pacific</a></li>
</ul>

<h2><strong>Tables</strong> - Grouped by WOCE-era designation</h2>

<h3><a href="/groups?id=Pacific+Onetime">Pacific WHP Onetime</a></h3>
<a href="/groups?id=p01">P01</a> |
<a href="/groups?id=p02">P02</a> |
<a href="/groups?id=p03">P03</a> |
<a href="/groups?id=p04">P04</a> |
<!--		<a href="/groups?id=p05">P05</a> | -->
<a href="/groups?id=p06">P06</a> |
<a href="/groups?id=p08">P08</a> |
<a href="/groups?id=p09">P09</a> |
<a href="/groups?id=p10">P10</a> |
<a href="/groups?id=p11">P11</a>
<br />
<a href="/groups?id=p13">P13</a> |
<a href="/groups?id=p14">P14</a> |
<a href="/groups?id=p15">P15</a> |
<a href="/groups?id=p16">P16</a> |
<a href="/groups?id=p17">P17</a> |
<a href="/groups?id=p18">P18</a> |
<a href="/groups?id=p19">P19</a> |
<a href="/groups?id=p21">P21</a> |
<a href="/groups?id=p24">P24</a> |
<a href="/groups?id=p31">P31</a>

<h3><a href="/groups?id=Pacific+Repeat">Pacific WHP Repeat</a></h3>
<a href="/groups?id=pr01">PR01</a> |
<a href="/groups?id=pr02">PR02</a> |
<a href="/groups?id=pr03">PR03</a> |
<a href="/groups?id=pr04">PR04</a> |
<a href="/groups?id=pr05">PR05</a> |
<a href="/groups?id=pr06">PR06 (Station P)</a> |
<a href="/groups?id=pr11">PR11</a> |
<a href="/groups?id=pr13">PR13</a> |
<a href="/groups?id=pr14">PR14</a>
<br />
<a href="/groups?id=pr15">PR15</a> |
<a href="/groups?id=pr16">PR16</a> |
<a href="/groups?id=pr17">PR17</a> |
<a href="/groups?id=pr18">PR18</a> |
<a href="/groups?id=pr19">PR19</a> |
<a href="/groups?id=pr20">PR20</a> |
<a href="/groups?id=pr21">PR21</a> |
<a href="/groups?id=pr22">PR22</a> |
<a href="/groups?id=pr23">PR23</a>
<br />
<a href="/groups?id=pr24">PR24</a> |
<a href="/groups?id=pr25">PR25</a> |
<a href="/groups?id=pr26">PR26</a> |
<a href="/groups?id=pr27">PR27</a> |
<a href="/groups?id=pr31">PR31</a> |
<a href="/groups?id=pr32">PR32</a> |
<a href="/groups?id=pr33">PR33</a>

<h3><a href="maps/metermap.html">Pacific Current Meter Associated WOCE Data</a></h3>
PCM01 |
PCM02 |
<a href="/groups?id=pr11">PCM03</a> |
<a href="/groups?id=pr17">PCM05</a> |
PCM06 |
PCM07 |
<a href="/groups?id=p06">PCM09</a> |
<a href="/data_access?ExpoCode=3250031_1">PCM11</a> |
<a href="/groups?id=pr33">PCM15</a>

<h3><a href="groups?id=HOT">Hawaiian Ocean Time Series </a></h3>

</div>
<div class='box_bottom'></div>
</div>
