{%- extends 'static/static.jinja2' %}
{%- block title %}Seahunt{%- endblock %}
{%- block head %}
  {{ whh.tags.stylesheet_link('/static/css/seahunt.css') }}
{%- endblock %}
{%- block content %}
  {%- call h.boxed('Seahunt', id="seahunt-about", class='pending') %}
    <p>
      Seahunt is a set of interactive web-based tool that provides up-to-date
      metadata and cruise tracks for proposed, planned, and current research
      cruises, and allows users to post the same information about their own
      cruises. Researchers and support staff collaborate to keep this
      information up-to-date.
    </p>
    <div id="years">
      <h2>View research cruises for:</h2>
      <ul id="years-list"><li id="searching"><a href="javascript:void(0);">Loading...</a></li></ul>
    </div>
    <div id="map">
      <a href="/search/results?query=date_start:2012"><img alt="Map of cruises by year" id="base" src="/static/img/seahunt/seahunt_2012.png"></a>
    </div>
  {%- endcall %}
{%- endblock %}
{%- block js %}
  {{- h.GAPI_autoload(request, [
        {
          'name': 'jquery',
          'version': '1.6.4',
        },
        {
          'name': 'maps',
          'version': '3',
          'other_params': 'sensor=false',
        },
      ]) }}
  {{ whh.tags.javascript_link('/static/cchdomap/js/graticule.3.js') }}
  {{ whh.tags.javascript_link('/static/cchdomap/js/etopo_map_type.js') }}
  {{ whh.tags.javascript_link('/static/js/about_seahunt.js') }}
</script>
{%- endblock %}
