{%- extends 'static/static.jinja2' %}
{# TODO DEPRECATED? #}
{%- block title %}Guide{%- endblock %}
{%- block content %}
  {%- call h.boxed('CLIVAR & Carbon Hydrographic Data Office (CCHDO) Site Guide', class='site-guide') %}
    <h2 id="conventions" class="site_guide">Page Conventions</h2>

    <h3>Page Layout</h3>
    <p>
      Every page on the website has the CCHDO logo on the top left corner; a <a
        href="#search_bar">search bar</a> at the top right corner; a <a
        href="#navigation">navigation menu</a> at the top of the page, under
      the image-rotating banner; and the main content displayed underneath the
      navigation menu.
    </p>

    <p>
      The main content is presented in a table or in a modular fashion. Search
      results are presented in a table; the CCHDO home page and Cruise pages
      are presented in boxed modules. Additional content may be accessed from
      links and are presented as blocks of text that appear in a single row
      beneath the link (Refer to <em><strong>Figure 1</strong></em>).
    </p>

    <p class="caption"><img src="images/figure_1_page_layout.jpg" alt="Page layout."><br><strong><em>Figure 1</em></strong>: Page layout with annotated page layout items and examples of additional content accessed by clicking on a link.</p>

    <h3>Links</h3>
    <p>
      With the exception of the <a href="#navigation">navigation menu</a>,
      links use the following color conventions: <span class="link">link</span>
      or <span class="link2">link in search results</span>, <span
        class="visited_link">visited link</span>, and <span
        class="hovered_link">hovered link in search results</span>. There is no
      difference between links with an underline and links without.
    </p>

    <h2 id="navigation" class="site_guide">Navigation</h2>
    <p>
      The navigation menu provides one-click access to the main features of the
      CCHDO website. The following list describes the features the menu items
      would navigate to:
    </p>

    <div class="image_caption">
      <p><img src="images/figure_2_navigation.jpg" alt="Accessing a submenu in the navigation menu."><br><strong><em>Figure 2</em></strong>: Accessing a submenu in the navigation menu.</p>
      <p><img src="images/figure_3a_navigation.jpg" alt="Accessing the second-level submenu in the BROWSE DATA menu."><br><strong><em>Figure 3a</em></strong>: Accessing the second-level submenu in the "BROWSE DATA" menu.</p>
      <p><img src="images/figure_3b_navigation.jpg" alt="Clicking on a second-level submenu item in the BROWSE DATA menu."><br><strong><em>Figure 3b</em></strong>: Clicking on a second-level submenu item in the "BROWSE DATA" menu.</p>
    </div>

    <dl>
      <dt>HOME</dt><dd>The CCHDO home page describes the primary functions and products produced by the CCHDO and provides a "status feed" of the last 5 recently updated data files. More information about a file in the feed can be found by clicking on the ExpoCode link or the map thumbnail image (if available). In addition to this menu item, clicking on the CCHDO icon on the top left corner of any page will take you back to the CCHDO home page.</dd>
      <dt>BROWSE DATA</dt><dd>Search for data by WOCE-designated lines in an ocean (Arctic, Atlantic, Pacific, Indian, or Southern); by Time Series (like the Hawaiian Ocean Time Series (HOTS)); or by projects that the CCHDO collaborates on (like Project Carina). More details about these features are discussed below in the <a href="#browse_data">"BROWSE DATA" Menu section</a>.</dd>
      <dt>SEARCH DATA</dt><dd>Utilize Advanced Search features and an Interactive Map tool to refine your search queries, as discussed in the <a href="#search_data">"SEARCH DATA" Menu section</a>.</dd>
      <dt>SUBMIT DATA</dt><dd>If you are interested in submiting data, this is the page for you. A detailed discussion on using the submission tool is found below in the <a href="#submit">Submit Data section</a>.</dd>
      <dt>CONTACT</dt><dd>Find general CCHDO contact information (general mailing address, telephone and fax numbers, and e-mail address) or specific points of contact amongst senior CCHDO staff members.</dd>
      <dt>INFORMATION</dt><dd>Comprehensive collection of manuals, policies, and other pertinent information about formats.</dd>
    </dl>
    <p>
      The navigation menu is the same on every page. If you should lose your
      way around the site, use this menu or the <a href="#search_bar">search
        bar described below</a> to navigate to a desired location. Do not use
      your browser's "Back" or "Forward" buttons when the website is populating
      results for any search results page.
    </p>
    <p>
      Submenus pop out below navigation menu items "BROWSE DATA," "SEARCH
      DATA," and "INFORMATION." To access these menus, hover over the
      navigation item as shown in <strong><em>Figure 2</em></strong>. When you
      hover over a submenu item, the item's <span class="submenu_hover">text
        will look like this</span>. Click on the desired submenu item to visit
      the page. Note: clicking on a "BROWSE DATA" submenu item will not produce
      any kind of action.
    </p>
    <p>
      "BROWSE DATA" has a second-level submenu indicated by the right double
      angle quote, "&raquo;." Access this second-level submenu by hovering over
      the first-level submenu as shown in <strong><em>Figure 3a</em></strong>.
      When you hover over a second-level submenu item, the item's <span
        class="submenu2_hover">text will look like this</span>; the associated
      first-level submenu item's <span class="submenu_hover">text will look
        like this</span>. Click on the desired second-level submenu item to
      visit the page as shown in <strong><em>Figure 3b</em></strong>.
    </p>

    <h2>Search</h2>

    <p>
      There are three (3) ways to conduct a search on the site: 1) Using the
      Search Bar 2) Navigating through the "BROWSE DATA" menu 3) Using tools
      from the "SEARCH DATA" menu.
    </p>

    <h3 id="search_bar">Search Bar</h3>
    <p>
      At the top right corner of each page is a search bar where you can search
      through a keyword/numerical/alphanumeric query.
    </p>
    <ul>
      <li><em><strong>Keyword queries</strong></em> are words associated with an institution, a ship, or the last name of a chief scientist/PI; for example,"<em>NOAA</em>," "<em>Melville</em>," or "<em>Talley</em>."</li>
      <li><em><strong>Numerical queries</strong></em> are associated with cruise dates; for example, "<em>2008</em>," "<em>09</em>" (this would display results with a cruise date in the month of September or on the 9<sup>th</sup> of a month), or "<em>2005-05-20</em>" (this would display results with a cruise date that started or finished on May 20<sup>th</sup>, 2005).</li>
      <li><em><strong>Alphanumeric queries</strong></em> are associated with a WOCE line number or ExpoCode; for example, "A16," "P16," or  "316N1981."</li>
    </ul>
    <p>
      You can also search by a particular parameter with the syntax
      "<strong>parameter</strong>:<em>query</em>." The following parameters can
      be used:
    </p>
    <ul class="site_guide">
      <li><p class="image_caption"><img src="images/figure_4_syntax_search_bar.jpg" alt="Appropriate search syntax in the search bar."><br><strong><em>Figure 4</em></strong>: Example of typing in the appropriate search syntax in the search bar.</p>Group</li>
      <li>Chief_Scientist</li>
      <li>ExpoCode</li>
      <li>Alias</li>
      <li>Ship</li>
      <li>Line</li>
    </ul>
    <p>
      For example, "ship:knorr," "line:p10," or "chief_scientist:swift" (See
      <strong><em>Figure 4</em></strong>). The <strong>paramater</strong> and
      <em>query</em> are NOT case-sensitive.
    </p>
    <p>
      The "Advanced Search" link below the search bar takes you the same page
      as the <a href="#advanced_search">Advanced Search</a> page discussed in
      the "SEARCH DATA" Menu section below.
    </p>

    <h3 id="browse_data">"BROWSE DATA" Menu</h3>
    <p>
      When navigating through the "BROWSE DATA" menu, you can find data:
    </p>
    <ul class="site_guide">
      <li><p><strong><em>By Ocean</em></strong> - If available, there is a "Maps" section at the top of the page (See <strong><em>Figure 5a</em></strong> below) with a link(s) to a static graphic representation(s) of the region. These graphic representations have clickable labels (See <em><strong>Figure 5b</strong></em> below) that will lead to a results page for the associated WOCE line label. Use the <a href="#interactive_map">Interactive Map</a> tool, described below, to find data in a more dynamic fashion.</p>
        <p>Clicking on a WOCE-designated line link in the "Tables" section of the page will lead you to a search results page with associated cruises. Links are also provided for grouped WOCE lines: OneTime, Repeat, and Current Meter (See <strong><em>Figure 5a</em></strong> below).</p>
        <p class="caption"><img src="images/figure_5a_browse_data_by_ocean.jpg" alt="Annotated features of the Maps and Tables section of an ocean page."><br><em><strong>Figure 5a</strong></em>: Annotated features of the "Maps" and "Tables" section of an ocean page.</p>
        <p class="caption"><img src="images/figure_5b_line_label.jpg" alt="Clickable labels on static graphic representations."><br><em><strong>Figure 5b</strong></em>: Clickable labels on static graphic representations.</p>
      </li>
      <li><p class="image_caption"><img src="images/figure_6_active_and_inactive_tabs.jpg" alt="Active and inactive tabs to sort project results."><br><em><strong>Figure 6</strong></em>: Active and inactive tabs to sort project results.</p><p><strong><em>By Time Series</em></strong> - Clicking on the second-level submenu item would take you to the search results page of the selected time series.</p></li>
      <li><p><strong><em>By Project</em></strong> - Clicking on the second-level submenu item would take you to the project's page. The tabs, on top of the tabular results, help you sort the results in chronological or alphabetical order by method of "ExpoCode," "Ship," "Year," or "Country." An active tab, which indicates the current sorting method, is solid-colored; an inactive tab has a gradient (See <strong><em>Figure 6</em></strong>). The default sorting method is by "Ship;" when you first arrive at the page, the "Ship" tab should be an active tab. Clicking the down arrow on the table header of the "SHIP" column would sort results in reverse alphabetical order (Z-A); clicking the up arrow would sort results in alphabetical order (A-Z). This is similar to the up/down arrow convention used for the <a href="#interactive_map">Interactive Map</a>'s results.</p></li>
    </ul>

    <h3 id="search_data">"SEARCH DATA" Menu</h3>
    <u><em><a name="advanced_search"></a>Advanced Search</em></u><br>
    Instead of searching for data by a keyword, you can refine your search queries by cruises or data files:
    <ul class="site_guide">
      <li><em><strong>Search by Cruises</strong></em> - You must set the cruise date range and define at least one of the 5 following parameters in the provided fields of this section to ensure a productive search: (WOCE) Line Number, ExpoCode, Data Contact (Chief Scientist/PI), Ship, and Country. The default value for the cruise date range is from 01-1980 to 01-1980. Once you have defined the refining search parameters, click on the "Find Cruises" button.</li>
      <li><em><strong>Search by Data Files</strong></em> - You can refine your search results by indicating the data file type (Sum, Bottle, CTD, Documentation, or all of the above) and the month and year the specified file type(s) were last modified. The default values are "All" file types and a modified date of 01-1994. Once you have defined the refining search parameters, click on the "Find Files" button. The search result page would display modified files from the date you specified until the present.</li>
    </ul>

    <h3 id="interactive_map">Interactive Map</h3>

    <p>
      To enhance your interactive experience, please make sure you have the
      most recent version of the <a
        href="http://code.google.com/apis/earth/">Google Earth plugin</a>
      installed so you can view your search results superimposed on a globe
      representation of the Earth. On the drop-down menu on the top right
      corner of the Google Maps that is nominally on "Terrain" mode, choose
      "Earth" mode to begin using Google Earth capabilities (See
      <em><strong>Figure &</strong></em>). Your interactive search functions
      are very similar to those used with Google Maps, as previously discussed.
    </p>

    <h2 id="submit">Submit Data</h2>
    <p>
      For Argo submissions, please read the <a
        href="argo_submission_info.html">Argo Submission Guide</a> before using
      the submission tool. For other types of submissions, please read the <a
        href="CCHDO_DataSubmitGuide.pdf">Submission Guide</a>.
    </p>

  {%- endcall %}
{%- endblock %}
