{%- extends '/base.jinja2' %}
{%- block head %}
  {{ whh.tags.stylesheet_link('/static/css/static.css') }}
{%- endblock %}
{%- macro questions_for_steve(standalone=True) %}
  {%- if standalone %}
    {%- set tag = 'p' %}
  {%- else %}
    {%- set tag = 'span' %}
  {%- endif %}
  <{{tag}} class="vcard">
    {%- if standalone %}Questions/Comments: {%- endif %}
    {{ h.email_link('sdiggs@ucsd.edu', microformat_type='work', microformat_classes=['fn'], content='Steve Diggs') }}
    <span class="tel work"><a href="tel:1-858-534-1108">+1-858-534-1108</a></span>.
  </{{tag}}>
{%- endmacro %}
