{% extends "templates/base.jinja2" %}
{% block title %}Cruises{% endblock %}
{% block content %}
  {% call h.boxed('Cruises') -%}
    <ul class="autopagerize_page_element">
    {% for cruise in cruises %}
      <li>{{ h.link_cruise(cruise) }}</li>
    {% endfor %}
    </ul>
    {{ h.pager_for(cruises) }}
    <p>
      {{ whh.tags.form('/objs/new', 'PUT', hidden_fields={'_obj_type': 'Cruise'}) }}
        <input type="submit" value="New Cruise">
      {{ whh.tags.end_form() }}
    </p>
  {%- endcall %}
{% endblock %}

