{% extends "templates/base.jinja2" %}
{% block title %}Cruise {{cruise.expocode or ''}}{% endblock %}
{% block head -%}
  {{ whh.tags.stylesheet_link('/static/css/cruise.css') }}
{%- endblock %}
{% macro cruise_attr(attr='', val='', callback=None, args) -%}
  {% if val %}
    <p><strong>{{attr}}:</strong> {% if callback %}{{ callback(val, args) }}{% else %}{{ val }}{% endif %}</p>
  {% endif %}
{%- endmacro %}
{%- macro see_or_discuss() %}
  {%- if request.user %}Discuss{%- else %}See{%- endif %}
{%- endmacro %}
{%- macro show_notes(notes) %}
  {%- for note in notes %}
    <tr class="note{% if note.discussion %} discussion{% endif %}">
      <td class="body">{{ note.body }}</td>
      <td class="person">{{ h.link_person(note.creation_stamp.person) }}</td>
      <td class="date">{{ note.creation_stamp.timestamp.strftime('%F %T') }}</td>
    </tr>
  {%- endfor %}
{%- endmacro %}
{%- block content_attrs %} {% if cruise.accepted %}class="cruise-page"{% else %}class="cruise-page pending"{% endif %}{%- endblock %}
{%- block content %}
  {%- if not cruise.accepted %}
    <div id="pending-review" class="flash warning">
      {%- if h.has_mod(request) %}
        <p>This cruise was entered by the public and needs to be reviewed.</p>
        {{ whh.tags.form('/obj/%s' % cruise.id, 'PUT') }}
          <input type="submit" name="action" value="Accept">
          <input type="submit" name="action" value="Reject">
        {{ whh.tags.end_form() }}
      {%- else %}
        <p>This cruise was entered by the public and has not yet been reviewed.</p>
      {%- endif %}
    </div>
  {%- endif %}
  {%- call h.boxed('General Information and Files', id='info', class='upper', box_content_class='scrollable-y') %}
    <div class="subsection general-information">
      <h2>General Information</h2>
      {%- if 'map' in data_files %}
        {{ h.cruise_map_thumb(data_files['map'].get('thumb', None), data_files['map'].get('full', None)) }}
      {%- endif %}
      {{- cruise_attr('ExpoCode', cruise.expocode) }}
      {{- cruise_attr('Aliases', cruise.get('aliases', '')) }}
      {{- cruise_attr('Collections', h.link_collections(cruise.collections)) }}
      {%- if cruise.ship %}
        {{ cruise_attr('Ship', h.link_ship(cruise.ship)) }}
      {%- endif %}
      {%- if cruise.country %}
        {{ cruise_attr('Country', h.link_country(cruise.country)) }}
      {%- endif %}
      {{- cruise_attr('Chief Scientists',
                      h.link_person_institutions(cruise.chief_scientists)) }}
      {{- cruise_attr('Cruise Dates', cruise_dict['cruise_dates']) }}
      {{- cruise_attr('Expedition Link', cruise.get('link'), whh.tags.link_to, cruise.get('link')) }}

      {%- if updates['attrs'] %}
        <a class="updates-available" href="#updates">{{ see_or_discuss() }} suggested attribute changes</a>
      {%- endif %}

      {%- if h.has_mod(request) %}
        <div id="edit_attr" class="editor">
        {{ whh.tags.form('', 'PUT', hidden_fields={'action': 'edit_attr'}) }} 
          <table>
            <tr>
              <th>{{ whh.tags.select('key', None, CRUISE_ATTRS_SELECT) }}</th>
              <td><input type="text" name="value" placeholder="value"></td>
            </tr>
            <tr>
              <th><label for="edit_attr_notes">Notes</label></th>
              <td><textarea id="edit_attr_notes" name="notes"></textarea></td>
            </tr>
            <tr>
              <td class="submit" colspan="2"><input type="submit" value="Set"></td>
            </tr>
          </table>
          </p>
        {{ whh.tags.end_form() }}
        </div>
      {%- endif %}
    </div>
    <div class="clear"></div>
    <div class="subsection data-files">
      <h2>Data Files</h2>

      {%- if cruise.preliminary %}
        <p id="preliminary">These data are preliminary (Please see 
          <a href="">data history</a>)</p> 
      {%- endif %}
      {%- if updates['as_received'] or updates['merged'] %}
        <a class="updates-available" href="#updates">
          {{ see_or_discuss() }} as received files and see merged files</a>
      {%- endif %}

      {%- if 'exchange' in data_files %}
        <h3>Exchange</h3>
        <table>
        {% for type, df in h.sort_data_files(data_files.get('exchange')) -%}
          {{ h.data_file_link(type, df) }}
        {%- endfor %}
        </table>
      {%- endif %}

      {%- if 'netcdf' in data_files %}
        <h3>NetCDF</h3>
        <table>
        {% for type, df in h.sort_data_files(data_files.get('netcdf')) -%}
          {{ h.data_file_link(type, df) }}
        {%- endfor %}
        </table>
      {%- endif %}

      {%- if 'woce' in data_files %}
        <h3>WOCE</h3>
        <table>
        {% for type, df in h.sort_data_files(data_files.get('woce')) -%}
          {{ h.data_file_link(type, df) }}
        {%- endfor %}
        </table>
      {%- endif %}

      {%- if 'doc' in data_files %}
        <h3>Documentation</h3>
        <table>
        {% for type, df in h.sort_data_files(data_files.get('doc')) -%}
          {{ h.data_file_link(type, df) }}
        {%- endfor %}
        </table>
      {%- endif %}
      {%- if not data_files %}
        <div id="data-pending">
          <h4>Data Pending</h4>
          <p>Contact the CCHDO for more information.</p>
          <p>If you are the PI, please contact the CCHDO for submission
             information.</p>
        </div>
      {%- endif %}
      {%- if h.has_mod(request) %}
        <div id="add_file" class="editor">
        {{ whh.tags.form('', 'PUT', multipart=True,
                         hidden_fields={'action': 'suggest_file'}) }} 
          <table>
            <tr>
              <th>{{ whh.tags.select('type', None, FILE_GROUPS_SELECT) }}</th>
              <td><input type="file" name="file"></td>
            </tr>
            <tr>
              <th><label for="suggest_file_notes">Notes</label></th>
              <td><textarea id="suggest_file_notes" name="notes"></textarea></td>
            </tr>
            <tr>
              <td class="submit" colspan="2"><input type="submit" value="Set file"></td>
            </tr>
          </table>
        {{ whh.tags.end_form() }}
        </div>
      {%- endif %}
    </div>
  {%- endcall %}
  {% call h.boxed('Data Histories and Notes', id='history', class='upper') -%}
    <div class="subsection">
      <h2>History</h2>
      <div id="notes" class="scrollable-y">
        {%- if h.has_mod(request) %}
          {{ whh.tags.form('', 'POST') }}
            <input type="hidden" name="action" value="add_note">
        {%- endif %}
        <table class="has-meta-bodies">
          <tr class="header"><th>Date</th><th>Data Type</th><th>Action</th><th>Summary</th></tr>
          {%- if h.has_mod(request) %}
            {%- set i = "new" %}
            {%- set hl="new" %}
            <tr class="mb-link{{ i }} meta {{ hl }} editor">
              <td>Add note</td>
              <td><input type="text" name="note_data_type"></td>
              <td><input type="text" name="note_action"></td>
              <td><input type="text" name="note_summary"></td>
            </tr>
            <tr class="mb-link{{ i }} body {{ hl }}">
              <td colspan="4">
                <label for="note_discussion_{{ i }}">Public</label>
                <input id="note_discussion_{{ i }}" type="checkbox"
                       name="note_discussion" value="public" checked="checked">
              </td>
            </tr>
            <tr class="mb-link{{ i }} body {{ hl }}">
              <td colspan="4"><textarea name="note_note"></textarea></td>
            </tr>
            <tr class="mb-link{{ i }} body {{ hl }}">
              <td colspan="4"><input type="submit" value="Add note"></td>
            </tr>
          {%- endif %}
          {%- for change in history|reverse %}
            {{ h.cruise_history_rows(change, loop.index0, loop.cycle('even', 'odd')) }}
          {%- endfor %}
        </table>
        {%- if h.has_mod(request) %}
          </form>
        {%- endif %}
      </div>
    </div>
  {%- endcall %}
  <div class="clear"></div>
  {%- if updates %}
    {%- call h.boxed('Updates', id="updates") %}
      {%- if updates['attrs'] %}
        <div class="subsection">
          <h2>Attributes</h2>
          <div id="attrs">
            <table class="has-meta-bodies">
              <tr class="header">
                <th>Attribute</th>
                <th>Suggested by</th>
                <th class="date">Suggested at</th>
              </tr>
              {%- for attr in updates['attrs'] %}
                {%- set hl = loop.cycle('even', 'odd') %}
                <tr class="mb-link{{ loop.index0 }} meta {{ hl }}">
                  <td>{{ attr.key }}</td>
                  <td>{{ h.link_person(attr.creation_stamp.person) }}</td>
                  <td class="date">{{ attr.creation_stamp.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
                </tr>
                <tr class="mb-link{{ loop.index0 }} body {{ hl }} suggestion">
                  <td class="change" colspan="2">
                    {%- if attr.deleted %}
                      delete <span class="key">{{ attr.key }}</span>
                    {%- else %}
                      <span class="value">{{ attr.value }}</span>
                    {%- endif %}
                    {%- if attr.pending_stamp %}
                      <span class="pending">(Under review as of {{ attr.pending_stamp.timestamp.strftime('%Y-%m-%d %H:%M') }})</span>
                    {%- endif %}
                  </td>
                  <td>
                    {%- if h.has_mod(request) %}
                      {{ whh.tags.form('/obj/%s/a/%s' % (cruise.id, attr.id), 'PUT') }}
                        <table>
                          <tr>
                            <td>
                              <label for="attr_{{ loop.index0 }}_accept_value">Accept a different value</label>
                              <input id="attr_{{ loop.index0 }}_accept_value" type="text" name="accept_value">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input type="submit" name="action" value="Accept">
                              {%- if not attr.pending_stamp %}
                                <input type="submit" name="action" value="Acknowledge">
                              {%- endif %}
                              <input type="submit" name="action" value="Reject">
                            </td>
                          </tr>
                        </table>
                      {{ whh.tags.end_form() }}
                    {%- endif %}
                  </td>
                </tr>
                {%- if attr.notes or h.has_mod(request) %}
                  <tr class="mb-link{{ loop.index0 }} body {{ hl }}">
                    <td colspan="3">
                      {%- if h.has_mod(request) %}
                        {{ whh.tags.form('', 'POST', hidden_fields={
                                           'action': 'add_note_to_attr',
                                           'attr_id': attr.id}) }}
                      {%- endif %}
                      <table>
                        {%- if h.has_mod(request) %}
                          {{ show_notes(attr.notes) }}
                        {%- else %}
                          {{ show_notes(attr.notes_public) }}
                        {%- endif %}
                        {%- if h.has_mod(request) %}
                          <tr id="add_note_attr" class="note add-note">
                            <td class="body"><textarea name="note"></textarea></td>
                            <td class="person">
                              <label for="attrs_{{ loop.index0 }}_add_note_public">Public</label>
                              <input id="attrs_{{ loop.index0 }}_add_note_public"
                                     type="checkbox" name="public" value="public">
                            </td>
                            <td class="date"><input type="submit" value="Add note"></td>
                            </td>
                          </tr>
                        {%- endif %}
                      </table>
                      {%- if h.has_mod(request) %}
                        </form>
                      {%- endif %}
                    </td>
                  </tr>
                {%- endif %}
              {%- endfor %}
            </table>
          </div>
        </div>
      {%- endif %}
      {%- if updates['as_received'] %}
        <div class="subsection">
          <h2>Files as received</h2>
          <div id="as_received">
            <table class="has-meta-bodies">
              <tr class="header">
                <th>File</th>
                <th class="date">Date Received</th>
              </tr>
              {%- for file in updates['as_received'] %}
                {%- set hl = loop.cycle('even', 'odd') %}
                <tr class="mb-link{{ loop.index0 }} meta {{ hl }}">
                  <td>
                    {%- if file['file'].pending_stamp %}
                      {{ whh.tags.link_to(
                           file['file'].file.name, h.data_uri(file['file'])) }}
                    {%- else %}
                      {{ file['file'].file.name }}
                    {%- endif %}
                  </td>
                  <td class="date">{{ file['date'] }}</td>
                </tr>
                <tr class="mb-link{{ loop.index0 }} body {{ hl }} suggestion">
                  <td class="change">
                    {%- if file['file'].pending_stamp %}
                      <span class="pending">(Under review as of {{ file['file'].pending_stamp.timestamp.strftime('%Y-%m-%d %H:%M') }})</span>
                    {%- endif %}
                  </td>
                  <td>
                    {%- if h.has_mod(request) %}
                      {{ whh.tags.form(
                           '/obj/%s/a/%s' % (cruise.id, file['file'].id),
                           'PUT', multipart=True) }}
                        <table>
                          <tr>
                            <td>
                              <label for="file_{{ loop.index0 }}_accept_value">Accept a different file</label>
                              <input id="file_{{ loop.index0 }}_accept_value" type="file" name="accept_value">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input type="submit" name="action" value="Accept">
                              {%- if not file['file'].pending_stamp %}
                                <input type="submit" name="action" value="Acknowledge">
                              {%- endif %}
                              <input type="submit" name="action" value="Reject">
                            </td>
                          </tr>
                        </table>
                      {{ whh.tags.end_form() }}
                    {%- endif %}
                  </td>
                </tr>
                {%- if file['notes'] or h.has_mod(request) %}
                  <tr class="mb-link{{ loop.index0 }} body {{ hl }}">
                    <td colspan="2">
                      {%- if h.has_mod(request) %}
                        {{ whh.tags.form('', 'POST', hidden_fields={
                                           'action': 'add_note_to_file',
                                           'file_id': file['file'].id}) }}
                      {%- endif %}
                      <table>
                        {{ show_notes(file['notes']) }}
                        {%- if h.has_mod(request) %}
                          <tr id="add_note_as_received" class="note add-note">
                            <td class="body"><textarea name="note"></textarea></td>
                            <td class="person">
                              <label for="public">Public</label>
                              <input type="checkbox" name="public" value="public">
                            </td>
                            <td class="date"><input type="submit" value="Add note"></td>
                            </td>
                          </tr>
                        {%- endif %}
                      </table>
                      {%- if h.has_mod(request) %}
                        </form>
                      {%- endif %}
                    </td>
                  </tr>
                {%- endif %}
              {%- endfor %}
            </table>
          </div>
        </div>
      {%- endif %}
      {%- if updates['merged'] %}
        <div class="subsection">
          <h2>Merged Files</h2>
          <div id="merged">
            <table class="has-meta-bodies">
              <tr class="header">
                <th>File</th>
                <th class="date">Date Merged</th>
              </tr>
              {%- for file in updates['merged'] %}
                {% set hl = loop.cycle('even', 'odd') %}
                <tr class="mb-link{{ loop.index0 }} meta {{ hl }}">
                  <td>{{ whh.tags.link_to(
                           file['file'].file_original.name, h.data_uri(file['file'])) }}</td>
                  <td class="date">{{ file['date'] }}</td>
                </tr>
                {%- if file['notes'] or h.has_mod(request) %}
                  <tr class="mb-link{{ loop.index0 }} body {{ hl }}">
                    <td colspan="2">
                      {%- if h.has_mod(request) %}
                        {{ whh.tags.form('', 'POST', hidden_fields={
                                           'action': 'add_note_to_file',
                                           'file_id': file['file'].id}) }}
                      {%- endif %}
                      <table>
                        {{ show_notes(file['notes']) }}
                        {%- if h.has_mod(request) %}
                          <tr id="add_note_merged" class="note add-note">
                            <td class="body"><textarea name="note"></textarea></td>
                            <td class="person">
                              <label for="public">Public</label>
                              <input type="checkbox" name="public" value="public"
                                     checked="checked">
                            </td>
                            <td class="date"><input type="submit" value="Add note"></td>
                            </td>
                          </tr>
                        {%- endif %}
                      </table>
                      {%- if h.has_mod(request) %}
                        </form>
                      {%- endif %}
                    </td>
                  </tr>
                {%- endif %}
              {%- endfor %}
            </table>
          </div>
        </div>
      {%- endif %}
    {%- endcall %}
  {%- endif %}
  {%- if h.has_mod(request) %}
    {%- call h.boxed('Suggestions') %}
      <div class="subsection">
        <h3>Unacknowleged</h3>
        <table>
        <tr>
          <th>Key</th>
          <th>Value</th>
          <th>Suggested</th>
          <th>Actions</th>
        </tr>
        {%- for attr in cruise.unacknowledged_tracked()[::-1] %}
          <tr>
            <th>{{ attr.key }}</th>
            {%- if attr.deleted %}
              <td>delete</td>
            {%- else %}
              <td>{{ attr.value }}</td>
            {%- endif %}
            <td>
              <p>{{ attr.creation_stamp.timestamp }}</p>
              <p>{{ attr.creation_stamp.person }}</p>
            </td>
            <td>
              {{ whh.tags.form('/obj/%s/a/%s' % (cruise.id, attr.id), 'PUT') }}
                <input type="submit" name="action" value="Accept">
                <input type="submit" name="action" value="Acknowledge">
                <input type="submit" name="action" value="Reject">
              {{ whh.tags.end_form() }}
            </td>
          </tr>
        {%- endfor %}
        </table>

        <h3>Pending</h3>
        <table>
        <tr>
          <th>Key</th>
          <th>Value</th>
          <th>Suggested</th>
          <th>Pending</th>
          <th>Actions</th>
        </tr>
        {%- for attr in cruise.pending_tracked()[::-1] %}
          <tr>
            <th>{{ attr.key }}</th>
            {%- if attr.deleted %}
              <td>delete</td>
            {%- else %}
              <td>{{ attr.value }}</td>
            {%- endif %}
            <td>
              <p>{{ attr.creation_stamp.timestamp }}</p>
              <p>{{ attr.creation_stamp.person }}</p>
            </td>
            <td>
              <p>{{ attr.pending_stamp.timestamp }}</p>
              <p>{{ attr.pending_stamp.person }}</p>
            </td>
            <td>
              {{ whh.tags.form('/obj/%s/a/%s' % (cruise.id, attr.id), 'PUT') }}
                <input type="submit" name="action" value="Accept">
                <input type="submit" name="action" value="Reject">
              {{ whh.tags.end_form() }}
            </td>
          </tr>
        {%- endfor %}
        </table>

        <h3>Accepted</h3>
        <table>
        <tr>
          <th>id</th>
          <th>Key</th>
          <th>Value</th>
          <th>Suggested</th>
          <th>Accepted</th>
        </tr>
        {%- for attr in cruise.accepted_tracked()[::-1] %}
          <tr class="{{loop.cycle('even', 'odd')}}">
            <th><a href="/obj/{{ attr.obj.id }}/a/{{ attr.id }}">{{ attr.id }}</a></th>
            <th>{{ attr.key }}</th>
            {%- if attr.deleted %}
              <td>Deleted</td>
            {%- else %}
              <td>{{ attr.value }}</td>
            {%- endif %}
            <td>
              <p>{{ attr.creation_stamp.timestamp }}</p>
              <p>{{ attr.creation_stamp.person }}</p>
            </td>
            <td>
              <p>{{ attr.judgment_stamp.timestamp }}</p>
              <p>{{ attr.judgment_stamp.person }}</p>
            </td>
          </tr>
        {%- endfor %}
        </table>
      </div>
    {%- endcall %}
  {%- endif %}
{%- endblock %}
{% block js %}
  {{ whh.tags.javascript_link('/static/js/jquery-1.4.4.min.js') }}
  <script>
    function metaTable(table) {
      table.find('> tbody > tr.body, > tr.body').hide();
      table.find('> tbody > tr, > tr').each(function () {
        var prepend = '';
        if ($(this).hasClass('header')) {
          prepend = $('<th class="expander"></th>');
        } else {
          if (!$(this).hasClass('meta')) {
            prepend = $('<td class="expander"></td>');
          }
        }
        $(this).prepend(prepend);
      });
      var re_class = new RegExp('(mb-link\\w+)');
      table.find('> tbody > tr.meta, > tr.meta').each(function () {
        var row = $(this);
        var rowClass = re_class.exec(row.attr('class'));
        var body = table.find('.body.' + rowClass);

        if (body.length > 0) {
            $(this).prepend($('<td class="expander"></td>').append(
              $('<a href="">&#x25B8;</a>')
                .click(function () { react(); return false; }))
              .css({cursor: 'pointer'}));
          row.click(react);
        } else {
          $(this).prepend($('<td class="expander"></td>'));
        }

        function open() {
          row.addClass('open').find('.expander a').html('&#x25BE;');
          body.addClass('open').show('fast');
        }
        function close() {
          row.removeClass('open').find('.expander a').html('&#x25B8;');
          body.removeClass('open').hide('fast');
        }

        function check_focus_close() {
          setTimeout(close, 10);
        }

        function react() {
          row.data('open', !row.data('open'));
          if (row.data('open')) {
            open();
          } else {
            close();
          }
        }

        var exa = row.find('.expander a');
        var focusable = row.find(':input')
          .add(body.find(':input'))
          .add(row.find('a'))
          .add(body.find('a'));

        if (focusable.length > 0) {
          var exa_focus = false;
          var input_focus = false;
          var opened = false;
          function react_focus() {
            setTimeout(function () {
              // Don't close while focus is being passed inside the same form.
              // Also don't close if focus has simply disappeared
              if (exa_focus || input_focus || $('*:focus').length == 0) {
                if (!opened) {
                  open();
                  opened = true;
                }
              } else {
                close();
                opened = false;
              }
            }, 0);
          }
          exa.focus(function () { exa_focus = true; react_focus(); });
          exa.blur(function () { exa_focus = false; react_focus(); });
          focusable.focus(function () { input_focus = true; react_focus(); });
          focusable.blur(function () { input_focus = false; react_focus(); });
          row.find(':input').click(function () { return false; });
        } else {
          exa.focus(open);
          exa.blur(close);
        }
      });
    }
    $('table.has-meta-bodies').each(function () { metaTable($(this)); });
  </script>
{%- endblock %}
