{%- if 'US Repeat Hydrography' in h.collection_names(cruise.collections) %}
  {% extends "templates/ushydro.jinja2" %}
{%- else %}
  {% extends "templates/base.jinja2" %}
{%- endif %}
{%- from "templates/_notes.jinja2" import show_notes, note_editor, show_notes_with_editor with context %}
{% block title %}Cruise {{cruise.expocode or ''}}{% endblock %}
{% block head -%}
  {{ whh.tags.stylesheet_link('/static/css/overcast/jquery-ui-1.7.2.custom.css') }}
  {{ whh.tags.stylesheet_link('/static/css/metaTable.css') }}
  {{ whh.tags.stylesheet_link('/static/css/cruise.css') }}
  {%- if not cruise.accepted %}
    {{ whh.tags.stylesheet_link('/static/css/seahunt.css') }}
  {%- endif %}
{%- endblock %}
{% macro cruise_attr(attr='', val='', callback=None, args) -%}
  {% if val %}
    <p><strong>{{attr}}:</strong> {% if callback %}{{ callback(val, args) }}{% else %}{{ val }}{% endif %}</p>
  {% endif %}
{%- endmacro %}
{%- macro see_or_discuss() %}
  {%- if request.user %}Discuss{%- else %}See{%- endif %}
{%- endmacro %}
{%- macro file_review_status(loop, hl, file) %}
  <tr class="mb-link{{ loop.index0 }} body {{ hl }} suggestion">
    <td class="change" colspan="2">
      {%- if file.pending_stamp %}
        <span class="pending">(Under review as of {{ h.datetime(file.pending_stamp.timestamp) }})</span>
      {%- endif %}
    </td>
    <td colspan="2">
      {%- if h.has_mod(request) %}
        {{ whh.tags.form(
             '/obj/%s/a/%s' % (cruise.id, file.id),
             'PUT', multipart=True) }}
          <table>
            <tr>
              <td>
                <label for="file_{{ loop.index0 }}_accept_value">Merged the file? Select it here.</label>
                <input id="file_{{ loop.index0 }}_accept_value" type="file" name="accept_value">
              </td>
            </tr>
            <tr>
              <td>
                {%- if file.key == 'data_suggestion' %}
                  <label for="{{ loop.index0 }}_accept_key">File type</label>
                  {{ whh.tags.select('accept_key', None,
                                     FILE_GROUPS_SELECT,
                                     id="%d_accept_key" % loop.index0) }}
                {%- endif %}
                <input type="submit" name="action" value="Accept">
                {%- if not file.pending_stamp %}
                  <input type="submit" name="action" value="Acknowledge">
                {%- endif %}
                <input type="submit" name="action" value="Reject">
              </td>
            </tr>
          </table>
        {{ whh.tags.end_form() }}
      {%- endif %}
    </td>
  </tr>
{%- endmacro %}
{%- macro file_subsection(title, subsection_type) %}
  <div class="subsection">
    <h2>{{ title }}</h2>
    <div id="{{ subsection_type }}">
      <table class="has-meta-bodies">
        <tr class="header">
          <th class="file_type">File Type</th>
          <th>File</th>
          <th class="file_date">Date
            {%- if subsection_type == 'as_received' %}
              Received
            {%- elif subsection_type == 'merged' %}
              Merged
            {%- endif %}
          </th>
          <th class="suggested_by">Suggested by</th>
        </tr>
        {%- for file in updates[subsection_type] %}
          {%- set hl = loop.cycle('even', 'odd') %}
          <tr class="mb-link{{ loop.index0 }} meta {{ hl }}">
            <td class="file_type">{{ file.key }}</td>
            <td>
              {%- if file.is_acknowledged() or file.is_accepted() %}
                {{ h.link_file_holder(file) }}
              {%- else %}
                {# Unacknowledged files are not shown to the public #}
                {{ file.file.name }}
              {%- endif %}
            </td>
            <td class="file_date">{{ h.date(file.creation_stamp.timestamp) }}</td>
            <td class="suggested_by">{{ h.link_person(file.creation_stamp.person) }}</td>
          </tr>
          {%- if not file.is_judged() %}
            {{ file_review_status(loop, hl, file) }}
          {%- endif %}
          {%- if file.notes or h.has_edit(request) %}
            <tr class="mb-link{{ loop.index0 }} body {{ hl }}">
              <td colspan="4">
                {{ show_notes_with_editor(request, loop.index0, file, subsection_type) }}
              </td>
            </tr>
          {%- endif %}
        {%- endfor %}
      </table>
    </div>
  </div>
{%- endmacro %}
{%- macro participant_row(index, role, person, institution) %}
  <tr class="participant_row {{ index }}">
    <td class="role"><input type="text" name="role{{ index }}" value="{{ role|default('', true) }}" placeholder="role"></td>
    <td class="person"><input type="text" name="person{{ index }}" value="{{ person|default('', true) }}" placeholder="person id"></td>
    <td class="institution"><input type="text" name="institution{{ index }}" value="{{ institution|default('', true) }}" placeholder="institution id"></td>
  </tr>
{%- endmacro %}
{%- block content_attrs %} class="cruise-page{% if not cruise.accepted %} pending{%- endif %}"{%- endblock %}
{%- block content %}
  {%- if not cruise.accepted %}
    <div id="pending-review" class="pending flash warning">
      {%- if h.has_mod(request) %}
        <p>This cruise needs to be reviewed.</p>
        {{ whh.tags.form('/obj/%s' % cruise.id, 'PUT') }}
          <input type="submit" name="action" value="Accept">
          <input type="submit" name="action" value="Reject">
        {{ whh.tags.end_form() }}
      {%- else %}
        <p>This cruise may or may not be actual.</p>
      {%- endif %}
    </div>
    {%- call h.boxed('Summary') %}
      <p>{{ h.cruise_summary(cruise) }}</p>
    {%- endcall %}
  {%- endif %}
  <div id="upper">
    <div id="info">
      {%- call h.boxed('Information', id='metadata', class='upper', box_content_class='scrollable-y') %}
        <div class="subsection general-information">
          {%- if 'map' in data_files %}
            {{ h.cruise_map_thumb(data_files['map'].get('thumb', None), data_files['map'].get('full', None)) }}
          {%- endif %}
          {{- cruise_attr('ExpoCode', cruise.expocode) }}
          {{- cruise_attr('Aliases', cruise.get('aliases', [])|join(', ')) }}
          {{- cruise_attr('Collections', h.link_collections(cruise.collections)) }}
          {%- if cruise.ship %}
            {{ cruise_attr('Ship', h.link_ship(cruise.ship)) }}
          {%- endif %}
          {%- if cruise.country %}
            {{ cruise_attr('Country', h.link_country(cruise.country)) }}
          {%- endif %}
          {{- cruise_attr('Chief Scientists',
                          h.link_person_institutions(cruise.chief_scientists)) }}
          {{- cruise_attr('Cruise Dates', cruise_dict['cruise_dates']) }}
          {{- cruise_attr('Frequency', cruise.get('frequency', '')) }}
          {{- cruise_attr('Ports', cruise.get('ports', [])|join(', ')) }}
          {{- cruise_attr('Expedition Link', cruise.get('link'), whh.tags.link_to, cruise.get('link')) }}
          {{- cruise_attr('Statuses', cruise.statuses|join(', ')) }}
          {%- if h.has_edit(request) %}
            {{- cruise_attr('ID', cruise.id) }}
          {%- endif %}

          {%- if updates['attrs'] %}
            <a class="updates-available" href="#updates">{{ see_or_discuss() }} suggested attribute changes</a>
          {%- endif %}

          {%- if h.has_edit(request) %}
            <div id="edit_attr" class="editor">
            {{ whh.tags.form('', 'PUT', hidden_fields={'action': 'edit_attr'}) }} 
              <table>
                <tr>
                  <th>{{ whh.tags.select('key', None, CRUISE_ATTRS_SELECT) }}</th>
                  <td><input type="text" name="value" placeholder="value"></td>
                </tr>
                <tr>
                  <th><label for="edit_attr_notes">Notes</label></th>
                  <td><textarea id="edit_attr_notes" name="notes"></textarea></td>
                </tr>
                <tr>
                  <td class="submit" colspan="2">
                    <input type="submit" name="edit_action" value="Delete">
                    <input type="submit" name="edit_action" value="Set">
                  </td>
                </tr>
              </table>
            {{ whh.tags.end_form() }}
            </div>
            <div id="edit_participants" class="editor">
            {{ whh.tags.form('', 'PUT', hidden_fields={'action': 'edit_attr',
                                                       'key': 'participants'}) }} 
              <table>
                <tr class="header">
                  <th><label for="role">Role</label></th>
                  <th><label for="participant">Participant</label></th>
                  <th><label for="institution">Institution</label></th>
                </tr>
                {%- set participants = cruise.get('participants') %}
                {%- if participants %}
                  {%- for rpi in participants %}
                    {{ participant_row(loop.index0, rpi['role'], rpi['person'], rpi['institution']) }}
                  {%- endfor %}
                  {{ participant_row(participants|length, '', '', '') }}
                {%- else %}
                  {{ participant_row(0, '', '', '') }}
                {%- endif %}
                <tr>
                  <th><label for="participants_notes">Notes</label></th>
                  <td colspan="3">
                    <textarea id="participants_notes" name="notes"></textarea>
                  </td>
                </tr>
                <tr>
                  <td class="submit" colspan="4">
                    <input type="submit" name="edit_action" value="Delete all participants">
                    <input type="submit" name="edit_action" value="Set participants">
                  </td>
                </tr>
              </table>
            {{ whh.tags.end_form() }}
            </div>
          {%- endif %}
        </div>
        <div class="clear"></div>
      {%- endcall %}
      {%- call h.boxed('Data', id='data', class='upper', box_content_class='scrollable-y') %}
        <div class="subsection data-files">
          {%- if cruise.preliminary %}
            <p id="preliminary">* These data are preliminary</p> 
          {%- endif %}
          {%- if updates['as_received'] or updates['merged'] %}
            <a class="updates-available" href="#updates">
              {{ see_or_discuss() }} as received data and see merged data</a>
          {%- endif %}

          {%- if 'exchange' in data_files %}
            <h3>Exchange</h3>
            <table>
            {% for type, df in h.sort_data_files(data_files.get('exchange')) -%}
              {{ h.data_file_link(request, type, df) }}
            {%- endfor %}
            </table>
          {%- endif %}

          {%- if 'netcdf' in data_files %}
            <h3>NetCDF</h3>
            <table>
            {% for type, df in h.sort_data_files(data_files.get('netcdf')) -%}
              {{ h.data_file_link(request, type, df) }}
            {%- endfor %}
            </table>
          {%- endif %}

          {%- if 'woce' in data_files %}
            <h3>WOCE</h3>
            <table>
            {% for type, df in h.sort_data_files(data_files.get('woce')) -%}
              {{ h.data_file_link(request, type, df) }}
            {%- endfor %}
            </table>
          {%- endif %}

          {%- if 'doc' in data_files %}
            <h3>Documentation</h3>
            <table>
            {% for type, df in h.sort_data_files(data_files.get('doc')) -%}
              {{ h.data_file_link(request, type, df) }}
            {%- endfor %}
            </table>
          {%- endif %}
          {%- if not data_files %}
            <div id="data-pending">
              <h4>Data Pending</h4>
              <p>Contact the CCHDO for more information.</p>
              <p>If you are the PI, please visit the {{ h.tags.link_to('Submit', request.route_path('submit_menu')) }}
                page or contact the CCHDO for submission information.</p>
            </div>
          {%- endif %}
          {%- if h.has_edit(request) %}
            <div id="add_file" class="editor">
            {{ whh.tags.form('', 'PUT', multipart=True,
                             hidden_fields={'action': 'suggest_file'}) }} 
              <table>
                <tr>
                  <th>{{ whh.tags.select('type', None, FILE_GROUPS_SELECT) }}</th>
                  <td><input type="file" name="file"></td>
                </tr>
                <tr>
                  <th><label for="suggest_file_notes">Notes</label></th>
                  <td><textarea id="suggest_file_notes" name="notes"></textarea></td>
                </tr>
                <tr>
                  <td class="submit" colspan="2">
                    <input type="submit" name="add_file_action" value="Delete file">
                    <input type="submit" name="add_file_action" value="Set file">
                  </td>
                </tr>
              </table>
            {{ whh.tags.end_form() }}
            </div>
          {%- endif %}
        </div>
      {%- endcall %}
    </div>
    {% call h.boxed('History and Notes', id='history', class='upper', box_content_class='scrollable-y') -%}
      <div class="subsection">
        {%- if h.has_edit(request) %}
          {{ whh.tags.form('', 'POST') }}
            <input type="hidden" name="action" value="add_note">
        {%- endif %}
        {% if history or h.has_edit(request) %}
          <table class="has-meta-bodies{%- if history|length < 10 %} pre-expand{%- endif %}">
            <tr class="header"><th>Date</th><th>Data Type</th><th>Action</th><th>Summary</th></tr>
            {%- if h.has_edit(request) %}
              {%- set i = "new" %}
              {%- set hl="new" %}
              <tr class="mb-link{{ i }} meta {{ hl }} editor continued-top">
                <td>Add note</td>
                <td><input type="text" name="note_data_type"></td>
                <td><input type="text" name="note_action"></td>
                <td><input type="text" name="note_summary"></td>
              </tr>
              <tr class="mb-link{{ i }} body {{ hl }} editor continued">
                <td colspan="4">
                  <p>
                    <label for="note_discussion_{{ i }}">Public</label>
                    <input id="note_discussion_{{ i }}" type="checkbox"
                           name="note_discussion" value="public" checked="checked">
                  </p>
                  <textarea name="note_note"></textarea>
                </td>
              <tr class="mb-link{{ i }} body {{ hl }} editor continued-bottom">
                <td colspan="4" class="submit">
                  <input type="submit" value="Add note">
                </td>
              </tr>
            {%- endif %}
            {%- for change in history|reverse %}
              {{ h.cruise_history_rows(change, loop.index0, loop.cycle('even', 'odd')) }}
            {%- endfor %}
          </table>
          {%- if h.has_edit(request) %}
            </form>
          {%- endif %}
        {%- endif %}
      </div>
    {%- endcall %}
  </div>
  {%- if cruise.track %}
    {%- call h.boxed('Plot', id='plot') %}
      {%- include "templates/_noscript_warning.txt" %}
      <div id="plot_map"></div>
      <textarea>{{ h.track_as_string(cruise.track)}}</textarea>
    {%- endcall %}
  {%- endif %}
  {%- if updates %}
    {%- call h.boxed('Updates', id="updates") %}
      {%- if updates['attrs'] %}
        <div class="subsection">
          <h2>Attributes</h2>
          <div id="attrs">
            <table class="has-meta-bodies">
              <tr class="header">
                <th>Attribute</th>
                <th>Suggested by</th>
                <th class="date">Suggested at</th>
              </tr>
              {%- for attr in updates['attrs'] %}
                {%- set hl = loop.cycle('even', 'odd') %}
                <tr class="mb-link{{ loop.index0 }} meta {{ hl }}">
                  <td>{{ attr.key }}</td>
                  <td>{{ h.link_person(attr.creation_stamp.person) }}</td>
                  <td class="date">{{ h.datetime(attr.creation_stamp.timestamp) }}</td>
                </tr>
                <tr class="mb-link{{ loop.index0 }} body {{ hl }} suggestion">
                  <td class="change">
                    {%- if attr.deleted %}
                      delete <span class="key">{{ attr.key }}</span>
                    {%- else %}
                      <span class="value">{{ attr.value }}</span>
                    {%- endif %}
                    {%- if attr.pending_stamp %}
                      <span class="pending">(Under review as of {{ h.datetime(attr.pending_stamp.timestamp) }})</span>
                    {%- endif %}
                  </td>
                  <td colspan="2">
                    {%- if h.has_mod(request) %}
                      {{ whh.tags.form('/obj/%s/a/%s' % (cruise.id, attr.id), 'PUT') }}
                        <table>
                          <tr>
                            <td>
                              <label for="attr_{{ loop.index0 }}_accept_value">Accept a different value</label>
                              <input id="attr_{{ loop.index0 }}_accept_value" type="text" name="accept_value">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input type="submit" name="action" value="Accept">
                              {%- if not attr.pending_stamp %}
                                <input type="submit" name="action" value="Acknowledge">
                              {%- endif %}
                              <input type="submit" name="action" value="Reject">
                            </td>
                          </tr>
                        </table>
                      {{ whh.tags.end_form() }}
                    {%- endif %}
                  </td>
                </tr>
                {%- if attr or h.has_edit(request) %}
                  <tr class="mb-link{{ loop.index0 }} body {{ hl }}">
                    <td colspan="4">
                      {{ show_notes_with_editor(request, loop.index0, attr, 'attr') }}
                    </td>
                  </tr>
                {%- endif %}
              {%- endfor %}
            </table>
          </div>
        </div>
      {%- endif %}
      {# TODO need to show files not acknowledged #}
      {%- if updates['as_received'] %}
        {{ file_subsection('Data as received', 'as_received') }}
      {%- endif %}
      {%- if updates['merged'] %}
        {{ file_subsection('Merged Data', 'merged') }}
      {%- endif %}
    {%- endcall %}
  {%- endif %}
  {%- if h.has_mod(request) %}
    {%- call h.boxed('Suggestions') %}
      <div class="subsection">
        <h3>Unacknowleged</h3>
        <table>
        <tr>
          <th>Key</th>
          <th>Value</th>
          <th>Suggested</th>
          <th>Actions</th>
        </tr>
        {%- for attr in cruise.unacknowledged_tracked.all()[::-1] %}
          <tr>
            <th>{{ attr.key }}</th>
            {%- if attr.deleted %}
              <td>delete</td>
            {%- else %}
              <td>{{ attr.value }}</td>
            {%- endif %}
            <td>
              <p>{{ attr.creation_stamp.timestamp }}</p>
              <p>{{ attr.creation_stamp.person }}</p>
            </td>
            <td>
              {{ whh.tags.form('/obj/%s/a/%s' % (cruise.id, attr.id), 'PUT') }}
                <input type="submit" name="action" value="Accept">
                <input type="submit" name="action" value="Acknowledge">
                <input type="submit" name="action" value="Reject">
              {{ whh.tags.end_form() }}
            </td>
          </tr>
        {%- endfor %}
        </table>

        <h3>Pending</h3>
        <table>
        <tr>
          <th>Key</th>
          <th>Value</th>
          <th>Suggested</th>
          <th>Pending</th>
          <th>Actions</th>
        </tr>
        {%- for attr in cruise.pending_tracked.all()[::-1] %}
          <tr>
            <th>{{ attr.key }}</th>
            {%- if attr.deleted %}
              <td>delete</td>
            {%- else %}
              <td>{{ h.attr_value(attr) }}</td>
            {%- endif %}
            <td>
              <p>{{ h.date(attr.creation_stamp.timestamp) }}</p>
              <p>{{ h.link_person(attr.creation_stamp.person) }}</p>
            </td>
            <td>
              <p>{{ h.date(attr.pending_stamp.timestamp) }}</p>
              <p>{{ h.link_person(attr.pending_stamp.person) }}</p>
            </td>
            <td>
              {{ whh.tags.form('/obj/%s/a/%s' % (cruise.id, attr.id), 'PUT') }}
                <input type="submit" name="action" value="Accept">
                <input type="submit" name="action" value="Reject">
              {{ whh.tags.end_form() }}
            </td>
          </tr>
        {%- endfor %}
        </table>

        <h3>Accepted</h3>
        <table>
        <tr>
          <th>id</th>
          <th>Key</th>
          <th>Value</th>
          <th>Suggested</th>
          <th>Accepted</th>
        </tr>
        {%- for attr in cruise.accepted_tracked.all()[::-1] %}
          <tr class="{{loop.cycle('even', 'odd')}}">
            <th><a href="/obj/{{ attr.obj.id }}/a/{{ attr.id }}">{{ attr.id }}</a></th>
            <th>{{ attr.key }}</th>
            {%- if attr.deleted %}
              <td>Deleted</td>
            {%- else %}
              <td>{{ h.attr_value(attr) }}</td>
            {%- endif %}
            <td>
              <p>{{ h.date(attr.creation_stamp.timestamp) }}</p>
              <p>{{ h.link_person(attr.creation_stamp.person) }}</p>
            </td>
            <td>
              <p>{{ h.date(attr.judgment_stamp.timestamp) }}</p>
              <p>{{ h.link_person(attr.judgment_stamp.person) }}</p>
            </td>
          </tr>
        {%- endfor %}
        </table>
      </div>
    {%- endcall %}
  {%- endif %}
{%- endblock %}
{% block js %}
  {{- h.GAPI_autoload(request, [
            {
                'name': 'jquery',
                'version': '1.7.1',
            },
            {
                'name': 'jqueryui',
                'version': '1.8.16',
            },
            {
                'name': 'maps',
                'version': '3',
                'other_params': 'sensor=false&libraries=drawing',
            }
        ]) }}
  {{ whh.tags.javascript_link('/static/cchdomap/js/graticule.3.js') }}
  {{ whh.tags.javascript_link('/static/js/metaTable.js') }}
  {%- if cruise.track %}
    <script>
      if (!window.CCHDO) {
        window.CCHDO = {};
      }
      if (!CCHDO.cruise) {
        CCHDO.cruise = {};
      }
      CCHDO.cruise.track = {{ geojson.dumps(cruise.track)|safe }};
    </script>
  {%- endif %}
  {{ whh.tags.javascript_link('/static/js/cruise.js') }}
{%- endblock %}
