table.has-meta-bodies {
  width: 100%;
}
.odd {
  background: #EEEEEE;
}
table.has-meta-bodies .header {
  font-size: 1.2em;
  border: 1px solid #EEEEEE;
  border-left: 0;
  border-right: 0;
}
table.has-meta-bodies tr,
table.has-meta-bodies th,
table.has-meta-bodies td {
  padding: 0.3em;
}

.info th {
  text-align: right;
}
.info th,
.info td {
  padding: 0.3em;
}
.info td {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.identifier a.corrected { text-decoration: line-through; }

.attached.even { background-color: #D9EAED; }
.attached.odd { background-color: #C9DADD; }
.attached.even.open { background-color: #D1E2E5; }
.attached.odd.open { background-color: #C1D2D5; }

.tools label {
  margin-right: 0.5em;
}
.tools input[type=radio] {
  margin-right: 0.2em;
}
