<table>
<tr>
	<td>First Name:</td><td> <input autocomplete="off" id="event_First_Name" name="event[First_Name]" size="10" type="text" value="<%= @first_name %>"></td>
</tr>
<tr>
<td>Last Name:</td><td> <input autocomplete="off" id="event_LastName" name="event[LastName]" size="10" type="text" value="<%= @last_name %>">
		<div class="auto_complete" id="LastName_auto_complete"></div>
     <%= javascript_tag("new Autocompleter.Local('event_LastName','LastName_auto_complete',contacts,{fullSearch: true, frequency: 0, minChars:1});")%>

	<%=  observe_field :event_LastName,
	                   :update => "name",
	                   :frequency => 10,
	                   :url => {:action => 'find_name'},
	                   :with => "'LastName=' + encodeURIComponent(value)"
	 %>

	</td>
</tr>
</table>
