{%- call h.boxed('Atlantic Cruises', class='by-ocean atlantic') %}

<h2>Map tables</h2>
<p>Grouped by WOCE-era designation. Click on any line label.</p>

<ul>
  <li><a href="#entire">Entire Atlantic</a></li>
  <li><a href="#north">North Atlantic</a></li>
  <li><a href="#central">Central Atlantic</a></li>
  <li><a href="#south">South Atlantic</a></li>
</ul>

<div class="subsection">
  <h3 id="entire">Entire Atlantic</h3>
  <div class="mapimg">
    <img src="/static/img/basin_maps/atl_map.jpg" usemap="#atl_map" style="width: 506px; height: 621px;">
  </div>

  <h3><a href='/search?query=Atlantic+Onetime'>Atlantic WHP Onetime</a></h3>
  <ol>
    <li><a href="/search?query=Extended_A1">A01/AR07</a></li>
    <li><a href="/search?query=a02">A02/AR19</a></li>
    <li><a href="/search?query=a03">A03/AR20</a></li>
    <li><a href="/search?query=a05">A05/AR1</a></li>
    <li><a href="/search?query=a06">A06</a></li>
    <li><a href="/search?query=a07">A07</a></li>
    <li><a href="/search?query=a08">A08</a></li>
    <li><a href="/search?query=a09">A09</a></li>
    <li class="break"></li>
    <li><a href="/search?query=a10">A10</a></li>
    <li><a href="/search?query=a11">A11</a></li>
    <li><a href="/search?query=a12">A12/SR2</a></li>
    <li><a href="/search?query=a13">A13</a></li>
    <li><a href="/search?query=a14">A14</a></li>
    <li><a href="/search?query=a15">A15</a></li>
    <li><a href="/search?query=a16">A16/AR21</a></li>
    <li><a href="/search?query=a17">A17</a></li>
    <li class="break"></li>
    <li><a href="/search?query=a20">A20</a></li>
    <li><a href="/search?query=a21">A21</a></li>
    <li><a href="/search?query=a22">A22</a></li>
    <li><a href="/search?query=a23">A23</a></li>
    <li><a href="/search?query=a24">A24/AR24</a></li>
    <li><a href="/search?query=a25">A25</a></li>
    <li class="break"></li>
    <li><a href="/search?query=anas">ANAS</a></li>
    <li><a href="/search?query=atas">ATAS</a></li>
  </ol>
  
  <h3><a href="/search?query=Atlantic+Repeat">Atlantic WHP Repeat</a></h3>
  <ol>
    <li><a href="/search?query=ar01">AR01/A05</a></li>
    <li><a href="/search?query=ar02">AR02</a></li>
    <li><a href="/search?query=ar03">AR03</a></li>
    <li><a href="/search?query=ar04">AR04</a></li>
    <li><a href="/search?query=ar05">AR05</a></li>
    <li><a href="/search?query=ar06">AR06</a></li>
    <li><a href="/search?query=ar07">AR07/A01</a></li>
    <li><a href="/search?query=ar08">AR08</a></li>
    <li><a href="/search?query=ar09">AR09</a></li>
    <li class="break"></li>
    <li><a href="/search?query=ar10">AR10</a></li>
    <li><a href="/search?query=ar11">AR11</a></li>
    <li><a href="/search?query=ar12">AR12/SR2</a></li>
    <li><a href="/search?query=ar13">AR13</a></li>
    <li><a href="/search?query=ar15">AR15</a></li>
    <li><a href="/search?query=ar16">AR16</a></li>
    <li><a href="/search?query=ar18">AR18</a></li>
    <li><a href="/search?query=ar19">AR19/A02</a></li>
    <li class="break"></li>
    <li><a href="/search?query=ar20">AR20/AR05</a></li>
    <li><a href="/search?query=ar21">AR21/A16</a></li>
    <li><a href="/search?query=ar22">AR22</a></li>
    <li><a href="/search?query=ar24">AR24</a></li>
    <li><a href="/search?query=ar25">AR25/A01</a></li>
    <li><a href="/search?query=ar26">AR26</a></li>
    <li class="break"></li>
    <li><a href="/search?query=ar27">AR27</a></li>
    <li><a href="/search?query=ar28">AR28</a></li>
  </ol>
  
  <h3><a href="maps/metermap.html">Atlantic Current Meter Associated WOCE Data</a></h3>
  <ol>
    <li><a href="/search?query=a05">ACM01</a></li>
    <li><a href="/search?query=ar15">ACM03</a></li>
    <li><a href="/search?query=ar09">ACM04</a></li>
    <li><a href="/search?query=ar19">ACM06</a></li>
    <li><a href="/search?query=ar04">ACM07</a></li>
    <li><a href="/search?query=ar25">ACM08</a></li>
    <li>ACM09</li>
    <li class="break"></li>
    <li><a href="/search?query=ar04">ACM10</a></li>
    <li><a href="/search?query=ar15">ACM11</a></li>
    <li><a href="/search?query=ar15">ACM12</a></li>
    <li><a href="/search?query=ar15">ACM13</a></li>
    <li class="break"></li>
    <li><a href="/search?query=ar15">ACM24</a></li>
    <li><a href="/search?query=ar11">ACM25</a></li>
    <li><a href="/search?query=ar16">ACM26</a></li>
    <li><a href="/search?query=ar11">ACM27</a></li>
    <li><a href="/search?query=ar15">ACM28</a></li>
    <li><a href="/search?query=ar07">ACM29</a></li>
  </ol>
  
  <h3><a href="search?query=BATS">Bermuda Atlantic Time-series Study </a></h3>
  
  <h3><a href="/project_carina ">Carina Data Collection</a></h3>
</div>

<div class="subsection">
  <h3 id="north">North Atlantic</h3>
  <div class="mapimg">
    <img src="/static/img/basin_maps/atl_north.jpg" usemap="#atl_north" style="width: 506px; height: 383px;">
  </div>

  <h3><a href='/search?query=Atlantic+Onetime'>Atlantic WHP Onetime</a></h3>
  <ol>
    <li><a href="/search?query=Extended_A1">A01/AR07</a></li>
    <li><a href="/search?query=a02">A02/AR19</a></li>
    <li><a href="/search?query=a16">A16/AR21</a></li>
    <li><a href="/search?query=a24">A24/AR24</a></li>
    <li><a href="/search?query=a25">A25</a></li>
    <li><a href="/search?query=anas">ANAS</a></li>
  </ol>
  
  <h3><a href="/search?query=Atlantic+Repeat">Atlantic WHP Repeat</a></h3>
  <ol>
    <li><a href="/search?query=ar05">AR05</a></li>
    <li><a href="/search?query=ar07">AR07/A01</a></li>
    <li><a href="/search?query=ar12">AR12/SR2</a></li>
    <li><a href="/search?query=ar13">AR13</a></li>
    <li><a href="/search?query=ar18">AR18</a></li>
    <li><a href="/search?query=ar19">AR19/A02</a></li>
    <li class="break"></li>
    <li><a href="/search?query=ar22">AR22</a></li>
    <li><a href="/search?query=ar24">AR24</a></li>
    <li><a href="/search?query=ar25">AR25/A01</a></li>
    <li><a href="/search?query=ar27">AR27</a></li>
    <li><a href="/search?query=ar28">AR28</a></li>
  </ol>
  
  <h3><a href="maps/metermap.html">Atlantic Current Meter Associated WOCE Data</a></h3>
  <ol>
    <li><a href="/search?query=ar19">ACM06</a></li>
    <li><a href="/search?query=ar25">ACM08</a></li>
    <li><a href="/search?query=ar07">ACM29</a></li>
  </ol>
</div>

<div class="subsection">
  <h3 id="central">Central Atlantic</h3>
  <div class="mapimg">
    <img src="/static/img/basin_maps/atl_central.jpg" usemap="#atl_central" style="width: 500px; height: 254px;">
  </div>

  <h3><a href='/search?query=Atlantic+Onetime'>Atlantic WHP Onetime</a></h3>
  <ol>
    <li><a href="/search?query=a03">A03/AR20</a></li>
    <li><a href="/search?query=a05">A05/AR1</a></li>
    <li><a href="/search?query=a16">A16/AR21</a></li>
    <li><a href="/search?query=a20">A20</a></li>
    <li><a href="/search?query=a22">A22</a></li>
    <li><a href="/search?query=anas">ANAS</a></li>
    <li><a href="/search?query=atas">ATAS</a></li>
  </ol>
  
  <h3><a href="/search?query=Atlantic+Repeat">Atlantic WHP Repeat</a></h3>
  <ol>
    <li><a href="/search?query=ar01">AR01/A05</a></li>
    <li><a href="/search?query=ar02">AR02</a></li>
    <li><a href="/search?query=ar03">AR03</a></li>
    <li><a href="/search?query=ar06">AR06</a></li>
    <li><a href="/search?query=ar10">AR10</a></li>
    <li><a href="/search?query=ar11">AR11</a></li>
    <li><a href="/search?query=ar15">AR15</a></li>
    <li><a href="/search?query=ar16">AR16</a></li>
    <li><a href="/search?query=ar20">AR20/AR05</a></li>
    <li><a href="/search?query=ar21">AR21/A16</a></li>
    <li><a href="/search?query=ar26">AR26</a></li>
  </ol>
  
  <h3><a href="maps/metermap.html">Atlantic Current Meter Associated WOCE Data</a></h3>
  <ol>
    <li><a href="/search?query=a05">ACM01</a></li>
    <li><a href="/search?query=ar15">ACM03</a></li>
    <li><a href="/search?query=ar15">ACM11</a></li>
    <li><a href="/search?query=ar15">ACM12</a></li>
    <li><a href="/search?query=ar15">ACM13</a></li>
    <li class="break"></li>
    <li><a href="/search?query=ar15">ACM24</a></li>
    <li><a href="/search?query=ar11">ACM25</a></li>
    <li><a href="/search?query=ar16">ACM26</a></li>
    <li><a href="/search?query=ar11">ACM27</a></li>
    <li><a href="/search?query=ar15">ACM28</a></li>
    <li><a href="/search?query=ar07">ACM29</a></li>
  </ol>
</div>

<div class="subsection">
  <h3 id="south">South Atlantic</h3>
  <div class="mapimg">
    <img src="/static/img/basin_maps/atl_south.jpg" usemap="#atl_south" style="width: 499px; height: 572px;">
  </div>

  <h3><a href='/search?query=Atlantic+Onetime'>Atlantic WHP Onetime</a></h3>
  <ol>
    <li><a href="/search?query=a06">A06</a></li>
    <li><a href="/search?query=a07">A07</a></li>
    <li><a href="/search?query=a08">A08</a></li>
    <li><a href="/search?query=a09">A09</a></li>
    <li class="break"></li>
    <li><a href="/search?query=a10">A10</a></li>
    <li><a href="/search?query=a11">A11</a></li>
    <li><a href="/search?query=a12">A12/SR2</a></li>
    <li><a href="/search?query=a13">A13</a></li>
    <li><a href="/search?query=a14">A14</a></li>
    <li><a href="/search?query=a15">A15</a></li>
    <li><a href="/search?query=a16">A16/AR21</a></li>
    <li><a href="/search?query=a17">A17</a></li>
    <li class="break"></li>
    <li><a href="/search?query=a21">A21</a></li>
    <li><a href="/search?query=a23">A23</a></li>
  </ol>
  
  <h3><a href="/search?query=Atlantic+Repeat">Atlantic WHP Repeat</a></h3>
  <ol>
    <li><a href="/search?query=ar04">AR04</a></li>
    <li><a href="/search?query=ar08">AR08</a></li>
    <li><a href="/search?query=ar09">AR09</a></li>
    <li><a href="/search?query=ar15">AR15</a></li>
  </ol>
  
  <h3><a href="maps/metermap.html">Atlantic Current Meter Associated WOCE Data</a></h3>
  <ol>
    <li><a href="/search?query=ar15">ACM03</a></li>
    <li><a href="/search?query=ar09">ACM04</a></li>
    <li><a href="/search?query=ar04">ACM07</a></li>
    <li class="break"></li>
    <li><a href="/search?query=ar04">ACM10</a></li>
    <li><a href="/search?query=ar15">ACM11</a></li>
    <li><a href="/search?query=ar15">ACM12</a></li>
    <li><a href="/search?query=ar15">ACM13</a></li>
    <li class="break"></li>
    <li><a href="/search?query=ar15">ACM24</a></li>
    <li><a href="/search?query=ar15">ACM28</a></li>
  </ol>
</div>


<map name="atl_map">
  <area alt="Atlantic Central" coords="62,185,351,283" href="#central">
  <area alt="Atlantic Southern" coords="123,298,385,575" href="#south">
  <area alt="Atlantic Southern" coords="272,596,405,446" href="#south">
  <area alt="Indian" coords="386,425,463,442" href="/indian.html">
  <area alt="Pacific" coords="37,368,120,385" href="/pacific.html">
  <area alt="Southern" coords="173,576,268,593" href="/southern.html">
  <area alt="Atlantic Northern" coords="122,29,351,179" href="#north">
</map>
<map name="atl_north">
  <area alt="Extended A1" coords="93,187,132,204" href="/search?query=Extended_A1">
  <area alt="A16" coords="287,337,326,355" href="/search?query=a16">
  <area alt="A02" coords="124,299,154,316" href="/search?query=a02">
  <area alt="A01" coords="244,185,284,202" href="/search?query=a01">
  <area alt="A25" coords="325,148,355,165" href="/search?query=a25">
  <area alt="A24" coords="312,278,342,295" href="/search?query=a24">
  <area alt="AR28" coords="380,156,422,171" href="/search?query=ar28">
  <area alt="Extended A1" coords="86,152,138,169" href="/search?query=Extended_A1">
  <area alt="AR27" coords="138,185,178,202" href="/search?query=ar27">
  <area alt="AR05" coords="168,207,207,225" href="/search?query=ar05">
  <area alt="AR13" coords="151,243,190,260" href="/search?query=ar13">
  <area alt="AR22" coords="151,275,190,292" href="/search?query=ar22">
  <area alt="AR19" coords="209,304,249,321" href="/search?query=ar19">
  <area alt="AR07" coords="208,142,255,159" href="/search?query=ar07">
  <area alt="AR18" coords="279,54,318,71" href="/search?query=ar18">
  <area alt="AR24" coords="312,197,351,214" href="/search?query=ar24">
  <area alt="AR12" coords="360,279,399,296" href="/search?query=ar12">
  <area alt="AR25" coords="230,76,270,97" href="/search?query=ar25"> 
</map>
<map name="atl_central">
  <area alt="AR01" coords="83,101,122,118" href="/search?query=ar01">
  <area alt="AR20" coords="203,85,242,102" href="/search?query=ar20">
  <area alt="AR10" coords="255,133,294,150" href="/search?query=ar10">
  <area alt="AR11" coords="276,94,314,111" href="/search?query=ar11">
  <area alt="AR06" coords="341,77,381,94" href="/search?query=ar06">
  <area alt="AR16" coords="342,37,381,54" href="/search?query=ar16">
  <area alt="A22" coords="121,42,151,59" href="/search?query=a22">
  <area alt="A05" coords="148,131,178,148" href="/search?query=a05">
  <area alt="A20" coords="179,27,210,44" href="/search?query=a20">
  <area alt="A03" coords="248,62,278,79" href="/search?query=a03">
  <area alt="A16" coords="274,170,313,187" href="/search?query=a16">
</map>
<map name="atl_south">
  <area alt="AR04" coords="156,85,195,102" href="/search?query=ar04">
  <area alt="AR08" coords="106,274,145,291" href="/search?query=ar08">
  <area alt="AR15" coords="209,232,248,249" href="/search?query=ar15">
  <area alt="AR09" coords="334,229,374,246" href="/search?query=ar09">
  <area alt="A06" coords="219,62,250,80" href="/search?query=a06">
  <area alt="A16C" coords="215,202,254,219" href="/search?query=a16c">
  <area alt="A11" coords="245,290,276,307" href="/search?query=a11">
  <area alt="A07" coords="280,109,310,127" href="/search?query=a07">
  <area alt="A09" coords="328,170,358,187" href="/search?query=a09">
  <area alt="A21" coords="274,372,305,390" href="/search?query=a21">
  <area alt="A13" coords="343,92,373,109" href="/search?query=a13">
  <area alt="A15" coords="267,191,297,208" href="/search?query=a15">
  <!-- <area alt="" coords="156,345,196,363" href="../data/onetime/atlantic/a16/a16s/index.htm"> -->
  <area alt="A16S" coords="156,345,196,363" href="/search?query=a16s">
  <area alt="A08" coords="332,138,362,156" href="/search?query=a08">
  <area alt="A10" coords="155,217,186,234" href="/search?query=a10">
  <!-- <area alt="" coords="307,473,338,490" href="../data/onetime/atlantic/a12/index.htm"> -->
  <area alt="A12" coords="307,473,338,490" href="/search?query=a12">
  <area alt="A14" coords="292,253,324,270" href="/search?query=a14">
  <area alt="A23" coords="230,432,262,449" href="/search?query=a23">
  <area alt="A17" coords="116,308,146,325" href="/search?query=a17">
</map>

{%- endcall %}
