{%- extends '/static/static.jinja2' %}
{%- block title %}Pacific Cruises{%- endblock %}
{%- block content %}
  {% call h.boxed('Pacific Cruises', class="by-ocean pacific") -%}
  <h2>Map tables</h2>
  <p>Grouped by WOCE-era designation. Click on any region.</p>

  <ul>
  <li><a href="#entire">Entire Pacific</a></li>
  <li><a href="#asia">West Pacific</a></li>
  <li><a href="#aust">Southwest Pacific</a></li>
  <li><a href="#amer">East Pacific</a></li>
  </ul>

  <div class="subsection">
    <h3 id="entire">Entire Pacific</h3>
    <div class="mapimg">
      <img src="/static/img/basin_maps/pac_map.jpg" usemap="#pac_map">
    </div>

    <h3><a href="/search?query=Pacific+Onetime">Pacific WHP Onetime</a></h3>
    <ol>
      <li><a href="/search?query=p01">P01</a></li>
      <li><a href="/search?query=p02">P02</a></li>
      <li><a href="/search?query=p03">P03</a></li>
      <li><a href="/search?query=p04">P04</a></li>
      <li><a href="/search?query=p06">P06</a></li>
      <li><a href="/search?query=p08">P08</a></li>
      <li><a href="/search?query=p09">P09</a></li>
      <li class="break"></li>
      <li><a href="/search?query=p10">P10</a></li>
      <li><a href="/search?query=p11">P11</a></li>
      <li><a href="/search?query=p13">P13</a></li>
      <li><a href="/search?query=p14">P14</a></li>
      <li><a href="/search?query=p15">P15</a></li>
      <li><a href="/search?query=p16">P16</a></li>
      <li><a href="/search?query=p17">P17</a></li>
      <li><a href="/search?query=p18">P18</a></li>
      <li><a href="/search?query=p19">P19</a></li>
      <li class="break"></li>
      <li><a href="/search?query=p21">P21</a></li>
      <li><a href="/search?query=p24">P24</a></li>
      <li><a href="/search?query=p31">P31</a></li>
    </ol>
    
    <h3><a href="/search?query=Pacific+Repeat">Pacific WHP Repeat</a></h3>
    <ol>
      <li><a href="/search?query=pr01">PR01</a></li>
      <li><a href="/search?query=pr02">PR02</a></li>
      <li><a href="/search?query=pr03">PR03</a></li>
      <li><a href="/search?query=pr04">PR04</a></li>
      <li><a href="/search?query=pr05">PR05</a></li>
      <li><a href="/search?query=pr06">PR06 (Station P)</a></li>
      <li class="break"></li>
      <li><a href="/search?query=pr11">PR11</a></li>
      <li><a href="/search?query=pr13">PR13</a></li>
      <li><a href="/search?query=pr14">PR14</a></li>
      <li><a href="/search?query=pr15">PR15</a></li>
      <li><a href="/search?query=pr16">PR16</a></li>
      <li><a href="/search?query=pr17">PR17</a></li>
      <li><a href="/search?query=pr18">PR18</a></li>
      <li><a href="/search?query=pr19">PR19</a></li>
      <li class="break"></li>
      <li><a href="/search?query=pr20">PR20</a></li>
      <li><a href="/search?query=pr21">PR21</a></li>
      <li><a href="/search?query=pr22">PR22</a></li>
      <li><a href="/search?query=pr23">PR23</a></li>
      <li><a href="/search?query=pr24">PR24</a></li>
      <li><a href="/search?query=pr25">PR25</a></li>
      <li><a href="/search?query=pr26">PR26</a></li>
      <li><a href="/search?query=pr27">PR27</a></li>
      <li class="break"></li>
      <li><a href="/search?query=pr31">PR31</a></li>
      <li><a href="/search?query=pr32">PR32</a></li>
      <li><a href="/search?query=pr33">PR33</a></li>
    </ol>
    
    <h3><a href="maps/metermap.html">Pacific Current Meter Associated WOCE Data</a></h3>
    <ol>
      <li>PCM01</li>
      <li>PCM02</li>
      <li><a href="/search?query=pr11">PCM03</a></li>
      <li><a href="/search?query=pr17">PCM05</a></li>
      <li>PCM06</li>
      <li>PCM07</li>
      <li><a href="/search?query=p06">PCM09</a></li>
      <li class="break"></li>
      <li><a href="/cruise/3250031_1">PCM11</a></li>
      <li><a href="/search?query=pr33">PCM15</a></li>
    </ol>
    
    <h3><a href="search?query=HOT">Hawaiian Ocean Time Series </a></h3>
  </div>
    
  <div class="subsection">
    <h3 id="asia">West Pacific</h3>
    <div class='mapimg'><img src="/static/img/basin_maps/pac_asia.jpg" usemap="#pac_asia" /></div>

    <h3><a href="/search?query=Pacific+Onetime">Pacific WHP Onetime</a></h3>
    <ol>
      <li><a href="/search?query=p01">P01</a></li>
      <li><a href="/search?query=p02">P02</a></li>
      <li><a href="/search?query=p03">P03</a></li>
      <li><a href="/search?query=p04">P04</a></li>
      <li><a href="/search?query=p08">P08</a></li>
      <li><a href="/search?query=p09">P09</a></li>
      <li class="break"></li>
      <li><a href="/search?query=p10">P10</a></li>
      <li><a href="/search?query=p13">P13</a></li>
      <li class="break"></li>
      <li><a href="/search?query=p24">P24</a></li>
    </ol>
    
    <h3><a href="/search?query=Pacific+Repeat">Pacific WHP Repeat</a></h3>
    <ol>
      <li><a href="/search?query=pr02">PR02</a></li>
      <li><a href="/search?query=pr03">PR03</a></li>
      <li><a href="/search?query=pr04">PR04</a></li>
      <li class="break"></li>
      <li><a href="/search?query=pr15">PR15</a></li>
      <li><a href="/search?query=pr17">PR17</a></li>
      <li><a href="/search?query=pr18">PR18</a></li>
      <li><a href="/search?query=pr19">PR19</a></li>
      <li class="break"></li>
      <li><a href="/search?query=pr20">PR20</a></li>
      <li><a href="/search?query=pr21">PR21</a></li>
      <li><a href="/search?query=pr23">PR23</a></li>
      <li><a href="/search?query=pr24">PR24</a></li>
    </ol>
  </div>
    
  <div class="subsection">
    <h3 id="aust">Southwest Pacific</h3>
    <div class='mapimg'><img src="/static/img/basin_maps/pac_aust.jpg" usemap="#pac_aust" /></div>

    <h3><a href="/search?query=Pacific+Onetime">Pacific WHP Onetime</a></h3>
    <ol>
      <li><a href="/search?query=p06">P06</a></li>
      <li class="break"></li>
      <li><a href="/search?query=p11">P11</a></li>
      <li><a href="/search?query=p14">P14</a></li>
      <li class="break"></li>
      <li><a href="/search?query=p21">P21</a></li>
    </ol>
    
    <h3><a href="/search?query=Pacific+Repeat">Pacific WHP Repeat</a></h3>
    <ol>
      <li><a href="/search?query=pr11">PR11</a></li>
      <li><a href="/search?query=pr13">PR13</a></li>
      <li><a href="/search?query=pr15">PR15</a></li>
      <li class="break"></li>
      <li><a href="/search?query=pr31">PR31</a></li>
    </ol>
  </div>
    
  <div class="subsection">
    <h3 id="amer">East Pacific</h3>
    <div class='mapimg'><img src="/static/img/basin_maps/pac_amer.jpg" usemap="#pac_amer" /></div>

    <h3><a href="/search?query=Pacific+Onetime">Pacific WHP Onetime</a></h3>
    <ol>
      <li><a href="/search?query=p01">P01</a></li>
      <li><a href="/search?query=p02">P02</a></li>
      <li><a href="/search?query=p03">P03</a></li>
      <li><a href="/search?query=p04">P04</a></li>
      <li><a href="/search?query=p06">P06</a></li>
      <li class="break"></li>
      <li><a href="/search?query=p14">P14</a></li>
      <li><a href="/search?query=p15">P15</a></li>
      <li><a href="/search?query=p16">P16</a></li>
      <li><a href="/search?query=p17">P17</a></li>
      <li><a href="/search?query=p18">P18</a></li>
      <li><a href="/search?query=p19">P19</a></li>
      <li class="break"></li>
      <li><a href="/search?query=p21">P21</a></li>
      <li><a href="/search?query=p31">P31</a></li>
    </ol>
    
    <h3><a href="/search?query=Pacific+Repeat">Pacific WHP Repeat</a></h3>
    <ol>
      <li><a href="/search?query=pr05">PR05</a></li>
      <li><a href="/search?query=pr06">PR06 (Station P)</a></li>
      <li class="break"></li>
      <li><a href="/search?query=pr14">PR14</a></li>
      <li><a href="/search?query=pr16">PR16</a></li>
      <li class="break"></li>
      <li><a href="/search?query=pr32">PR32</a></li>
      <li><a href="/search?query=pr33">PR33</a></li>
    </ol>
  </div>

  <map name="pac_map">
    <area alt="Southern Ocean" coords="272,533,367,550" href="/southern.html">
    <area alt="Atlantic Ocean" coords="489,214,574,231" href="/atlantic.html">
    <area alt="Indian Ocean" coords="38,311,116,328"  href="/indian.html">
    <area alt="West Pacific" coords="62,91,218,308"   href="#asia">
    <area alt="Southwest Pacific" coords="64,330,238,559"  href="#aust">
    <area alt="East Pacific" coords="241,233,572,530" href="#amer">
    <area alt="East Pacific" coords="225,92,486,327"  href="#amer">
  </map>
  <map name="pac_asia">
    <area alt="90BM9316_1" coords="256,69,296,86"   href="/search?query=90BM9316_1">
    <area alt="31TTTPS47" coords="364,196,395,215" href="/search?query=31TTTPS47">
    <area alt="P13" coords="414,260,445,277" href="/search?query=p13">
    <area alt="P02" coords="375,334,406,352" href="/search?query=p02">
    <area alt="31TTTPS24_1" coords="374,378,405,399" href="/search?query=31TTTPS24_1">
    <area alt="32MW893_1" coords="373,491,413,509" href="/search?query=32MW893_1">
    <area alt="3250TN026_1" coords="304,433,335,450" href="/search?query=3250TN026_1">
    <area alt="49RY9407_1" coords="244,524,274,542" href="/search?query=49RY9407_1">
    <area alt="49RY9511_2" coords="189,357,220,374" href="/search?query=49RY9511_2">
    <area alt="P08" coords="148,461,179,479" href="/search?query=p08">
    <area alt="PR15" coords="412,610,452,627" href="/search?query=pr15">
    <area alt="PR04" coords="337,548,376,565" href="/search?query=pr04">
    <area alt="PR24" coords="183,549,222,567" href="/search?query=pr24">
    <area alt="PR02" coords="188,452,227,469" href="/search?query=pr02">
    <area alt="PR23" coords="133,529,173,547" href="/search?query=pr23">
    <area alt="PR20" coords="127,412,166,429" href="/search?query=pr20">
    <area alt="PR03" coords="274,258,314,275" href="/search?query=pr03">
    <area alt="PR17" coords="151,318,190,335" href="/search?query=pr17">
    <area alt="PR18" coords="126,340,165,357" href="/search?query=pr18">
    <area alt="PR19" coords="110,366,149,383" href="/search?query=pr19">
    <area alt="PR21" coords="69,412,108,429"  href="/search?query=pr21">
  </map>
  <map name="pac_aust">
    <area alt="09FA693" coords="287,115,327,133" href="/search?query=09FA693">
    <area alt="09AR9391_2" coords="292,440,331,458" href="/search?query=09AR9391_2">
    <area alt="316N138_5" coords="325,207,364,225" href="/search?query=316N138_5">
    <area alt="318MWESTW_4" coords="409,122,440,141" href="/search?query=318MWESTW_4">
    <area alt="316N138_7" coords="422,157,461,174" href="/search?query=316N138_7">
    <area alt="PR11" coords="329,309,369,325" href="/search?query=pr11">
    <area alt="PR13" coords="365,261,404,278" href="/search?query=pr13">
    <area alt="PR31" coords="362,178,402,196" href="/search?query=pr31">
    <area alt="PR15" coords="352,43,392,61"   href="/search?query=pr15">
  </map>
  <map name="pac_amer">
    <area alt="PR05" coords="190,53,231,70"   href="/search?query=pr05">
    <area alt="PR06" coords="204,72,243,89"   href="/search?query=pr06">
    <area alt="35NTALIZE2_1" coords="321,254,360,271" href="/search?query=35NTALIZE2_1">
    <area alt="PR16" coords="264,241,303,258" href="/search?query=pr16">
    <area alt="PR33" coords="181,267,220,284" href="/search?query=pr33">
    <area alt="PR32" coords="121,267,160,284" href="/search?query=pr32">
    <area alt="PR14" coords="383,406,422,423" href="/search?query=pr14">
    <area alt="31TTTPS47" coords="88,84,118,101"   href="/search?query=31TTTPS47">
    <area alt="P02" coords="88,153,118,170"  href="/search?query=p02">
    <area alt="31TTTPS24_1" coords="247,173,277,190" href="/search?query=31TTTPS24_1">
    <area alt="P04" coords="183,225,213,242" href="/search?query=p04">
    <area alt="3250031_1" coords="121,296,151,313" href="/search?query=3250031_1">
    <area alt="318MWESTW_4" coords="262,307,292,324" href="/search?query=318MWESTW_4">
    <area alt="P19" coords="363,335,393,352" href="/search?query=p19">
    <area alt="P06" coords="261,364,292,381" href="/search?query=p06">
    <area alt="P18" coords="315,406,345,423" href="/search?query=p18">
    <area alt="P17" coords="211,421,241,438" href="/search?query=p17">
    <area alt="316N138_10" coords="237,514,276,532" href="/search?query=316N138_10">
    <area alt="P16" coords="162,478,192,495" href="/search?query=p16">
    <area alt="P15" coords="98,477,129,494"  href="/search?query=p15">
    <area alt="P14" coords="45,435,75,452"   href="/search?query=p14">
  </map>
  {%- endcall %}
{%- endblock %}
