.DS_Store
*.pyc
.idea
*.pyo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
import_assets
*.ini
.webassets-cache
pycchdo/static/gen/*
