[app:pycchdo]
use = egg:pycchdo

reload_templates = true
debug_authorization = false
debug_notfound = false
debug_routematch = false
debug_templates = true
default_locale_name = en
pyramid.includes = 
    pyramid_jinja2
    pyramid_mailer
    pyramid_tm
    pyramid_debugtoolbar

# Search index
db_search_index_path = /Users/myshen/var/cache/pycchdo_search_index_dev

# filesystem root
fs_root = /Users/myshen/var/pycchdo_fs

# submission confirmation recipient (leave blank for default)
submission_confirmation_recipient = synmantics+test@gmail.com

# Security keys
# TODO change the secrets
key_auth_policy = seekrit
key_session_factory = itsaseekreet

sqlalchemy.url = postgresql://pycchdo:pycchd0@315@kaze.ucsd.edu:5432/dev_pycchdo
#sqlalchemy.url = sqlite:///%(here)s/development.db
#sqlalchemy.echo = True

[pipeline:main]
pipeline =
    egg:WebError#evalerror
    pycchdo

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

[pshell]
p = pycchdo
m = pycchdo.models.models
s = pycchdo.models.models.DBSession
v = pycchdo.views
t = transaction

# Begin logging configuration

[loggers]
keys = root, pycchdo, pycchdo_models, sqlalchemy
#keys = root, pycchdo, pycchdo_models

[handlers]
keys = null, console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = null

[logger_pycchdo]
level = DEBUG
handlers = console
qualname = pycchdo

[logger_pycchdo_models]
level = DEBUG
handlers = console
qualname = pycchdo.models.models

[logger_sqlalchemy]
level = WARN
# "level = INFO" logs SQL queries
# "level = DEBUG" logs SQL queries and results
# "level = WARN" logs neither (recommended)
handlers = console
qualname = sqlalchemy.engine

[handler_null]
class = NullHandler
args = ()
level = NOTSET
formatter = generic

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = [1;37m%(asctime)s [1;33m%(levelname)-5s [1;37m[%(name)s|%(threadName)s] [0m%(message)s

# End logging configuration
