[app:pycchdo]
app = pycchdo
use = egg:%(app)s

reload_templates = true
debug_authorization = false
debug_notfound = false
debug_routematch = false
debug_templates = true
default_locale_name = en
pyramid.includes = 
    pyramid_jinja2
    pyramid_mailer
    pyramid_tm
    pyramid_webassets
    pyramid_debugtoolbar

mail.sendmail_app = /usr/sbin/sendmail

search_index_path = /Users/myshen/var/pycchdo/si
file_system_path = /Users/myshen/var/pycchdo/fs

# submission confirmation recipient (leave blank for default)
recipient_submission_confirm = myshen+submission@ucsd.edu
recipient_asr_confirm = myshen+asr@ucsd.edu

# Security keys
# TODO change the secrets
key_auth_policy = seekrit
key_session_factory = itsaseekreet

sqlalchemy.url = postgresql://pycchdo:pycchd0%40315@sui.ucsd.edu:55432/dev_pycchdo
# echo may also take on value string debug
# sqlalchemy.echo = True
sqlalchemy.pool_timeout = 10

webassets.base_dir = %(here)s/%(app)s/static
webassets.base_url = /static
webassets.cache = True
webassets.debug = False

[pipeline:main]
pipeline =
    egg:WebError#evalerror
    pycchdo

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 65432

[pshell]
p = pycchdo
m = pycchdo.models.serial
s = pycchdo.models.serial.DBSession
v = pycchdo.views
t = transaction

# Begin logging configuration

[loggers]
keys = root, pycchdo, sqlalchemy

[handlers]
keys = null, console

[formatters]
keys = generic

[logger_root]
level = NOTSET
handlers = null

[logger_pycchdo]
level = NOTSET
handlers = console
qualname = pycchdo

[logger_sqlalchemy]
level = WARN
# "level = INFO" logs SQL queries
# "level = DEBUG" logs SQL queries and results
# "level = WARN" logs neither (recommended)
handlers = console
qualname = sqlalchemy.engine

[handler_null]
class = NullHandler
args = ()
level = NOTSET
formatter = generic

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
class = pycchdo.log.ColoredFormatter

# End logging configuration
