[app:pycchdo]
app = pycchdo
use = egg:%(app)s

reload_templates = true
debug_authorization = false
debug_notfound = false
debug_routematch = false
debug_templates = true
default_locale_name = en
pyramid.includes = 
    pyramid_jinja2
    pyramid_mailer
    pyramid_tm
    pyramid_webassets
    pyramid_debugtoolbar

# Search index
db_search_index_path = /Users/myshen/var/cache/%(app)s_search_index_dev

# filesystem root
fs_root = /Users/myshen/var/%(app)s_fs_dev

# submission confirmation recipient (leave blank for default)
submission_confirmation_recipient = synmantics+test@gmail.com

# Security keys
# TODO change the secrets
key_auth_policy = seekrit
key_session_factory = itsaseekreet

sqlalchemy.url = postgresql://pycchdo:pycchd0@315@sui.ucsd.edu:55432/dev_pycchdo
# echo may also take on value string debug
# sqlalchemy.echo = True
sqlalchemy.pool_timeout = 10

webassets.base_dir = %(here)s/%(app)s/static
# Do not set base_url to /static or it will mask real static files
webassets.base_url = /static/media
webassets.debug = True

[pipeline:main]
pipeline =
    egg:WebError#evalerror
    pycchdo

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 65432

[pshell]
p = pycchdo
m = pycchdo.models.models
s = pycchdo.models.models.DBSession
v = pycchdo.views
t = transaction

# Begin logging configuration

[loggers]
keys = root, pycchdo, pycchdo_models, sqlalchemy
#keys = root, pycchdo, pycchdo_models

[handlers]
keys = null, console

[formatters]
keys = generic

[logger_root]
level = DEBUG
handlers = null

[logger_pycchdo]
level = DEBUG
handlers = console
qualname = pycchdo

[logger_pycchdo_models]
level = DEBUG
handlers = console
qualname = pycchdo.models.models

[logger_sqlalchemy]
level = WARN
# "level = INFO" logs SQL queries
# "level = DEBUG" logs SQL queries and results
# "level = WARN" logs neither (recommended)
handlers = console
qualname = sqlalchemy.engine

[handler_null]
class = NullHandler
args = ()
level = NOTSET
formatter = generic

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = [1;37m%(asctime)s [1;33m%(levelname)-5s [1;37m[%(name)s|%(threadName)s] [0m%(message)s

# End logging configuration
