[app:pycchdo]
app = pycchdo
use = egg:%(app)s

reload_templates = false
debug_authorization = false
debug_notfound = false
debug_routematch = false
debug_templates = false
default_locale_name = en
pyramid.includes = 
    pyramid_jinja2
    pyramid_mailer
    pyramid_tm
    pyramid_webassets
    pyramid_exclog

mail.sendmail_app = /usr/sbin/sendmail

search_index_path = %(here)s/_si
file_system_path = %(here)s/_fs

# submission confirmation recipient (leave blank for default)
recipient_submission_confirm = cchdo@ucsd.edu
recipient_asr_confirm = cchdo@googlegroups.com
from_address = cchdo@ucsd.edu

# Security keys
key_auth_policy = 
key_session_factory = 

sqlalchemy.url = postgresql://pycchdo:pycchd0@315@sui.ucsd.edu:55432/prod_pycchdo

webassets.base_dir = %(here)s/%(app)s/static
webassets.base_url = /static
webassets.cache = True
webassets.debug = False

exclog.extra_info = True

[pipeline:main]
pipeline =
    pycchdo

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 65432

[pshell]
p = pycchdo
m = pycchdo.models.serial
s = pycchdo.models.serial.DBSession
v = pycchdo.views
t = transaction

# Begin logging configuration

[loggers]
keys = root, pycchdo, sqlalchemy, exc_logger

[handlers]
keys = console, file, exc_handler

[formatters]
keys = generic, color, exc_formatter

[logger_root]
level = WARN
handlers = file

[logger_pycchdo]
level = INFO
handlers = file
propagate = 0
qualname = pycchdo

[logger_sqlalchemy]
level = WARN
# "level = INFO" logs SQL queries
# "level = DEBUG" logs SQL queries and results
# "level = WARN" logs neither (recommended)
handlers = file
qualname = sqlalchemy.engine

[logger_exc_logger]
level = ERROR
handlers = exc_handler
propagate = 0
qualname = exc_logger

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[handler_file]
class = FileHandler
args = ('log.pycchdo.txt','a')
level = NOTSET
formatter = color

[handler_exc_handler]
class = FileHandler
args = ('log.exceptions.txt',)
level = ERROR
formatter = exc_formatter

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

[formatter_color]
class = pycchdo.log.ColoredFormatter

[formatter_exc_formatter]
format = %(asctime)s %(message)s

# End logging configuration
