{% extends "base.jinja2" %}
{%- block head %}
  {{ whh.tags.stylesheet_link('/static/css/metaTable.css') }}
{%- endblock %}
{% block title %}Ship {{ ship.name }}{% endblock %}
{% block content -%}
  {% call h.boxed('Ship ' + (ship.name or '')) -%}
    <table class="info">
      <tr><th>Name</th><td>{{ ship.name }}</td></tr>
      <tr><th>ID</th><td>{{ ship.id }}</td></tr>
    </table>
    {%- if h.has_edit(request) %}
      <div class="subsection editor">
        {{ whh.tags.form(request.route_path('ship_edit', ship_id=ship.id), 'PUT') }}
          <table>
            <tr><th><label for="name">Name</label></th><td><input type="text" name="name" value="{{ship.name}}"></td></tr>
          </table>
          <input type="submit" value="Save">
        {{ whh.tags.end_form() }}
      </div>
    {%- endif %}
    {%- if h.has_mod(request) %}
    <div class="subsection editor merger">
      <h2>This ship is exactly the same as another one</h2>
      <p>Enter the other ship's id here to replace the other with this one.</p>
      {{ whh.tags.form(request.route_path('ship_merge', ship_id=ship.id), 'PUT') }}
        <label for="ship_id">ship ID</label>
        <input type="text" id="ship_id" name="mergee_ship_id" value="">
        <input type="submit" value="Merge">
      {{ whh.tags.end_form() }}
    </div>
    {%- endif %}
    {%- if cruises %}
      <div class="subsection">
        <h2>Cruises</h2>
        {{ h.cruise_listing(request, cruises, pre_expand=True) }}
      </div>
    {%- endif %}
  {%- endcall %}
{%- endblock %}
{% block js %}
  {{ whh.tags.javascript_link('/static/js/jquery-1.4.4.min.js') }}
  {{ whh.tags.javascript_link('/static/js/metaTable.js') }}
{%- endblock %}
