<table width="100%">
  <tr><th>Event Date</th><th>Person</th><th>Date Type</th><th>Summary</th></tr>
  <tr>
    <td class='date'><%= @note_entry.Date_Entered %></td>
    <td><em><%= @note_entry.LastName %>, <%= @note_entry.First_Name %></em></td>
    <td><%= @note_entry.Data_Type %></td>
    <td><%= @note_entry.Summary %></td>
  </tr>
</table>
<h3>Detailed Notes</h3>
<%= h(@note_entry.Note) %>
