{% extends "/base.jinja2" %}
{% block title %}Argo Secure File Repository{% if subtitle %} | {{ subtitle }}{% endif %}{% endblock %}
{% block head -%}
  {{ whh.tags.stylesheet_link('/static/css/argo.css') }}
  {%- block argo_head %}{%- endblock %}
{% endblock %}
{% block content -%}
  {% call h.boxed('<img src="/static/img/logos/argo_logo.png" alt="Argo logo"> Secure File Repository', class='argo') -%}
    {% macro active(title, expected) %}
      {% if not (title or expected) or title == expected -%}
        active
      {%- endif %}
    {% endmacro %}
    <ol class="argo nav">
      <li class="{{ active(subtitle, '') }}"><a href="/argo">File index</a></li>
      <li class="{{ active(subtitle, 'New File') }}"><a href="/argo/new">Add file</a></li>
    </ol>
    {% block argo_content %}{% endblock %}
  {%- endcall %}
{%- endblock %}
