{%- extends "templates/argo/base.jinja2" %}
{%- block argo_content %}
  {% if argo_files %}
    <table>
      <tr class="header">
        <th>ExpoCode</th>
        <th>File</th>
        <th>Added by</th>
        <th>Added at</th>
        <th>Description</th>
        <th>Display</th>
        <th></th>
      </tr>
      {%- for af in argo_files %}
        <tr class="{{ loop.cycle('even', 'odd') }}">
          <td>{{ af.text_identifier }}</td>
          <td class="filename">
            {%- if af|attr('file') and af.file %}
              <a href="{{ h.data_uri(af) }}">{{ af.file.name }}</a>
            {%- else %}
              Not uploaded
            {%- endif %}
          </td>
          <td>{{ af.creation_stamp.person.full_name() }}</td>
          <td class="time">{{ af.creation_stamp.timestamp.strftime('%F %H:%M %Z') }}</td>
          <td class="description"><pre>{{ af.description }}</pre></td>
          <td>{{ af.display }}</td>
          <td>
            <p><a href="/argo/{{ af.id }}">Edit</a></p>
            <p><a href="/argo/{{ af.id }}?_method=DELETE">Delete</a></p>
          </td>
        </tr>
      {%- endfor %}
    </table>
  {%- else %}
    <p>There are no stored files.</p>
  {% endif %}
{%- endblock %}
