<table><tr>
  <td id='meta'>
    <div id='cruise_meta'><%= render :partial => "cruise_meta", :update => "cruise_meta" %></div>
    <div id="status_meta"><%= render :partial => "status_meta", :update => "status_meta" %></div>
    <div id='doc_meta'><%= render :partial => "doc_meta", :update => "doc_meta" %></div>
  </td>
  <td>
    <div id="cruise_history">
      <%= render :partial => "cruise_history", :update => "cruise_history" %>
    </div>
  </td>
</tr></table>
