<% form_for :document, @doc, :url => { :action => "cruise_information" } do |f| %>
<h1>Location:</h1>
<%= f.text_field :FileName, :size => "50" %></p>
<h1>Documents:</h1>
<%= f.text_area :Files %>
<% end %>
