<table id='cruise_status'>
  <tr>
    <td>
      <div id="cruise_list">
        <%= render :partial => "cruise_list", :update => "cruise_list" %>
      </div>
    </td>
    <td>
      <div id="all_cruise_meta">
        <%= render :partial => "all_cruise_meta", :update => "all_cruise_meta" %>
      </div>
    </td>
  </tr>
</table>
