.argo.nav {
  margin: -1em;
  margin-bottom: inherit;
  height: 2em;
  background-color: #F4F4F4;
}
.argo.nav li {
  float: left;
  margin-left: 1em;
}
.argo.nav a {
  display: block;
  border: none;
  padding: 0.2em 0.5em;
}
.argo.nav .active {
  background-color: #D0D0D0;
  border: 1px solid #D0D0D0;
  border-top: none;
  border-bottom: none;
  position: relative;
  height: 100%;
}

.argo table {
  width: 100%;
}
.argo td,
.argo th {
  padding: 0.5em;
}
.argo table .time {
  white-space: nowrap;
}
.argo table .description {
  width: 80%;
}
.argo table pre {
  margin: 0;
  width: inherit;
}

#content h2 {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.argo p {
  margin: 0.5em auto;
}
