#map_side {
  float: left;
  margin: 0 1em 1em 0;
}
#map {
  width: 100%;
  margin-top: 1em;
}
#map img {
}

/* These maps will be hidden by JS and their srcs used to swap the #map img */
.map {
  height: 2em;
}

#basin_area_selector p,
#basin_area_selector ol,
#basin_area_selector li {
  display: inline;
}

#cruises {
  max-height: 50em;
}
#cruises h2 {
  color: #006F89;
  font-size: 1.2em;
}
#cruises table {
  width: 100%;
}
#cruises .header {
  font-size: 1.1em;
  border-bottom: 1px solid #DDDDDD;
}
#cruises .odd1 {
  background: #EEFFEE;
}
#cruises .odd .odd1 {
  background: #DDFFDD;
}
#cruises .no_plot {
  background: #FFDDDD;
}
