.cruise-page #info { float: left; width: 466px; margin-right: 11px; }
.cruise-page #history { float: left; text-align: left; width: 543px; }
.cruise-page .upper .box_content { }
.cruise-page .boxed.upper .box_content { height: 39em; }

.cruise-page .subsection { margin-top: 1em; }

.cruise-page #history .subsection { margin-bottom: -1em; }

/* trim the padding and margins a little so text is nicely square.
 * This needs priority over things that go inside .box_contents
 */
.box_content > *:first-child {
  margin-top: -0.5em;
}

.cruise-page h2 {
  color: #006F89;
  font-size: 1.2em;
  margin-bottom: 0.2em;
}
.cruise-page h3 { margin: 0.5em 0 0.25em 0; }

.cruise-page .thumb { margin-top: -1.2em; margin-left: 1em; float: right; text-align: right; }
.cruise-page .thumb .caption { font-size: 0.9em; margin-top: -0.5em; }
.cruise-page .thumb a { border: none; }
.cruise-page .thumb img { width: 80px; height: 80px; }

.cruise-page #preliminary {
  color: #ff0900;
  font-size: 1.2em;
  margin: 0.5em 0;
}
.cruise-page .updates-available {
  display: block;
  color: #ff5960;
  margin: 0.5em 0;
}

.general-information p {
  padding-left: 0.5em;
}
.general-information p strong {
  margin-left: -0.5em;
}

.cruise-page .subsection.data-files th,
.cruise-page .subsection.data-files td {
  text-align: left;
  vertical-align: top;
}
.cruise-page .subsection.data-files th {
  width: 5em;
}
.cruise-page .subsection.data-files tr.preliminary td,
.cruise-page .subsection.data-files tr.preliminary th {
  color: #FF5555;
  font-style: italic;
}

.cruise-page .header th {
  border-bottom: 1px solid #DDDDDD;
  font-size: 1.2em;
}
.cruise-page th,
.cruise-page td {
  vertical-align: top;
}

#data-pending {
  padding: 0.2em;
  background: rgba(228, 228, 228, 0.5) url('http://developer.gnome.org/gtk/2.24/dialog-information.png') no-repeat -0.5em 0.5em;
  padding-left: 3em;
}
#data-pending h4 {
  font-size: 1.2em;
}
#data-pending form {
  margin-top: 1em;
}

#history table {
  width: 100%;
}
#history .body {
  font-size: 0.9em;
}
#history .date {
  white-space: nowrap;
  padding-right: 0.5em;
}
#history .body .body {
  letter-spacing: -1px;
}
#history input[type="text"] {
  width: 99%;
}

#updates table { width: 100%; }
#updates .file_date { width: 14em; }
#updates #merged .even { background-color: #D9EAED; }
#updates #merged .odd { background-color: #C9DADD; }
#updates #merged .even.open { background-color: #D1E2E5; }
#updates #merged .odd.open { background-color: #C1D2D5; }

.editor textarea {
  width: 100%;
  min-height: 6em;
}

/* pending */
#pending-review {
  padding: 0.5em;
  font-size: 1.2em;
  background: #aaddff url('/static/img/logos/project_seahunt_logo.png') no-repeat 100%;
  background-size: auto 100%;
}
.pending .boxed h1,
.pending .boxed .box_bottom {
  background: #aaddff;
}

/* editing information */
#info .editor table {
  width: 100%;
}
#info .editor th,
#info .editor .submit {
  text-align: right;
}
#info .editor th {
  width: 10%;
}
#info .editor select {
  min-width: 5em;
  width: 100%;
}
#info .editor input[type="text"],
#info .editor input[type="file"] {
  width: 100%;
}
label {
  font-size: 0.8em;
}

/* suggested attributes */
.suggestion .change .key,
.suggestion .change .value {
  color: #00AAFF;
}
