html {
  background: none;
  font-size: 1.2em;
  font-family: sans-serif;
}
ul, ol, p {
  margin: 0;
}
#cchdo_logo {
  padding-left: 0.5em;
  max-width: 100%;
}
#session_status {
  position: static;
  right: auto;
  text-align: left;
  border-bottom: 1px solid #DDDDDD;
  padding: 0.2em 0.5em;
}
#gsearch {
  position: static;
  padding: 0.5em;
}
#gsearch p {
  text-align: left;
}
#picture {
  display: none;
}
#centering {
  width: auto;
  margin-top: 0;
}
#cchdo_menu {
  position: static;
  text-align: left;
  border-top: 1px solid #DDDDDD;
  top: 0;
  margin: 0;
}
#cchdo_menu .nav,
#cchdo_menu .nav.open {
  height: auto;
}
#cchdo_menu ul.nav li {
  padding: 0;
  display: block;
}
#cchdo_menu #cchdo_menu_get,
#cchdo_menu #cchdo_menu_basins,
#cchdo_menu #cchdo_menu_give,
#cchdo_menu #cchdo_menu_information {
  padding: 0;
}
#cchdo_menu h1 {
  text-transform: none;
}
#cchdo_menu a {
  padding: 0 0.6em;
  line-height: 3em;
}
#cchdo_menu h1 a { 
  display: block;
  background: #EEEEEE;
  padding: 0 0.35em;
  border-bottom: 1px solid #DDDDDD;
  line-height: 1.5em;
}
#cchdo_menu .expander h1 a {
  text-align: center;
  font-size: 1.7em;
  width: auto;
  display: block;
}
#cchdo_menu .expander.lightup h1 a {
  padding: 0 0.5em;
}
#cchdo_menu h1 a:active { 
  background: #FFFFEE;
}
#cchdo_menu ul ul {
  position: static;
  display: none;
}
#cchdo_menu ul.open ul {
  visibility: visible;
  display: block;
}
#cchdo_menu ul ul ul {
  margin: auto;
}
#cchdo_menu ul ul li {
  height: auto;
  line-height: auto;
}
#cchdo_menu ul ul ul a {
  padding-left: 2em;
}
#gfooter {
  border-top: 1px solid #DDDDDD;
}
#gfooter #screensize #screensize-full,
#gfooter #screensize #screensize-mobile {
  float: none;
  display: block;
  margin: 0;

  text-align: center;
  padding: 0.5em 0.2em;
}
#gfooter #screensize #screensize-mobile {
  display: none;
}
#gcredit {
  text-align: left;
}
#gcredit p {
  width: auto;
  text-align: justify;
  margin: 0;
  padding: 0.5em;
}
#gcredit #nsfcredit {
  padding: 0.2em;
  text-align: left;
}
#footer_logos {
  position: static;
  padding-left: 0.5em;
}
.boxed {
  border: none;
  margin: 0;
}
.boxed > h1 {
  background: none;
}
.boxed .box_content {
  padding: 0.5em;
}
.box_bottom {
  display: none;
}

.pager {
  text-align: right;
  margin: 0.5em auto;
}
.pager a {
  padding: 0.5em;
}

.left {
  width: auto;
  float: none;
}
.right {
  position: relative;
  width: auto;
  float: none;
}
#geo_search #basin,
#geo_search #search_map {
  float: none;
  margin: auto;
}
#basin_selector_map img,
#geo_search #search_map img {
  width: 100%;
}
#geo_search h2 {
  text-align: left;
}

.cruise-page #info,
.cruise-page #history,
.cruise-page div.boxed.upper {
  float: none;
  width: auto;
  margin: 0;
}
.cruise-page .boxed.upper .box_content {
  height: auto;
}

.scrollable-y {
  /* apologies for !important. Need to override even #ids though */
  max-height: none !important;
}

.by-ocean .mapimg img {
  max-width: 100%;
}
.by-ocean #map_side {
  float: none;
}

.contact .people .vcard {
  float: none;
  width: auto;
}

.argo.nav {
  margin: -0.5em;
}
