.home {
  position: relative;
}
.left {
  width: 70%;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 28.7%;
}

.home h2 {
  color: #006F89;
  font-size: 1.2em;
}

#intro img {
  float: left;
  width: 13em;
  height: 13em;
  margin: auto 1em 1em auto;
}
#intro p {
  margin-bottom: 0.5em;
  text-align: justify;
}

#geo_search h2 {
  text-align: center;
  margin-bottom: 0.2em;
}
#geo_search .box_content {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
#geo_search #basin {
  float: left;
  margin-left: 0.5em;
}
#geo_search #search_map {
  float: right;
  margin-right: 0.5em;
}
#geo_search #search_map a {
  border: none;
}

#rdev .box_content {
  max-height: 42em;
}
.home h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
#rdev ol {
  overflow: hidden;
}
#rdev li {
  position: relative;
  margin: 0 0 1em 0;
}
#rdev .thumb {
  height: 8em;
}
#rdev img {
  margin-right: 0.5em;
  height: 100%;
  max-width: 8em;
}
#rdev .info {
  position: absolute;
  top: 0;
  left: 8.5em;
}
#rdev .info h3,
#rdev .info p {
  white-space: nowrap;
  margin: 0;
}
#rdev .info p {
  margin-left: 1em;
}
#rdev .info strong {
  color: #67a9bb;
  margin-left: -1em;
}
