.has-meta-bodies .expander a {
  text-decoration: none;
  border: none;
  color: inherit;
}
.has-meta-bodies th.expander,
.has-meta-bodies tr.expander {
  width: 0.5em;
  padding: 0;
}
.has-meta-bodies .open {
  background: #FFFFEE;
}
.has-meta-bodies .open.odd {
  background: #F0EEDD;
}
.has-meta-bodies .expander a div {
  width: 9px;
  height: 9px;
  margin-top: 0.1em;
  background: url('/static/img/icons/disclosure_arrows.png') no-repeat;
}
.has-meta-bodies .open .expander a div {
  background-position: 0 -9px;
}
