.has-meta-bodies .expander a {
  text-decoration: none;
  border: none;
  color: inherit;
}
.has-meta-bodies .expander {
  width: 0.5em;
  padding: 0;
  padding-left: 0.2em;
}
.has-meta-bodies .open {
  background: #FFFFEE;
}
.has-meta-bodies .open.odd {
  background: #F0EEDD;
}
.has-meta-bodies .header {
  background: #EEFFFE;
}
.has-meta-bodies .header.open {
  background: #EBFCFB;
}
