html {
  background: url('/static/img/bg.png');
}
body {
  position: relative;
}
html, button, input, select, textarea,
#content {
  font-family: 'Open Sans', Helvetica, Arial, Tahoma, sans-serif;
}
html, button, input, select, textarea {
  font-size: 0.85em;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}
h2 {
  margin: 0.5em auto 0.2em auto;
}
ol, ul {
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol, ul, p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 0;
  margin-bottom: 0;
}
th {
  font-weight: normal;
  text-align: left;
}

a, .link {
  color: #405381;
  text-decoration: none;
}
a:visited, .link.visited {
  color: #88673E;
}
a:active {
  color: #DD4B39;
}

.box_content a, .box_content .link,
#screensize a, #screensize .link,
p a, p .link {
/*  border-bottom: 1px dashed #CFE2FF; */
}
.box_content a:hover, .box_content .link.hover,
#screensize a:hover, #screensize .link.hover,
p a:hover, p .link.hover {
  border-bottom: 1px solid #A0B3E1;
}
.box_content a:visited, .box_content .link.visited,
#screensize a:visited, #screensize .link.visited,
p a:visited, p .link.visited {
/*  border-bottom: 1px dashed #F8D7BE; */
}
.box_content a:hover:visited, .box_content .link.visited.hover,
#screensize a:hover:visited, #screensize .link.visited.hover,
p a:hover:visited, p .link.visited.hover {
  border-bottom: 1px solid #E8C79E;
}

#janrainEngageEmbed a,
#timeline a {
  border-bottom: none;
}

.box_content #no_accounts a,
.box_content .thumb a,
#search_map_ad a,
.box_content a.updates-available {
  border: none;
}
.box_bottom {
  clear: both;
}

.preformatted,
.notes .note .body,
pre {
  line-height: 1.2em;
  font-size: 1em;
  letter-spacing: 0.05em;
  font-family: Inconsolata, Consolas, Deja Vu Sans Mono, Andale Mono, Courier New, Courier, Fixed, monospace;
  margin: 0;
  white-space: pre-wrap;
}
th, td {
  padding: 0.2em;
}

/* fullwidth */
#centering.fullwidth {
  width: 100%;
  min-width: 1024px;
}
.fullwidth #bannerA,
.fullwidth #bannerB {
  width: 1024px;
  margin-left: 50%;
  left: -512px;
}
.banner.fullwidth {
  display: none;
}
.fullwidth .banner.fullwidth {
  display: block;
}

/* Flash messages */
.flash {
  margin: 0;
  font-size: 1.1em;
  padding: 0.5em;
  background: #FFFFEE;
}
.flash.action_taken {
  background: #FFDDAA;
}
.flash.info, 
.flash.help {
  background: #DDEEFF;
}
.flash.error {
  background: #FFDDDD;
}
.flash.success {
  background: #DDFFDD;
}

/* Required form fields */
.required-symbol {
  vertical-align: top;
  color: red;
}

/* Form errors */
.form-error {
  color: #FF0000;
  background: #FFFAFA;
  font-size: 0.85em;
  padding: 0.2em;
}

/* tables */
.box_content table {
  width: 100%;
}
.box_content table.nofill {
  width: auto;
}
table tr.header th {
  border-bottom: 1px solid #DDDDDD;
  font-size: 1.2em;
}

/* Hide Microformat specific tags */
.hidden { display: none; }

/* generic classes */
.scrollable-y {
  overflow-y: auto;
}
.scrollable-x {
  overflow-x: auto;
}
.clear { clear: both; }
.unselectable {
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Hide email obfuscation */
.copythis { display: none; }

.expander a {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-top: 4.5px;
  background: url('/static/img/icons/disclosure_arrows.png') no-repeat;
}
.reverse.expander a {
  background-position: 0 -18px;
}
.header .expander a {
  background: url('/static/img/icons/expandall_arrows.png') no-repeat;
}
.open .expander a {
  background-position: 0 -9px;
}

/* Default table row styling */
tr.odd {
  background: #F8F8F8;
}

#centering {
  margin: 0 auto;
  width: 1024px;
}

#gheader {
  position: relative;
  height: 45px;
  margin: 0.2em 0;
}

.masthead-block {
  float: left;
  height: 3.05em;
  padding: 0.35em 0.35em 0.2em 0.2em;
}
.masthead-right {
  float: right;
  padding-right: 0;
}
.masthead-right .masthead-block {
  padding: 0 0.2em 0 0.2em;
  height: 100%;
  text-align: center;
}

#cchdo_logo img {
  height: 45px;
}
#cchdo_logo.masthead-block {
  padding: 0;
}

#gsearch {
  padding-top: 0.6em;
}
#gsearch form {
}
#gsearch #query {
  font-size: 1.3em;
  line-height: 1.2em;
  width: 15em;
  height: 1.4em;
}
#query:focus {
  border: 1px solid #67A9BB;
  border-left: none;
  border-right: none;
  outline: none;
}
#gsearch input[type="submit"] {
  font-size: 1.3em;
  line-height: 1em;
  margin-left: -0.2em;
  height: 1.6em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
}

#datacart_status{
  margin-right: 0.2em;
}
#datacart_status p.count a {
  font-size: 1.1em;
  color: #666666;
  text-decoration: none;
}

#session_status {
  text-align: right;
}
#session_status.moderator {
  background: #FFDDDD;
  padding: 0.2em 0.5em;
}
#not-user {
  font-size: 0.6em;
  font-style: italic;
}
#signout {
  font-size: 0.7em;
}

/* datacart */
a.datacart-link,
a.datacart-link:hover {
  border: none;
}
a.datacart-link .datacart-icon {
  display: inline-block;
}
div.formats-sections span,
a.datacart-link {
  padding: 0;
}

.data-formats .short .datacart { left: 13em; margin-top: 0; }
.cruise-listing .formats-sections th,
.cruise-listing .formats-sections td { padding-top: 0; padding-bottom: 0; font-size: 0.7em}
.cruise-listing .datacart-cruise-links { margin-top: 0.1em; }
.cruise-listing .datacart-cruise-links .datacart-icon { margin-left: 0; }
.cruise-listing tr.open .datacart-cruise-links .datacart-icon { margin-left: 3em; }
.cruise-page #data .datacart-cruise-links,
.expanded .datacart-cruise-links,
.ui-dialog .datacart-cruise-links {
  position: absolute;
  right: 0;
  top: 0.5em;
  /* center the global tools vertically
  top: 50%;
  margin-top: -1em;
  */
  z-index: 1;
}
div.datacart-icon {
  background: url("/static/img/cart/cart_sprite.png");
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
}
#datacart_status.hidden {
  display: none;
}
#datacart_status .datacart-link {
  text-decoration: none;
  display: block;
}
#datacart_status .datacart-icon {
  background-size: 40px auto;
  width: 40px;
  height: 40px;
  background-position: 0 120px;
}
#datacart_status .count {
  text-align: center;
  margin-right: 3px;
  padding-top: 4px;
  color: #60A864;
}
.lt-ie9 .datacart-add .datacart-icon,
.lt-ie9 .datacart-remove .datacart-icon {
  background: transparent url("/images/cart/cart_sprite_small.png") repeat-y;
}
.datacart-blank .datacart-icon, .datacart-add .datacart-icon, .datacart-remove .datacart-icon {
  background-size: 15px auto;
  background-position: 8px;
  background-repeat: repeat-y;
  width: 15px;
  height: 15px;
  line-height: 15px;
  padding-left: 17px;
  color: #2670C8;
  font-family: sans-serif;
  font-size: 0.9em;
  text-decoration: none;
}
.datacart-blank .datacart-icon { background-position: 0 45px; padding-left: 0; }
.datacart-add .datacart-icon { background-position: 0 30px; }
.datacart-remove .datacart-icon { background-position: 0 15px; }
.datacart-add-cruise .datacart-icon { background-position: 0 0px; }
.datacart-remove-cruise .datacart-icon { background-position: 0 60px; }

.datacart-cruise .datacart-icon { width: 5em; }

.datacart-dl th {
  padding-left: 0.2em;
}
.datacart-dl .hl {
  background-color: #eeeeee;
}
.datacart-dl .datacart-remove {
  width: 5em;
}
.datacart-dl #quick-dl p {
  width: auto;
  max-width: none;
}
.datacart-dl #quick-dl li {
  float: left;
}
.datacart-dl table {
  clear: left;
}
.datacart-dl .tools .download {
  font-size: 1.1em;
  background-color: #CCEEBB;
  border: 1px solid #99CC66;
  border-radius: 0.3em;
  color: #55AA22;
}
.datacart-dl .tools .download:hover {
  background-color: #ddffaa;
}
.datacart-dl .tools .download:active {
  color: #EEEEEE;
  background-color: #99CC66;
}
.datacart-dl .tools .clear {
  background-color: #FFAAAA;
  border: 1px solid #dd8888;
  border-radius: 0.3em;
  color: #772222;
}
.datacart-dl .tools .clear:hover {
  background-color: #FFBBBB;
}
.datacart-dl .tools .clear:active {
  color: #EEEEEE;
  background-color: #994444;
}


input {
  vertical-align: top;
}
input[type="radio"],
input[type="checkbox"] {
  vertical-align: baseline;
}

input[type="search"],
input[type="date"],
input[type="datetime"],
input[type="url"],
input[type="email"],
input[type="text"],
textarea {
  font-size: 1em;
  background: #F0F0F0;
  border: 1px solid #D0D0D0;
  border-left: 0;
  border-right: 0;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
input[type="search"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0);
  border-left: 0;
  border-right: 0;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="submit"] { 
  letter-spacing: -0.1em;
  border: 1px solid #afafaf;
  color: #4f4f4f;
  font-weight: lighter;
  font-size: 0.95em;
  height: 1.8em;
  line-height: 1.2em;
  padding: 0.2em 0.5em;
  background: #FFFFFF;
  -webkit-transition: color .3s ease, background .3s ease, border .3s ease;
  -moz-transition: color .3s ease, background .3s ease, border .3s ease;
  -o-transition: color .3s ease, background .3s ease, border .3s ease;
  transition: color .3s ease, background .3s ease, border .3s ease;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
input[type="submit"]:hover { 
  color: #1f1f1f;
  border: 1px solid #4f4f4f;
  -webkit-transition: color .3s ease, border .3s ease;
  -moz-transition: color .3s ease, border .3s ease;
  -o-transition: color .3s ease, border .3s ease;
  transition: color .3s ease, border .3s ease;
}
input[type="submit"]:active { 
  border: 1px solid #000000;
  background: #EAEAFF;
  color: #000000;
  -webkit-transition: color .3s ease, background .3s ease, border .3s ease;
  -moz-transition: color .3s ease, background .3s ease, border .3s ease;
  -o-transition: color .3s ease, background .3s ease, border .3s ease;
  transition: color .3s ease, background .3s ease, border .3s ease;
}
#gsearch p {
  padding-top: 0.25em;
  font-size: 0.75em;
  text-align: right;
}

#picture {
  position: relative;
  height: 125px;
  z-index: 100;
}
.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/static/img/banners/banner.jpg');
  background-size: 100%;
}

/* .focus is for tabbable menus */
#cchdo_menu {
  /* pin to bottom of picture */
  z-index: 100;
  position: relative;
  margin-top: -2.5em;
  width: 100%;
  /* make a light area in the picture for the menu */
  background: url("/static/img/banners/transparent_menu_bg.png");
  background: rgba(219, 219, 219, 0.7);
  text-align: center;
}
#cchdo_menu .nav {
  height: 2.5em;
}
#cchdo_menu h1 a {
  font-size: 1.3em;
  line-height: 2em;
  text-shadow: #DDDDDD 1px 1px 0;
}
#cchdo_menu h1 a.focus,
#cchdo_menu h1 a:hover {
  text-shadow: #90A3E1 1px 1px 0;
}
#cchdo_menu a {
  color: #000000;
  border: none;
  text-align: left;
  padding: 0 0.5em;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
}
#cchdo_menu li {
  /* Make all entries a little bigger */
  padding: 0 3.5em 0 0;
  position: relative;
  display: inline;
  text-transform: uppercase;
  z-index: 100;
  white-space: nowrap;
  line-height: 2em;
}
#cchdo_menu .expander,
#cchdo_menu #cchdo_menu_find,
#cchdo_menu #cchdo_menu_information {
  padding: 0;
}
#cchdo_menu #cchdo_menu_basins {
  padding: 0 3em;
}

#cchdo_menu li h1 { 
  display: inline;
}
/* reverse styling for submenu entries */
#cchdo_menu ul ul li {
  padding: 0;
  position: static;
  display: block;
  text-transform: none;
  height: 2em;
  line-height: 2em;
}
#cchdo_menu ul ul {
  visibility: hidden;
  position: absolute;
  width: 100%;
  left: 0; /* HACK force firefox to left align */
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
}
#cchdo_menu ul ul a {
  height: 100%;
  display: block;
  font-size: 1.05em;
}

/* level2 hl */
#cchdo_menu ul ul li.focus,
#cchdo_menu ul ul li:hover {
  background: #E8E8E8;
}
/* level2 link hl */
#cchdo_menu ul ul li a.focus,
#cchdo_menu ul ul li a:hover {
  background: #D8D8D8;
  color: #90A3D1;
}
/* level3 link reset */
#cchdo_menu ul ul li.focus ul a,
#cchdo_menu ul ul li:hover ul a {
  color: #000000;
}
#cchdo_menu ul ul ul a {
  font-size: 0.9em;
  padding-left: 1.5em;
}
#cchdo_menu ul ul ul {
  border-left: 1px solid #E4E4E4;
  position: static;
}
#cchdo_menu ul ul ul li.focus a,
#cchdo_menu ul ul ul li:hover a {
  background: #888888;
  color: #EEEEEE;
}

/* expands whole menu */
#cchdo_menu ul.open {
  height: 14.5em;
  padding-bottom: 0.1em;
  background: rgba(247, 247, 247, 0.6);
  -webkit-transition: height .1s ease;
  -moz-transition: height .1s ease;
  -o-transition: height .1s ease;
  transition: height .1s ease;
}
#cchdo_menu ul.open li ul li,
#cchdo_menu ul.open ul ul li {
  display: block;
  height: auto;
}
#cchdo_menu ul.open ul,
#cchdo_menu ul.open ul li ul {
  visibility: visible;
}
#cchdo_menu .expander a {
  width: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#cchdo_menu .expander.lightup h1 {
  background: #F8F8D8;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
}
#cchdo_menu .reverse.expander.more a {
  font-size: 0.95em;
  color: #7083C1;
  display: inline;
  background: none;
}

#gfooter {
  position: relative;
  bottom: 0;
  clear: both;
  margin: 1em 0;
}
#gfooter #screensize a {
  margin-left: 0.5em;
  float: left;
}
#screensize-full {
  display: none;
}
#screensize-mobile {
  display: inline;
}
#gcredit {
  color: #AAAAAA;
  text-align: center;
  font-size: 0.7em;
}
#gcredit a {
  white-space: nowrap;
}
#gcredit p {
  width: 62%;
  margin: 0 auto;
}
#gcredit #nsfcredit {
  font-size: 1.3em;
  text-align: center;
}
#footer_logos {
  position: absolute;
  top: 0;
  right: 0;
}
#footer_logos img {
  height: 40px;
}

.boxed { 
  background: #FEFEFE;
  line-height: 1.5em;
  position: relative;
  margin-bottom: 1em;
  z-index: 0;
}
.boxed > h1 {
  font-size: 1.3em;
  border-bottom: 1px solid #D0D0D0;
  background-color: #F0F0F0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5em;
  margin: 0;
}
.boxed .box_content {
  padding: 1em;
  position: relative;
}

/* Pagers */
.pager {
  text-align: center;
  margin: 0.5em 25em;
  border: 1px solid #EEEEEE;
  border-left: 0;
  border-right: 0;
}
.pager .pager_curpage,
.pager a.pager_link {
  display: inline-block;
  padding: 0.2em 0.5em;
  border-bottom: none;
}
.pager a:hover {
  text-shadow: 0 0 1em #CB4310;
  -webkit-transition: text-shadow .3s ease;
  -moz-transition: text-shadow .3s ease;
  -o-transition: text-shadow .3s ease;
  transition: text-shadow .3s ease;
}
.pager_curpage {
  font-size: 1.25em;
  color: #DDDDDD;
  vertical-align: -0.1em;
}

/* Denotes editable forms on any page */
.editor {
  background: #FFFFEE;
  clear: both;
  margin: 0.5em 0;
  padding: 0.5em 0;
  border: 1px solid #EEEEEE;
  border-left: 0;
  border-right: 0;
}
.editor.continued-top {
  border-bottom: 0;
}
.editor.continued {
  border: 0;
}
.editor.continued-bottom {
  border-top: 0;
}

/* search_adv */
#content.search_adv .box_content {
  padding-top: 0.3em;
}
.search_adv h2 {
	font-size: 1.2em;
  margin-top: 0.5em;
}
.search_adv h3 {
  margin-top: 0.5em;
}
.search_adv table {
	position: relative;
	left: 10px;
}
.search_adv td {
	padding: 0.1em;
	padding-right: 0.4em;
	text-align: right;
}
.search_adv table input[type="search"] {
  width: 20em;
}
.search_adv .date_slider {
  position: relative;
  width: 40em;
  margin: 0.2em auto 1em 1em;
}
.search_adv .date_slider .text-fields {
  margin-bottom: 0.5em;
}
.search_adv .date_slider .search_date {
  text-align: center;
  width: 6.5em;
}
.search_adv .date_slider .max {
  position: absolute;
  right: 0;
}
.search_adv #date_to_date {
	position: absolute;
	left: 19em;
	right: 20em;
	text-align: center;
}
.search_adv .timeline {
  position: absolute;
}
.search_adv #timeline1 {
  position: static;
}
.search_adv #timeline2 {
  right: 75%;
}
.search_adv #timeline3 {
  right: 50%;
}
.search_adv #timeline4 {
  right: 25%;
}
.search_adv #timeline5 {
  right: 0;
}

/* Carina */
#carina-about p {
  margin: 0.5em auto;
}

/* Attribute notes */
table.notes {
  width: 100%;
}
.notes .note {
  border-top: 1px solid rgba(208, 208, 208, 0.5);
}
.notes .note .person,
.notes .note .date {
  width: 11em;
  font-size: 0.8em;
}
.notes .note .person {
  text-align: right;
  padding-right: 1em;
}
.notes .note.discussion {
  color: rgba(255, 100, 0, 0.7);
}
.notes .note.add-note td {
  vertical-align: baseline;
}
.notes .note textarea {
  width: 100%;
  min-height: 6em;
}

.search-results h2 {
  font-size: 1.3em;
}
.search-results h3 {
  margin-top: 0.5em;
}
.search-results .cruise-listing {
  margin-bottom: 1em;
}

/* cruise listing */
.metadata-cruise .aliases,
.metadata-cruise .identifier .expocode {
  color: #51888E;
}
.metadata-cruise .aliases {
  font-size: 1.05em;
  margin-right: 1em;
}
.metadata-cruise .chief_scientists {
  padding-left: 1em;
  text-indent: -1em;
}
.identifier .expocode {
  font-size: 1.3em;
  font-weight: normal;
  color: #89773F;
}
.identifier .cruise_dates {
  color: #777777;
}
.expanded .identifier .expocode {
  position: absolute;
  left: 5.57em;
}
.metadata-cruise .links {
  text-transform: uppercase;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 0.90em;
}
.metadata-cruise .links form, 
.metadata-cruise .links div {
  display: inline;
}
.cruise-listing .meta td,
.cruise-listing .body td {
  vertical-align: top;
}
.cruise-listing .cruise-track-img {
  max-width: 128px;
}
.cruise-listing th.identifier { width: 20%; }
.cruise-listing th.who { width: 25%; }
.cruise-listing th.map { width: 128px; }
.cruise-listing .tools {
  background: #C8DBF9;
  width: 100%;
  position: relative;
}
.cruise-listing .tools .tool-count {
  padding: 0.2em 0.3em;
}
.cruise-listing .tools .datacart-cruises-links {
  width: 12em;
  text-align: left;
  position: absolute;
  right: 0;
  top: 0.1em;
}

.cruise-listing .tool input[type=submit], .metadata-cruise .links input[type=submit] {
  color: #556F8E;
  margin-right: 0.7em;
  display: inline-block;
  background-color: #F8F8F8;
  border: 1px solid #95AFCE;
  border-radius: 0.3em;
  letter-spacing: 0;
  line-height: 0.8em;
  font-weight: normal;
}
.cruise-listing .tool input[type=submit]:hover, .metadata-cruise .links input[type=submit]:hover {
  background-color: #B5DFFE;
}
.cruise-listing .tool input[type=submit]:active, .metadata-cruise .links input[type=submit]:active {
  background-color: #95AFCE;
  border-color: #556F8E;
  color: #EEEEEE;
}

span.datesep {
  font-size: 0.6em;
  padding: 0 0.3em;
  color: #CCCCCC;
}
