html {
  background: url('/static/img/bg.png');
}
body {
  position: relative;
}
html, button, input, select, textarea,
#content {
  font-family: 'Open Sans', Helvetica, Arial, Tahoma, sans-serif;
}
html, button, input, select, textarea {
  font-size: 0.85em;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}
h2 {
  margin: 0.5em auto 0.2em auto;
}
ol, ul {
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol, ul, p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 0;
  margin-bottom: 0;
}
th {
  font-weight: normal;
  text-align: left;
}

a, .link {
  color: #405381;
  text-decoration: none;
}
a:visited, .link.visited {
  color: #88673E;
}
a:active {
  color: #DD4B39;
}

.box_content a, .box_content .link,
#screensize a, #screensize .link,
p a, p .link {
  border-bottom: 1px dashed #CFE2FF;
}
.box_content a:hover, .box_content .link.hover,
#screensize a:hover, #screensize .link.hover,
p a:hover, p .link.hover {
  border-bottom: 1px solid #A0B3E1;
}
.box_content a:visited, .box_content .link.visited,
#screensize a:visited, #screensize .link.visited,
p a:visited, p .link.visited {
  border-bottom: 1px dashed #F8D7BE;
}
.box_content a:hover:visited, .box_content .link.visited.hover,
#screensize a:hover:visited, #screensize .link.visited.hover,
p a:hover:visited, p .link.visited.hover {
  border-bottom: 1px solid #E8C79E;
}
.box_content #no_accounts a,
.box_content .thumb a,
.box_content a.updates-available {
  border: none;
}

.preformatted,
pre {
  line-height: 1.2em;
  font-size: 1em;
  letter-spacing: 0.05em;
  font-family: Inconsolata, Consolas, Deja Vu Sans Mono, Andale Mono, Courier New, Courier, Fixed, monospace;
  white-space: pre-wrap;
}
th, td {
  padding: 0.2em;
}

/* fullwidth */
#centering.fullwidth {
  width: 100%;
  min-width: 1024px;
}
.fullwidth #bannerA,
.fullwidth #bannerB {
  width: 1024px;
  margin-left: 50%;
  left: -512px;
}
.banner.fullwidth {
  display: none;
}
.fullwidth .banner.fullwidth {
  display: block;
}

/* Flash messages */
.flash {
  margin: 0;
  font-size: 1.1em;
  padding: 0.5em;
  background: #FFFFEE;
  border: 1px solid #EEEEEE;
  border-top: 0;
  border-bottom: 0;
}
.flash.action_taken {
  background: #FFDDAA;
}

/* Required form fields */
.required-symbol {
  vertical-align: top;
  color: red;
}

/* Form errors */
.form-error {
  color: #FF0000;
  background: #FFFAFA;
  font-size: 0.85em;
  padding: 0.2em;
}

/* tables */
.box_content table {
  width: 100%;
}
table tr.header th {
  border-bottom: 1px solid #DDDDDD;
  font-size: 1.2em;
}

/* Hide Microformat specific tags */
.hidden { display: none; }

/* generic classes */
.scrollable-y {
  overflow-y: auto;
}
.scrollable-x {
  overflow-x: auto;
}
.clear { clear: both; }

/* Hide email obfuscation. Different from display: none because the text needs
 * to actually be present in DOM */
.copythis { position: absolute; left: -10000px; }

/* Default table row styling */
tr.odd {
  background: #F8F8F8;
}

#centering {
  margin: 0 auto;
  margin-top: 0.5em;
  width: 1024px;
}

#gheader {
  position: relative;
}

#cchdo_logo {
  height: 3.5em;
}

#session_status {
  position: absolute;
  top: 0;
  right: 24em;
  text-align: right;
}
#session_status.moderator {
  background: #FFDDDD;
  padding: 0.2em 0.5em;
}

#gsearch {
  position: absolute;
  right: 0;
  top: 0;
}
input {
  vertical-align: top;
}
input[type="checkbox"] {
  vertical-align: baseline;
}

input[type="search"],
input[type="date"],
input[type="email"],
input[type="text"],
textarea {
  background: #F0F0F0;
  font-size: 1.1em;
  border: 1px solid #D0D0D0;
  border-left: 0;
  border-right: 0;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
input[type="search"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0);
  border-left: 0;
  border-right: 0;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="submit"] { 
  letter-spacing: -1px;
  border: 1px solid #afafaf;
  color: #4f4f4f;
  font-weight: lighter;
  font-size: 0.95em;
  height: 1.8em;
  line-height: 1.2em;
  padding: 0.2em 0.5em;
  background: #FFFFFF;
  -webkit-transition: color .3s ease, background .3s ease, border .3s ease;
  -moz-transition: color .3s ease, background .3s ease, border .3s ease;
  -o-transition: color .3s ease, background .3s ease, border .3s ease;
  transition: color .3s ease, background .3s ease, border .3s ease;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
input[type="submit"]:hover { 
  color: #1f1f1f;
  border: 1px solid #4f4f4f;
  -webkit-transition: color .3s ease, border .3s ease;
  -moz-transition: color .3s ease, border .3s ease;
  -o-transition: color .3s ease, border .3s ease;
  transition: color .3s ease, border .3s ease;
}
input[type="submit"]:active { 
  border: 1px solid #000000;
  background: #EAEAFF;
  color: #000000;
  -webkit-transition: color .3s ease, background .3s ease, border .3s ease;
  -moz-transition: color .3s ease, background .3s ease, border .3s ease;
  -o-transition: color .3s ease, background .3s ease, border .3s ease;
  transition: color .3s ease, background .3s ease, border .3s ease;
}
#gsearch p {
  padding-top: 0.25em;
  font-size: 0.75em;
  text-align: right;
}

#picture {
  position: relative;
  height: 125px;
  z-index: 100;
}
.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/static/img/banners/banner.jpg');
  background-size: 100%;
}

#cchdo_menu {
  /* pin to bottom of picture */
  z-index: 100;
  position: relative;
  margin-top: -1.83em;
  width: 100%;
  /* make a light area in the picture for the menu */
  background: url("/static/img/banners/transparent_menu_bg.png");
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}
#cchdo_menu h1 a {
  font-size: 1.3em;
  text-shadow: 0 0 0.1em #F8F8F8, 0 0 0.2em #F0F0F0, 0 0 0.3em #E8E8E8;
}
#cchdo_menu a {
  color: #000000;
  border: none;
}
#cchdo_menu li {
  /* Make all entries a little bigger */
  padding: 0 2em;
  position: relative;
  display: inline;
  text-transform: uppercase;
  z-index: 100;
  white-space: nowrap;
}
#cchdo_menu #cchdo_menu_give {
  padding: 0 3em;
}
#cchdo_menu #cchdo_menu_get {
  padding: 0 2.5em;
}
#cchdo_menu #cchdo_menu_information {
  padding: 0 0.5em;
}

#cchdo_menu li h1 { 
  display: inline;
}
/* back up styling for submenu entries */
#cchdo_menu ul ul li {
  padding: 0;
  position: static;
  display: block;
  text-transform: none;
  height: 2em;
  line-height: 2em;
}
#cchdo_menu ul ul {
  visibility: hidden;
  position: absolute;
  width: 100%;
  left: 0; /* HACK force firefox to left align */
  background: #D8D8D8;
  opacity: 0;
  -webkit-transition: visibility .3s ease, opacity .3s ease, background .2s ease;
  -moz-transition: visibility .3s ease, opacity .3s ease, background .2s ease;
  -o-transition: visibility .3s ease, opacity .3s ease, background .2s ease;
  transition: visibility .3s ease, opacity .3s ease, background .2s ease;
  -webkit-box-shadow: inset 0 0 1em 0 #A8A8A8;
  -moz-box-shadow: inset 0 0 1em 0 #A8A8A8;
  -o-box-shadow: inset 0 0 1em 0 #A8A8A8;
  box-shadow: inset 0 0 1em 0 #A8A8A8;
}
#cchdo_menu ul ul a {
  height: 100%;
  display: block;
  -webkit-transition: color .2s ease, background .2s ease;
  -moz-transition: color .2s ease, background .2s ease;
  -o-transition: color .2s ease, background .2s ease;
  transition: color .2s ease, background .2s ease;
}
#cchdo_menu ul li.focus ul,
#cchdo_menu ul li:hover ul {
  visibility: visible;
  opacity: 1;
}
#cchdo_menu ul li.focus ul ul,
#cchdo_menu ul li:hover ul ul {
  visibility: hidden;
  opacity: 0;
}

#cchdo_menu ul ul li.focus,
#cchdo_menu ul ul li.focus a,
#cchdo_menu ul ul li:hover,
#cchdo_menu ul ul li:hover a {
  background: #C8C8C8;
  color: #8093C1;
}
#cchdo_menu ul ul li.focus ul,
#cchdo_menu ul ul li:hover ul {
  visibility: visible;
  opacity: 1;
}
#cchdo_menu ul ul li.focus ul a,
#cchdo_menu ul ul li:hover ul a {
  color: #000000;
}
#cchdo_menu ul ul ul {
  position: static;
  background: #C8C8C8;
  margin: -2em 0 0 100%;
}
#cchdo_menu ul ul ul li.focus a,
#cchdo_menu ul ul ul li:hover a {
  background: #3C3C3C;
  color: #EEEEEE;
}

/* display whole menu */
#cchdo_menu ul.open li ul li,
#cchdo_menu ul.open ul ul li,
#cchdo_menu ul:hover li ul li,
#cchdo_menu ul:hover ul ul li {
  display: block;
  height: auto;
}
#cchdo_menu ul.open ul,
#cchdo_menu ul.open ul li ul,
#cchdo_menu ul:hover ul,
#cchdo_menu ul:hover ul li ul {
  opacity: 1;
  visibility: visible;
  margin: auto;
}
#cchdo_menu .expander {
  padding: 0;
}
#cchdo_menu .expander h1 a {
  display: inline-block;
  font-size: 0.9em;
  color: #405381;
  width: 7em;
}

#gfooter {
  position: relative;
  bottom: 0;
  clear: both;
  margin: 1em 0;
}
#gfooter #screensize a {
  margin-left: 0.5em;
  float: left;
}
#screensize-full {
  display: none;
}
#screensize-mobile {
  display: inline;
}
#gcredit {
  color: #AAAAAA;
  opacity: 0.5;
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}
#footer_logos {
  opacity: 0.2;
  -webkit-transition: opacity .6s ease;
  -moz-transition: opacity .6s ease;
  -o-transition: opacity .6s ease;
  transition: opacity .6s ease;
}
#gfooter:hover #gcredit,
#gfooter:hover #footer_logos {
  opacity: 1;
}
#gcredit {
  text-align: center;
  font-size: 0.7em;
}
#gcredit a {
  white-space: nowrap;
}
#gcredit p {
  width: 63%;
  margin: 0 auto;
}
#gcredit #nsfcredit {
  font-size: 1.3em;
  text-align: center;
}
#footer_logos {
  position: absolute;
  top: 0;
  right: 0;
}
#footer_logos img {
  height: 40px;
}

.boxed { 
  background: #FEFEFE;
  border: 1px solid #F0F0F0;
  line-height: 1.5em;
  position: relative;
  margin-bottom: 1em;
  z-index: 0;
}
.boxed > h1 {
  font-size: 1.3em;
  border-bottom: 1px solid #D0D0D0;
  background-color: #F0F0F0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5em;
  margin: 0;
}
.boxed .box_content {
  padding: 1em;
  position: relative;
}
.box_bottom { 
  font-size: large;
  border-top: 1px solid #F0F0F0;
  background-color: #F0F0F0;
  position: relative;
  left: 0;
  bottom: 0;
  padding: 0.5em;
  clear: both;
}

/* Pagers */
.pager {
  text-align: center;
  margin: 0.5em 25em;
  border: 1px solid #EEEEEE;
  border-left: 0;
  border-right: 0;
}
.pager a.pager_link {
  display: inline-block;
  padding: 0.2em;
  border-bottom: none;
}
.pager a:hover {
  text-shadow: 0 0 1em #CB4310;
  -webkit-transition: text-shadow .3s ease;
  -moz-transition: text-shadow .3s ease;
  -o-transition: text-shadow .3s ease;
  transition: text-shadow .3s ease;
}
.pager_curpage {
  font-size: 1.25em;
  color: #DDDDDD;
  vertical-align: -0.1em;
}

/* Denotes editable forms on any page */
.editor {
  background: #FFFFEE;
  clear: both;
  margin: 0.5em 0;
  padding: 0.5em 0;
  border: 1px solid #EEEEEE;
  border-left: 0;
  border-right: 0;
}
.editor.continued-top {
  border-bottom: 0;
}
.editor.continued {
  border: 0;
}
.editor.continued-bottom {
  border-top: 0;
}

/* search_adv */
#content.search_adv .box_content {
  padding-top: 0.3em;
}
.search_adv h2 {
	font-size: 1.2em;
  margin-top: 0.5em;
}
.search_adv h3 {
  margin-top: 0.5em;
}
.search_adv table {
	position: relative;
	left: 10px;
}
.search_adv td {
	padding: 0.1em;
	padding-right: 0.4em;
	text-align: right;
}
.search_adv table input[type="search"] {
  width: 20em;
}
.search_adv .date_slider {
  position: relative;
  width: 40em;
  margin: 0.2em auto 1em 1em;
}
.search_adv .date_slider .text-fields {
  margin-bottom: 0.5em;
}
.search_adv .date_slider .search_date {
  text-align: center;
  width: 6.5em;
}
.search_adv .date_slider .max {
  position: absolute;
  right: 0;
}
.search_adv #date_to_date {
	position: absolute;
	left: 19em;
	right: 20em;
	text-align: center;
}
.search_adv .timeline {
  position: absolute;
}
.search_adv #timeline1 {
  position: static;
}
.search_adv #timeline2 {
  right: 75%;
}
.search_adv #timeline3 {
  right: 50%;
}
.search_adv #timeline4 {
  right: 25%;
}
.search_adv #timeline5 {
  right: 0;
}

/* Attribute notes */
table.notes {
  width: 100%;
}
.notes .note {
  border-top: 1px solid rgba(208, 208, 208, 0.5);
}
.notes .note .person,
.notes .note .date {
  width: 11em;
  font-size: 0.8em;
}
.notes .note .person {
  text-align: right;
  padding-right: 1em;
}
.notes .note.discussion {
  color: rgba(255, 100, 0, 0.7);
}
.notes .note.add-note td {
  vertical-align: baseline;
}
.notes .note textarea {
  width: 100%;
  min-height: 6em;
}

.search-results h2 {
  font-size: 1.3em;
}
.search-results h3 {
  margin-top: 0.5em;
}
.search-results table.cruise-listing {
  margin-bottom: 1em;
}
.search-results table.cruise-listing th,
.search-results table.cruise-listing td {
}

/* cruise listing */
table.cruise-listing .meta td,
table.cruise-listing .body td {
  vertical-align: top;
}
table.cruise-listing .cruise-track-img {
  position: relative;
  max-width: 128px;
}
