body {
  font-family: Futura, Verdana, Tahoma, sans-serif;
  font-size: 0.85em;
  position: relative;
}

a, .link { color: #405381; }
a:visited, .visited_link { color: #88673E; }

pre {
  line-height: 1.2em;
  font-size: 0.9em;
  font-family: Andale Mono, Courier New, Courier, Fixed, monospace;
}

/* Flash messages */
.flash {
  font-size: 1.1em;
  padding: 0.5em;
  border: 1px solid #F0F0F0;
  background: #FFFFEE;
}
.flash.action_taken {
  background: #EEC591;
}

/* Required form fields */
.required-symbol {
  vertical-align: top;
  color: red;
}

/* Form errors */
.form-error {
  color: #FF0000;
  background: #FFFAFA;
  font-size: 0.85em;
  padding: 0.2em;
}

/* Used to hide Microformat specific tags */
.hidden { display: none; }

/* Used to hide email obfuscation */
.copythis { position: absolute; left: -10000px; }

#centering {
  margin: 0 auto;
  margin-top: 0.5em;
  width: 1024px;
}

#gheader {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  text-align: left;
}

#cchdo_logo {
  height: 3.5em;
}

#session_status {
  position: absolute;
  top: 0;
  right: 24em;
  text-align: right;
}
#session_status.moderator {
  background: #FFDDDD;
  padding: 0.2em 0.5em;
}

#gsearch {
  position: absolute;
  right: 0;
  top: 0;
}
input {
  vertical-align: middle;
}

input[type="search"],
input[type="date"],
input[type="email"],
input[type="text"],
textarea {
  background: #F0F0F0;
  font-size: 1.1em;
  border: 1px solid #D0D0D0;
  border-left: 0;
  border-right: 0;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
input[type="search"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0);
  border-left: 0;
  border-right: 0;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="submit"] { 
  text-transform: uppercase;
  letter-spacing: -1px;
  border: 1px solid #afafaf;
  color: #4f4f4f;
  font-weight: lighter;
  height: 1.8em;
  line-height: 1.2em;
  padding: 0.2em 0.5em;
  background: #FFFFFF;
  -webkit-transition: color .3s ease, background .3s ease, border .3s ease;
  -moz-transition: color .3s ease, background .3s ease, border .3s ease;
  -o-transition: color .3s ease, background .3s ease, border .3s ease;
  transition: color .3s ease, background .3s ease, border .3s ease;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
input[type="submit"]:hover { 
  color: #1f1f1f;
  border: 1px solid #4f4f4f;
  -webkit-transition: color .3s ease, border .3s ease;
  -moz-transition: color .3s ease, border .3s ease;
  -o-transition: color .3s ease, border .3s ease;
  transition: color .3s ease, border .3s ease;
}
input[type="submit"]:active { 
  border: 1px solid #000000;
  background: #EAEAFF;
  color: #000000;
  -webkit-transition: color .3s ease, background .3s ease, border .3s ease;
  -moz-transition: color .3s ease, background .3s ease, border .3s ease;
  -o-transition: color .3s ease, background .3s ease, border .3s ease;
  transition: color .3s ease, background .3s ease, border .3s ease;
}
#gsearch input[type="submit"] {
  font-size: 0.95em;
}
#gsearch p {
  padding-top: 0.25em;
  font-size: 0.75em;
  text-align: right;
}

#picture {
  position: relative;
  height: 125px;
  z-index: 100;
}
.banner {
  position: absolute;
  width: 100%;
  height: 125px;
}
#bannerA, #bannerB {
  background: url('/static/img/banners/banner.jpg');
}

#cchdo_menu {
  /* pin to bottom of picture */
  z-index: 100;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* make a light area in the picture for the menu */
  background: url("/static/img/banners/transparent_menu_bg.png");
  background: rgba(255, 255, 255, 0.5);
  height: 1.5em;
  text-align: center;
}
#cchdo_menu h1 a {
  font-size: 1.1em;
}
#cchdo_menu a {
  color: #000000;
  text-decoration: none;
}
#cchdo_menu li {
  /* Make all entries a little bigger */
  height: 1.5em;
  line-height: 1.7em;
  padding: 0 2em;
  position: relative;
  display: inline;
  text-transform: uppercase;
  z-index: 100;
  white-space: nowrap;
}
#cchdo_menu li h1 { 
  display: inline;
}
/* back up styling for submenu entries */
#cchdo_menu ul ul li {
  padding: 0;
  position: static;
  display: block;
  text-transform: none;
  height: 2em;
  line-height: 2em;
}
#cchdo_menu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0; /* HACK force firefox to left align */
  background: #D0D0D0;
  opacity: 0;
  -webkit-transition: visibility .3s ease, opacity .3s ease, background .3s ease;
  -moz-transition: visibility .3s ease, opacity .3s ease, background .3s ease;
  -o-transition: visibility .3s ease, opacity .3s ease, background .3s ease;
  transition: visibility .3s ease, opacity .3s ease, background .3s ease;
}
#cchdo_menu ul ul a {
  height: 100%;
  display: block;
}
#cchdo_menu ul li.focus ul,
#cchdo_menu ul li:hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility .3s ease, opacity .3s ease;
  -moz-transition: visibility .3s ease, opacity .3s ease;
  -o-transition: visibility .3s ease, opacity .3s ease;
  transition: visibility .3s ease, opacity .3s ease;
}
#cchdo_menu ul li.focus ul ul,
#cchdo_menu ul li:hover ul ul {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility .3s ease, opacity .3s ease;
  -moz-transition: visibility .3s ease, opacity .3s ease;
  -o-transition: visibility .3s ease, opacity .3s ease;
  transition: visibility .3s ease, opacity .3s ease;
}
#cchdo_menu ul ul li.focus,
#cchdo_menu ul ul li.focus a,
#cchdo_menu ul ul li:hover,
#cchdo_menu ul ul li:hover a {
  background: #A0A0A0;
  color: #FFFFFF;
  -webkit-transition: color .3s ease, background .3s ease;
  -moz-transition: color .3s ease, background .3s ease;
  -o-transition: color .3s ease, background .3s ease;
  transition: color .3s ease, background .3s ease;
}
#cchdo_menu ul ul li.focus ul,
#cchdo_menu ul ul li:hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility .3s ease, opacity .3s ease;
  -moz-transition: visibility .3s ease, opacity .3s ease;
  -o-transition: visibility .3s ease, opacity .3s ease;
  transition: visibility .3s ease, opacity .3s ease;
}
#cchdo_menu ul ul li.focus ul a,
#cchdo_menu ul ul li:hover ul a {
  color: #000000;
}
#cchdo_menu ul ul ul {
  position: static;
  background: #A0A0A0;
  margin: -2em 0 0 100%;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
#cchdo_menu ul ul ul li.focus a,
#cchdo_menu ul ul ul li:hover a {
  background: #3C3C3C;
  color: #FFFFFF;
  -webkit-transition: color .3s ease, background .3s ease;
  -moz-transition: color .3s ease, background .3s ease;
  -o-transition: color .3s ease, background .3s ease;
  transition: color .3s ease, background .3s ease;
}

#content {
}

#gfooter {
  position: relative;
  bottom: 0;
  clear: both;
  margin: 1em 0;
}
#gcredit {
  text-align: center;
  font-size: x-small;
}
#gcredit p {
  width: 57em;
  margin: 0 auto;
}
#gcredit #nsfcredit {
  font-size: larger;
}
#footer_logos {
  position: absolute;
  top: 0;
  right: 0;
}
#footer_logos img {
  height: 40px;
}

.boxed { 
  border: 1px solid #F0F0F0;
  line-height: 1.5em;
  position: relative;
  margin-bottom: 1em;
  z-index: 0;
}
.boxed h1:first-child {
  font-size: 1.3em;
  border-bottom: 1px solid #D0D0D0;
  background-color: #F0F0F0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5em;
}
.boxed .box_content {
  padding: 1em;
  position: relative;
}
.box_bottom { 
  font-size: large;
  border-top: 1px solid #F0F0F0;
  background-color: #F0F0F0;
  position: relative;
  left: 0;
  bottom: 0;
  padding: 0.5em;
  clear: both;
}

/* search_adv */
#content.search_adv .box_content {
  padding-top: 0.3em;
}
.search_adv h2 {
	font-size: 1.2em;
  margin-top: 0.5em;
}
.search_adv h3 {
  margin-top: 0.5em;
}
.search_adv table {
	position: relative;
	left: 10px;
}
.search_adv td {
	padding: 0.1em;
	padding-right: 0.4em;
	text-align: right;
}
.search_adv table input[type="search"] {
  width: 20em;
}
.search_adv .date_slider {
  position: relative;
  width: 40em;
  margin: 0.2em auto 1em 1em;
}
.search_adv .date_slider .text-fields {
  margin-bottom: 0.5em;
}
.search_adv .date_slider .search_date {
  text-align: center;
  width: 6.5em;
}
.search_adv .date_slider .max {
  position: absolute;
  right: 0;
}
.search_adv #date_to_date {
	position: absolute;
	left: 19em;
	right: 20em;
	text-align: center;
}
.search_adv .timeline {
  position: absolute;
}
.search_adv #timeline1 {
  position: static;
}
.search_adv #timeline2 {
  right: 75%;
}
.search_adv #timeline3 {
  right: 50%;
}
.search_adv #timeline4 {
  right: 25%;
}
.search_adv #timeline5 {
  right: 0;
}

/*
p { line-height: 1.5em; }
address { line-height: 1.5em; }

/* text fields /
input[type='text'], input[type='password'], select { border: 1px solid #A0A0A0; }
input[type='text']:focus, input[type='password']:focus, select:focus { border: 1px solid #1286FE; background-color: #DEFFFF; }

.dev_heading { color: #67a9bb; }
.dev_info { color: #18434d; }
.name { font-style: italic; }
.credit { font-style: italic; }
.errorExplanation h2 { color: #006f89; font-size: 1.1em; }
.errorExplanation ul { color: #999; font-size: 0.9em; list-style-type: square; margin-left: 2em; }

h2 { color: #006f89; font-size: medium; }
h3 { margin-top: 1em; margin-bottom: 1em; font-weight: bold; }

*/
/*
.notice {
  background-color: #ffaa55 !important;
  border: 1px solid #A0A0A0;
  border-bottom: 0;
  padding: 0.5em !important;
  font-size: medium !important;
}
.warning {
  color: #FF0000;
  background-color: #ffff00;
  padding: 6px;
  font-weight: bold;
  margin-left: 245px;
}
.button {
  height: 1.5em;
}

/* query /
em.query, em#cart_count {
  color: #1286FE;
  font-weight: bold;
}
.mapimg {
  text-align: center;
  margin: 0 auto;
}

/* SEARCH RESULTS /
.expocode {
  font-weight: bold;
  font-size: large;
}
.scientist {
  margin-left: 2em;
  width: 33em;
}

/* RESULTS PAGINATION /
div.results {
  background-color: #E0E0E0;
  text-align: center;
  padding: 0.5em;
  border-top: 1px solid #A0A0A0;
  border-bottom: 1px solid #A0A0A0;
  margin-bottom: 1em;
  font-weight: bold;
}
div.results a {
  text-decoration: none;
  font-weight: normal;
}

/* recognized query results /
#recognized_query_result h1 {
  font-size: large;
  padding-bottom: 0.5em;
}
#search_results a {
  text-decoration: none;
}

/* HISTORY *
div.history.note {
   border: 1px solid #A0A0A0;
   padding: 1em;
   height: 20em;
   overflow: auto;
}
div.history.note h1 {
   font-size: larger;
   font-weight: bold;
}
#project_carina_link {
  display: block;
  font-weight: bold;
  margin: 0 0 1em 0;
}

/* tables *
table.bordered {
  border-collapse: collapse;
}
table.bordered td {
  border: 1px solid #ddd;
}
tr th {
  padding-right: 1em;
  padding-top: 0.5em;
  font-weight: bold;
}
tr td {
  padding-right: 1em;
  padding: 0.3em;
  vertical-align: middle;
}

table#search_results {
  clear: both;
  border-collapse: separate;
  width: 100%;
}

tr.hl {
  background-color: #E0E0E0;
}
tr.highlighted_cell {
  background-color: #efefef;
}
tr.parameter_row{
	background-color:#CED7E9;
}

td.map {
  width: 150px;
}
td.identity {
  width: 20em;
}
td.identity > p {
  width: inherit;
  overflow: auto;
}

td.data_summary > h1 {
  font-weight: bold;
  background-color: inherit;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
td.data_summary > .parameters {
  font-size: smaller;
}
td.file_summary {
  width: 24em;
}
td.file_summary th {
  font-weight: bold;
  padding-bottom: 0.5em;
}
td.file_summary .files {
  width: 100%;
}
td.file_summary .files td {
  color: #1286FE;
}
td.file_summary .files td p.date {
  font-size: smaller;
}
td.map img {
  width: 150px;
}
.parameter_cell {
  vertical-align: top;
  color: #a8a8a8;
  width: 60%;
}
.parameter_cell .parameters {
  font-size: x-small;
}
.param_title {
  color: #565656 ;
}
.status_table {
  color:#565656;
  width: 100%;
}
.status_table th {
  background-color:#d1edec;
  padding-left: 5px;
  vertical-align: bottom;
  color: #515151;
  text-transform: uppercase;
}
.status_table a:hover, .hovered_link {
  color:#a8a8a8;
  text-decoration:underline !important;
}
.status_table td { 
  padding:5px 0 0;

  vertical-align:top;
}
.status_table tr {
  vertical-align: top;
}
.heading_table {
  color:#515151;
  text-transform: uppercase;
}
.heading_table td {
}

.cruise_title a, .link2 {
  font-size:medium;
  color:#66A7DD;
}

#heading {
  background-color:#d1edec;
}

*/

.hr {
   border-bottom: #808080 1px solid;
}

.step_title {
  color: #000;
  font-size: 18pt;
}

.important { color: #06629b; }

.asterisk {
   font-size: smaller;
   text-align: right;
}

.clear { clear: both; }

//.data_summary_history { background: #9ec4cd; }
//.data_summary_history a { color: #fff; }
//#data_summary_and_history { height:700px; }
//#data_summary_table_meta{ margin-top: 0px; height:300px; }
//#data_summary_table_files{ height:500px; }
//
//#color_column{ background: #006f89; }
//
//.data_table {
//  background-color:#d1edec;
//  color:#515151;
//  text-transform: uppercase;
//  vertical-align: top;
//  border-bottom: 3px solid #006f89 !important;
//}
//
///* Old Submissions */
//#old_submissions_table {
//  border: 2px solid #000;
//  width: 100%;
//  padding: 15px;
//  padding-top: 10px;
//  font-size: small;
//  border-collapse: collapse
//}
//#old_submissions_table th {
//  font-weight: bold;
//  text-align:left;
//  background-color: #9ec4cd;;
//  padding: 5px 10px 5px 10px;
//  color:#000;
//  font-size: medium;
//}
//#old_submissions_table tr {
//  border: 2px solid #000;
//  border-bottom: 2px solid #000;
//}
//#old_submissions_table td {
//  text-align:left;
//  padding:6;
//}
//#old_submissions_table tr:hover td {
//  background: #D8D8D8 !important;
//}
//div.scroll {overflow: auto; width: 100%; height: 36em;}
//
//
//#new_submissions_table {
//  border: 2px solid #000;
//  width: 100%;
//  padding: 15px;
//  padding-top: 10px;
//  font-size: small;
//  border-collapse: collapse
//}
//#new_submissions_table th {
//  font-weight: bold;
//  text-align:left;
//  background-color:#B7EAF0;
//  padding:6;
//  color:#000;
//  font-size: medium;
//  height: 3em;
//}
//#new_submissions_table td {
//  text-align:left;
//  padding: 6px;
//}
//#new_submissions_table tr:hover td {
//  background: #D8D8D8 !important;
//}
//
//
///* Staff Pages */
//.staff #menu { background: #c0c0c0; color: #A0A0A0; padding: 0.5em; }
//.staff #menu a { color: #333333; text-decoration: none; }
//.staff #menu a:visited { color: #666666; }
//.staff #signout { background: #c8c8c8; padding: 0.5em; text-align: right; border-bottom: 2px solid #A0A0A0; }
//.staff_header {
//  border-bottom: 3px solid #006f89 !important;
//  color: #006f89;
//  font-size: x-large;
//  margin-left: 1em;
//  margin-right: 1em;
//  margin-bottom: 1.5em;
//}
//
//#results { margin: 1em; }
//
//.assimilated_submission_1 { background:#D3864E; }
//.assimilated_submission_2 { background:#927B72; }
//.incomplete_submission_1 { background:#EDE8C1; }
//.incomplete_submission_2 { background:#C8EBE5; }
//
//#task_color_key { border: 1px solid #FFF; }
//
//div.tm_auto_complete { width: 50px; background: #fff; }
//div.tm_auto_complete ul {
//  border:1px solid #888;
//  margin:0;
//  padding:0;
//  width:100%;
//  list-style-type:none;
//}
//div.tm_auto_complete ul li { margin:0; padding:3px; }
//div.tm_auto_complete ul li.selected { background-color: #ffb; } 
//div.tm_auto_complete ul strong.highlight { color: #800; margin: 0; padding:0; }
//
//.task_manager_action_cell { right:100px; } 
//.assignment_details_cell { background:#D2D2D2; } 
//.assignment_details { background:#D2D2D2; } 
//.assignment_details_key { background:#FFF; }  
//.assignment_details_value { background:#FFF; } 
//#task_assignment_table { padding: 0; margin: 0; }
//
//.tm_cell {
//  border-width: 0;
//  margin: 0;
//  padding: 0;
//  text-align: left;
//  font-family: Arial, Helvetica, sans-serif;
//  font-size: 12px;
//}
//
//.tm_text_box {
//  font-family: Arial, Helvetica, sans-serif;
//  font-size: 12px;
//}
//
//.tm_row1 {
//  opacity: 0.8;
//  -moz-opacity: 0.8;
//  /*filter:alpha(opacity=80); #please no.*/
//}
//
//.tm_row {
//  opacity: 0.8;
//  -moz-opacity: 0.8;
//  /*filter:alpha(opacity=80); #please no.*/
//}
//
//.tm_header { background:#EEE7D5; }
//
//.tm_row_priority_1 {
//  background:#FF524D;
//  margin: 0px;
//  padding: 0px;
//  border-width: 0px;
//  border-collapse: collapse;
//}
//
//.tm_row_priority_2 {
//  background:#FF9750;
//  margin: 0px;
//  padding: 0px;
//  border-width: 0px;
//  border-collapse: collapse;
//}
//
//.tm_row_priority_3 {
//  background:#FFD83E;
//  margin: 0px;
//  padding: 0px;
//  border-width: 0px;
//  border-collapse: collapse;
//}
//
//.tm_row_priority_4 {
//  background:#63FF70;
//  margin: 0px;
//  padding: 0px;
//  border-width: 0px;
//  border-collapse: collapse;
//}
//
//.tm_row_priority_5 {
//  background:#6B6B6B;
//  margin: 0px;
//  padding: 0px;
//  border-width: 0px;
//  border-collapse: collapse;
//}
//
//.tm_row_priority_6 {
//  background:#FFF;
//  margin: 0px;
//  padding: 0px;
//  border-width: 0px;
//  border-collapse: collapse;
//}
//
//.tm_row_priority_6_box {
//  background: #FFF;
//  border-color: #000;
//  border: 1px solid black
//}
//
//.tm_row_priority_7 {
//  background:#2D2CFF;
//  margin: 0px;
//  padding: 0px;
//  border-width: 0px;
//  border-collapse: collapse;
//}
//
//.tm_row_priority_unknown {
//  background:#B3F6E0;
//  margin: 0px;
//  padding: 0px;
//  border-width: 0px;
//  border-collapse: collapse;
//}
//
//#task_color_key {
//  background-color: #9ec4cd;
//  position: relative;
//  top: -109px;
//  left: 200px;
//  margin-bottom: -110px;
//  z-index: 100;
//}
//
//#manager_task_color_key {
//  background-color: #9ec4cd;
//}
//
//#task_group_type {
//  font-size:12pt;
//}
//
//.assignment_project_cell {
//  color: #000001;
//  font: 110% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
//}
//
//#submission_color_key {
//  background-color: #9ec4cd;
//  position: relative;
//  top: -98px;
//  left: 812px;
//  margin-bottom: -80px;
//  z-index: 100;
//}
//
//.queue_cruise_row {
//  background-color: #9ec4cd;
//}
//
//.conf_table{
//  border:1px solid #888;
//  
//}
//
///* /data_history Tables */
//.history_table { width: 100%; }
//.history_table th{ border-bottom: 3px solid #006f89 !important; }
//.data_history_full { border: 1px solid #999; }
//.data_history_full_hl { border: 1px solid #999; background-color: #E0E0E0; }
//.history_detail_table { border: 1px solid #000; border-collapse: collapse; }
//.history_detail_table th{ background-color: #DBDBDB; padding: 5px; }
//
//.history_info_table{
//  background-color: #D8D8D8;
//  border-collapse: collapse;
//  margin: 0 0 15px 0;
//}
//
///********************** DATA ENTRY ********************/
//
//#contact_entry {width:20em;float:left;}
//#contact_results {width:55em;float:right;}
///*.data_entry_form  ul,.data_entry_form   li, */
//.data_entry_form   fieldset,.data_entry_form  textarea { margin: 0; padding: 0; }
///*.data_entry_form label,.data_entry_form  select, */
//.data_entry_form  input {width:10em;},
//
//.data_entry_form textarea { width:10em; }
//.data_entry_form input {height:2em;}
//.data_entry_form li span { display: block; }
//.data_entry_form  ul {width:20em;}
//.data_entry_form li { list-style-type: none; }
//.data_entry_form li { clear: both; height: 1%; overflow: auto;}
//.data_entry_form    fieldset { border: 0; }
//.data_entry_form label, .data_entry_form form li span { float: left; width: 6em; padding-right: 0em; }
//.data_entry_form select, .data_entry_form textarea { float: left; margin-left: 0em; }
//.data_entry_form fieldset label, .data_entry_form fieldset input { float: left; }
//.data_entry_form fieldset label { clear: left; width: 3.25em; padding-right: .75em; }
//.data_entry_form fieldset input { margin-left: 0em; margin-right: 1.5em;}
//.data_entry_form_two_wide ul {width:18em;}
//.data_entry_form_two_wide li {width:18em;}
//.data_entry_form_two_wide textarea { width:18em; height:5em; }
//     /****** contact table   *********/
//     .contact_table table {table-layout:fixed; width:55em; font: 2em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif; }
//     .contact_table th { background-color: #747474;}
//     .contact_table tr{ }/*border: 1px solid #999; background-color: #BBBFC9; }
//     .contact_hilight tr {background-color:#285199;}*/
//     .contact_table td { max-width: 4em; height:2em;}
//     #first_name_column {width:7em; overflow: hidden;}
//     #last_name_column {width:7em;}
//     #phone_column {width:10em;}
//     #address_column {width:12em;}
//     #email_column {width:15em;}
//     #institute_column {width:12em;}
//     #fax_column {width: 7em;}
//     .contact_table_row_height {height:1.5em; overflow:hidden;}
//     
//     /************ cruise table *****************/
//     #staff_cruise_entry {width:22em;float:left;}
//     	#cruise_results {width:40em;float:left;}
//		 .staff_cruise_table table {table-layout:fixed; width:40em; font: 2em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif; }
//     .staff_cruise_table th { background-color: #747474;}
//     .staff_cruise_table tr{ }/*border: 1px solid #999; background-color: #BBBFC9; }
//     .contact_hilight tr {background-color:#285199;}*/
//     .staff_cruise_table td { max-width: 10em; height:2em;}
//     #staff_cruise_groups{width:14em;float:right;}
//     .staff_groups_table {table-layout:fixed; width:14em; font: 2em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif; }
//     
//
//
///*********************** \DATA ENTRY ******************/
//
///* /contacts */
//.contact_info_label { vertical-align: top; font-weight: bold; }
//#contact_cruises caption { font-weight: bold; }
//
///* /cruise_status page */
//#red_link a{ color: red; }
//#yellow_link a{ color: yellow; }
//#green_link a{ color: green; }
//
///* Merge Queue */
//.unmerged_file{background-color:#FFC860}
//.formats.sampsum { border: 1px; width: 90%; }
//.formats.sampsum th { text-align: left; vertical-align: bottom; }
//.formats.sampsum td { vertical-align: top; }
//
///* Minutes */
//#minutes_color_key { margin: 10px; }
//.minutes_table { border:0px; }
//td.date_row { background-color:#c9c4bd; color:black; }
//pre.minutes_text { vertical-align:top; white-space:pre-wrap; height:400px; overflow:auto; }
//td.minutes_action_item_column { vertical-align:top; background-color:#e3ded7; width:500px; }
//.completed_action_item { vertical-align:top; background-color:#e3ded7; border: 2px solid #e3ded7; }
//.action_item { vertical-align:top; background-color:white; border: 2px solid #e3ded7; }
//
///* Argo */
//#argo_nav {
//  height: 2em;
//  position: relative;
//  left: 1em;
//  float: left;
//  background-color: #eee;
//  border: 1px solid #a0a0a0;
//  border-top: 0;
//}
//#argo_nav a {
//  float: left;
//  display: block;
//  padding: 0.2em 0.5em;
//}
//#argo_nav .active {
//  background-color: #e0e0e0;
//  border-top: 1px solid #e0e0e0;
//  border-left: 1px solid #a0a0a0;
//  border-right: 1px solid #a0a0a0;
//  position: relative;
//  top: -1px;
//  height: 1.65em;
//}
//.argo_content td { padding: 0.5em; }
//.argo_content .time { white-space: nowrap; }
//.argo_content .description { width: 33em; overflow-x: auto; }
//.argo_content pre { width: inherit; }
//
///* Parameter Entry and Descriptions */
//td.parameter_entry { vertical-align:top; }
//td.parameter_order { background-color:#7889AB; text-align:center; color:white; font-size:large; }
//
///* Data sharing */
//.data_sharing h1 { font-weight: bold; }
//.data_sharing p { margin: 0.5em 0; }
//.data_sharing ol { list-style: decimal; }
//.data_sharing li { max-width: 66ex; margin: 0.5em 0; }
//
///* Southern Ocean */
//.southern_map { float: left; width: 59%; }
//.southern_cruises { float: right; width: 41%; max-height: 600px; overflow: hidden; }
//.southern_basins { max-height: 580px; overflow-y: scroll; overflow-x: hidden; }
//.southern_table { font-size: smaller; color:#565656; width: auto; }
//.southern_table a { text-decoration: none; }
//.southern_table th { background-color:#d1edec; padding-left: 5px; vertical-align: bottom; color: #515151; text-transform: uppercase; }
//.southern_table td { vertical-align: top !important; font-size: 8.5pt; } 
//.more { display:none; }
//.basin_header { border-bottom: 3px solid #006f89 !important; }
//.view_basin_header { border-bottom: 3px solid #aaa !important; }
//
///* Indian Ocean */
//.indian_map { float: left; width: 59%; }
//.indian_cruises { float: right; width: 41%; max-height: 570px; overflow: hidden; }
//.indian_basins { max-height: 520px; overflow-y: scroll; overflow-x: hidden; }
//.indian_table { font-size: smaller; color:#565656; width: 100%; }
//.indian_table a { text-decoration: none; }
//.indian_table th { background-color:#d1edec; padding-left: 5px; vertical-align: bottom; color: #515151; text-transform: uppercase; line-break: strict; }
//.indian_table td { vertical-align: top !important; font-size: 8pt; line-break: strict; }
//
///* Arctic Cruise page */
//.arctic_map { float: left; width: 59%; }
//.arctic_cruises { float: right; width: 41%; max-height: 630px; overflow-y: scroll; }
//.arctic_table { font-size: 7.4pt; color: #565656; width: 100%; }
//.arctic_table th td { width: 20%; line-break: strict; }
//.arctic_tr td{ width: inherit; vertical-align: top; height: 50px; }
//.arctic_line td{ width: 10%; }
//.arctic_date td{ width: 18%; }
//.arctic_ship td{ width: 10%; }
//.arctic_scientist td{ width: 24%; }
//.arctic_country td{ width: 13%; }
//.arctic_table a { text-decoration: none; }
//.arctic_table th { background-color:#d1edec; padding-left: 5px; vertical-align: bottom; color: #515151; text-transform: uppercase; }
//tr.not_in_map { background-color: #FFDDDD; }
//.small_font { font-size: smaller; }
//.end_date { border-top: #a0a0a0 1px dashed; }
