#staff-header {
  padding: 0.5em;
  border-bottom: 1px solid #D0CFC0;
  background: #EFDFD0;
  background: -webkit-linear-gradient(rgba(255, 239, 224, 1), rgba(219, 203, 188, 1));
  position: relative;
}
#staff-nav {
  text-align: center;
  padding: 0;
}
#staff-nav a {
  padding: 0.5em;
  display: inline-block;
  height: 100%;
  text-decoration: none;
  border: none;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;

  -webkit-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}
#staff-nav a.current {
  background: #F0E0C0;
  text-shadow: 1px 1px #F0F0F0;
}
#staff-nav a:hover {
  background: #D0C0A0;
  text-shadow: 1px 1px #F0F0F0;
}
