.collection-specific-banner {
  background-color: #B2E4F3;
  position: relative;
}
.collection-specific-banner div {
  display: block;
  text-align: center;
  font-size: 0.8em;
  color: #31648E;
}
.collection-specific-banner p {
  padding: 0.5em;
}
.collection-specific-banner .from {
  background-color: #9BCCDB;
  width: 48.3%;
  background-image: url('/static/img/collection_arrow_ushydro.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
}
div.collection-specific-banner .from a {
  border-bottom: none;
}
div.collection-specific-banner .from img {
  height: 6em;
}
.collection-specific-banner .to {
  position: absolute;
  top: 0;
  right: 0;
  width: 51.7%;
}
.collection-specific-banner .to p {
  line-height: 6em;
  margin: auto;
  width: 70%;
}
