{% extends "/base.jinja2" %}
{% block title %}Countries{% endblock %}
{% block content -%}
  {% call h.boxed('Countries') -%}
    <ul>
    {%- for country in countries %}
      <li>{{ whh.tags.link_to(country.name, '/country/%s' % country.id) }}</li>
    {%- endfor %}
    </ul>
  {%- endcall %}
{%- endblock %}
