<h1 style="color: #9EB6C9; font-weight: bold;">Admin Page</h1>
<div id="file_box_users_menu">
  <%= render :partial => 'users_menu' %>
</div>
<div id="file_box_groups_menu">
  <%= render :partial => 'groups_menu' %>  
</div>
<div id="file_box_sections_menu">
  <%= render :partial => 'sections_menu' %>
</div>
