<map name="ar_map">
  <area alt="" coords="160,187,199,204" href="/search?query=ar01">
  <area alt="" coords="251,271,290,288" href="/search?query=ar04">
  <area alt="" coords="244,94,283,111" href="/search?query=ar05">
  <area alt="" coords="338,160,377,177" href="/search?query=ar06">
  <area alt="" coords="203,72,251,89" href="/search?query=ar07">
  <area alt="" coords="277,57,322,74" href="/search?query=ar07">
  <area alt="" coords="195,448,234,465" href="/search?query=ar08">
  <area alt="" coords="424,405,463,422" href="/search?query=ar09">
  <area alt="" coords="269,209,308,226" href="/search?query=ar10">
  <area alt="" coords="278,162,317,179" href="/search?query=ar11">
  <area alt="" coords="359,101,398,118" href="/search?query=ar12">
  <area alt="" coords="224,112,263,129" href="/search?query=ar13">
  <area alt="" coords="255,405,294,422" href="/search?query=ar15">
  <area alt="" coords="343,141,382,158" href="/search?query=ar16">
  <area alt="" coords="289,29,328,46" href="/search?query=ar18">
  <area alt="" coords="304,101,343,118" href="/search?query=ar19">
  <area alt="" coords="221,164,260,181" href="../tables/repeat/subs/ar20_table.htm">
  <area alt="" coords="195,134,234,151" href="../tables/repeat/subs/ar22_table.htm">
  <area alt="" coords="324,72,363,89" href="../tables/repeat/subs/ar24_table.htm">
  <area alt="" coords="228,54,267,71" href="../tables/repeat/subs/ar27_table.htm">
  <area alt="go to repeat Southern map" coords="288,462,384,479" href="sr_map.htm">
  <area alt="go to repeat Pacific map" coords="38,346,120,364" href="pr_map.htm">
  <area alt="go to repeat Indian map" coords="448,452,526,470" href="ir_map.htm">
</map>

<h1>AR Map</h1>
<h2>Click on any line label</h2>
<div class='mapimg'><img src="ar_map.gif" usemap="#ar_map" alt="" style='width: 563px; height: 490px;' /></div>
