input[type='password'] {
    border: 1px solid #A0A0A0;
}

input[type='password']:focus {
    border: 1px solid #1286FE;
    background-color: #DEFFFF;
}
#staff_links {
	background-color: #FF8D34;
	padding: 0.5em;
}
#staff_links > h1 {
	font-size: medium;
	text-align: center;
	margin-bottom: 0.5em;
}

#content > h1 {
    font-size: large;
    border-bottom: 1px solid #A0A0A0;
    background-color: #E0E0E0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    padding: 0.5em;
}

#statistics_menu {
	background-color: #D0D0D0;
	text-align: center;
	padding: 0.5em;
}

#statistics_menu h1 {
	padding-bottom: 0.5em;
}

#statistics_menu ul li {
	display: inline;
}
