/* === Task Manager === */
#task_color_key {
	border: 1px solid #FFF;
}
#tm_row_priority_6_box {
	border-color: #000;
}
div.tm_auto_complete {
	width: 50px;
	background: #fff;
}
div.tm_auto_complete ul {
	border: 1px solid #888;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}
div.tm_auto_complete ul li {
	margin: 0;
	padding: 3px;
}
div.tm_auto_complete ul li.selected {
	background-color: #ffb;
}
div.tm_auto_complete ul strong.highlight {
	color: #800;
	margin: 0;
	padding: 0;
}
.task_manager_action_cell {
	right: 100px;
}
.assignment_details_cell {
	background: #D2D2D2;
}
.assignment_details {
	background:#D2D2D2;
}
.assignment_details_key {
	background: #FFF;
}	
.assignment_details_value {
	background: #FFF;
}
#task_assignment_table{
	padding: 0px;
	margin: 0px;
}

.tm_cell{
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	font-size: 12px;
}
.tm_text_box{
	font-size: 12px;
}
.tm_row1{
	opacity: 0.8;
	-moz-opacity: 0.8;
}
.tm_row{
	opacity: 0.8;
	-moz-opacity: 0.8;
}
.tm_header{
	background: #EEE7D5;
}
.tm_row_priority_1, .tm_row_priority_2, .tm_row_priority_3, .tm_row_priority_4, .tm_row_priority_5, .tm_row_priority_6, .tm_row_priority_7, .tm_row_priority_unknown {
 	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-collapse: collapse;
}
.tm_row_priority_1 {
	background: #FF524D;
}
.tm_row_priority_2 {
	background: #FF9750;
}
.tm_row_priority_3 {
	background: #FFD83E;
}
.tm_row_priority_4 {
	background: #63FF70;
}
.tm_row_priority_5 {
	background: #6B6B6B;
}
.tm_row_priority_6 {
	background: #FFF;
}
.tm_row_priority_7 {
	background: #2D2CFF;
}
.tm_row_priority_unknown {
	background: #B3F6E0;
}
#task_group_type {
	font-size:12pt;
}

.assignment_project_cell {
	color: #000000;
	font: 110% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#task_assignments_main_table {
	border: 1px solid #999;
}
