{% extends "base.jinja2" %}
{%- block title %}{{ errno }} {{ errstr }}{%- endblock %}
{% block head -%}
  <style>
    .error{{ errno }} {
      background: #ffffee;
      padding: 1em;
      text-align: center;
    }
    .error{{ errno }} h2 {
      font-size: 4em;
      margin: 0;
    }
  </style>
{%- endblock %}
{% block content_attrs %} class="error{{ errno }}"{%- endblock %}
{% block content %}
  <h2>{{ errno }} {{ errstr }}</h2>
  <p>{{ errmsg }}</p>
  <p>Please try the search box?</p>
{% endblock %}
