<map name="atl_central">
<area alt="" coords="83,101,122,118" href="/search?query=ar01">
<area alt="" coords="203,85,242,102" href="/search?query=ar20">
<area alt="" coords="255,133,294,150" href="/search?query=ar10">
<area alt="" coords="276,94,314,111" href="/search?query=ar11">
<area alt="" coords="341,77,381,94" href="/search?query=ar06">
<area alt="" coords="342,37,381,54" href="/search?query=ar16">
<area alt="" coords="121,42,151,59" href="/search?query=a22">
<area alt="" coords="148,131,178,148" href="/data_access?ExpoCode=29HE06_1">
<area alt="" coords="179,27,210,44" href="/search?query=a20">
<area alt="" coords="248,62,278,79" href="/data_access?ExpoCode=90CT40_1">
<area alt="" coords="274,170,313,187" href="/search?query=a16">
</map>

<div class='boxed'>
<h1>Atlantic Cruises Map</h1>
<div class='box_content'>
<h2>Click on any line label</h2>
<div class='mapimg'><img src="atl_central.jpg" usemap="#atl_central" style='width: 500px; height: 254px;' /></div>
</div>
<div class='box_bottom'></div>
</div>