<map name="ind_map">
<area alt="" coords="106,436,141,453" href="/search?query=35MFCIVA_1">
<area alt="" coords="147,494,186,511" href="/search?query=35MF103_1">
<area alt="" coords="345,488,381,505" href="/search?query=316N145_5">
<area alt="" coords="489,475,524,492" href="/search?query=316N145_5">
<area alt="" coords="373,307,408,324" href="/search?query=316N145_7">
<area alt="" coords="306,308,271,325" href="/search?query=74AB29_1">
<area alt="" coords="179,293,212,310" href="/search?query=316N145_9">
<area alt="" coords="168,252,202,268" href="/search?query=316N145_9">
<area alt="" coords="236,262,271,279" href="/search?query=316N145_9">
<area alt="" coords="371,240,406,257" href="/search?query=316N145_8">
<area alt="" coords="461,221,496,238" href="/search?query=316N145_13">
<area alt="" coords="318,223,353,240" href="/search?query=316N145_7">
<area alt="" coords="233,222,268,239" href="/search?query=316N145_10">
<area alt="" coords="290,184,325,201" href="/search?query=i02">
<area alt="" coords="238,103,273,120" href="/search?query=316N145_11">
<area alt="" coords="399,82,364,101"  href="/search?query=316N145_6">
<area alt="" coords="429,110,464,127" href="/search?query=316N145_12">
<area alt="" coords="218,363,257,380" href="/search?query=iss01">
<area alt="" coords="512,209,547,226" href="/search?query=ir06">
<area alt="" coords="460,321,499,338" href="/search?query=iss03">
<area alt="" coords="361,166,396,183" href="/search?query=ir04">
<area alt="" coords="212,159,247,176" href="/search?query=ir03">
<area alt="" coords="298,105,333,122" href="/search?query=ir01">
<area alt="" coords="259,133,220,150" href="/search?query=iss02">
<area alt="" coords="266,534,361,551" href="sou_map.html">
<area alt="" coords="525,63,607,81" href="pac_map.html">
<area alt="" coords="40,340,127,357" href="atl_map.html">
</map>

<div class='boxed'>
<h1>Indian Cruises Map</h1>
<div class='box_content'>
<h2>Click on any line label</h2>

<div class='mapimg'><img src="ind_map.jpg" usemap="#ind_map" style='width: 646px; height: 606px;' /></div>
</div>
<div class='box_bottom'></div>
</div>
