<map name="ir_map">
<area alt="" coords="198,74,237,92" href="../tables/repeat/subs/ir01_table.htm">
<area alt="" coords="179,98,218,116" href="../tables/repeat/subs/ir03_table.htm">
<area alt="" coords="254,147,293,164" href="../tables/repeat/subs/ir04_table.htm">
<area alt="" coords="351,162,391,180" href="../tables/repeat/subs/ir06_table.htm">
<area alt="" coords="144,262,183,279" href="../tables/repeat/subs/iss01_table.htm">
<area alt="" coords="158,123,197,140" href="../tables/repeat/subs/iss02_table.htm">
<area alt="" coords="342,227,382,245" href="../tables/repeat/subs/iss03_table.htm">
<area alt="Go to the repeat Atlantic map" coords="37,323,125,340" href="ar_map.htm">
<area alt="Go to the repeat Southern map" coords="286,339,381,356" href="sr_map.htm">
<area alt="Go to the repeat Pacific map" coords="379,56,461,73" href="pr_map.htm">
</map>

<div class='boxed'>
<h1>Indian Cruises Map</h1>
<div class='box_content'><h2>Click on any line label</h2>

<div class='mapimg'><img src="ir_map.gif" usemap="#ir_map" style='width: 491px; height: 365px;' /></div>
</div>
<div class='box_bottom'></div>
</div>