<map name="pac_aust">
<area alt="" coords="287,115,327,133" href="/search?query=09FA693">
<area alt="" coords="292,440,331,458" href="/search?query=09AR9391_2">
<area alt="" coords="325,207,364,225" href="/search?query=316N138_5">
<area alt="" coords="409,122,440,141" href="/search?query=318MWESTW_4">
<area alt="" coords="422,157,461,174" href="/search?query=316N138_7">
<area alt="" coords="329,309,369,325" href="/search?query=pr11">
<area alt="" coords="365,261,404,278" href="/search?query=pr13">
<area alt="" coords="362,178,402,196" href="/search?query=pr31">
<area alt="" coords="352,43,392,61"   href="/search?query=pr15">
</map>

<div class='boxed'>
<h1>Pacific Cruises Map</h1>
<div class='box_content'>
<h2>Click on any line label</h2>

<div class='mapimg'><img src="pac_aust.jpg" usemap="#pac_aust" style='width: 496px; height: 649px;' /></div>
</div>
<div class='box_bottom'></div>
</div>