<map name="pac_amer">
<area alt="" coords="190,53,231,70"   href="/search?query=pr05">
<area alt="" coords="204,72,243,89"   href="/search?query=pr06">
<area alt="" coords="321,254,360,271" href="/search?query=35NTALIZE2_1">
<area alt="" coords="264,241,303,258" href="/search?query=pr16">
<area alt="" coords="181,267,220,284" href="/search?query=pr33">
<area alt="" coords="121,267,160,284" href="/search?query=pr32">
<area alt="" coords="383,406,422,423" href="/search?query=pr14">
<area alt="" coords="88,84,118,101"   href="/search?query=31TTTPS47">
<area alt="" coords="88,153,118,170"  href="/search?query=p02">
<area alt="" coords="247,173,277,190" href="/search?query=31TTTPS24_1">
<area alt="" coords="183,225,213,242" href="/search?query=p04">
<area alt="" coords="121,296,151,313" href="/search?query=3250031_1">
<area alt="" coords="262,307,292,324" href="/search?query=318MWESTW_4">
<area alt="" coords="363,335,393,352" href="/search?query=p19">
<area alt="" coords="261,364,292,381" href="/search?query=p06">
<area alt="" coords="315,406,345,423" href="/search?query=p18">
<area alt="" coords="211,421,241,438" href="/search?query=p17">
<area alt="" coords="237,514,276,532" href="/search?query=316N138_10">
<area alt="" coords="162,478,192,495" href="/search?query=p16">
<area alt="" coords="98,477,129,494"  href="/search?query=p15">
<area alt="" coords="45,435,75,452"   href="/search?query=p14">
</map>

<div class='boxed'>
<h1>Pacific Cruises Map</h1>
<div class='box_content'>
<h2>Click on any line label</h2>

<div class='mapimg'><img src="pac_amer.jpg" usemap="#pac_amer" style='width: 500px; height: 597px;' /></div>
</div>
<div class='box_bottom'></div>
</div>