<map name="pac_map">
<area alt="" coords="272,533,367,550" href="sou_map.html">
<area alt="" coords="489,214,574,231" href="atl_map.html">
<area alt="" coords="38,311,116,328"  href="ind_map.html">
<area alt="" coords="62,91,218,308"   href="pac_asia.html">
<area alt="" coords="64,330,238,559"  href="pac_aust.html">
<area alt="" coords="241,233,572,530" href="pac_amer.html">
<area alt="" coords="225,92,486,327"  href="pac_amer.html">
</map>

<div class='boxed'>
<h1>Pacific Cruises Map</h1>
<div class='box_content'>
<h2>Click on any region</h2>

<div class='mapimg'><img src="pac_map.jpg" usemap="#pac_map" style='width: 610px; height: 581px;' /></div>
</div>
<div class='box_bottom'></div>
</div>
