<map name="sou_map">
<area alt="" coords="454,234,531,251" href="ind_map.html">
<area alt="" coords="90,435,173,452" href="pac_map.html">
<area alt="" coords="116,89,202,106" href="atl_map.html">
<area alt="" coords="251,74,306,91" href="/search?query=a12">
<!-- <area alt="" coords="251,74,306,91" href="../onetime/atlantic/a12/index.htm"> -->
<area alt="" coords="156,179,211,196" href="/search?query=06MT11_5">
<area alt="" coords="193,338,232,355" href="/search?query=90KDIOFFE6_1">
<area alt="" coords="355,153,394,170" href="/search?query=06AQANTXIII_4">
<area alt="" coords="415,190,445,207" href="/search?query=74DI200_1">
<area alt="" coords="359,405,389,422" href="/search?query=09AR9404_1">
<area alt="" coords="446,379,476,396" href="/search?query=09FA1094">
<area alt="" coords="385,287,424,304" href="/search?query=320696_3">
<area alt="" coords="142,244,181,261" href="/search?query=sr01">
<area alt="" coords="229,130,268,147" href="/search?query=sr02">
<area alt="" coords="375,350,413,367" href="/search?query=sr03">
<area alt="" coords="209,219,248,236" href="/search?query=sr04">
</map>

<div class='boxed'>
<h1>Southern Ocean Map</h1>
<div class='box_content'>
<h2>Click on any line label</h2>

<div class='mapimg'><img src="sou_map.jpg" usemap="#sou_map" style='width: 562px; height: 569px;' /></div>
</div>
<div class='box_bottom'></div>
</div>