{%- extends 'templates/static/static.jinja2' %}
{%- block title %}Southern Ocean{%- endblock %}
{%- block content %}
  {%- call h.boxed('Southern Ocean') %}
    <map name="sr_map">
    <area alt="" coords="138,185,178,202" href="../tables/repeat/subs/sr01_table.htm">
    <area alt="" coords="211,150,251,167" href="../tables/repeat/subs/sr02_table.htm">
    <area alt="" coords="329,363,368,380" href="../tables/repeat/subs/sr03_table.htm">
    <area alt="" coords="203,173,243,192" href="../tables/repeat/subs/sr04_table.htm">
    <area alt="go to the repeat Atlantic map" coords="149,51,237,68" href="ar_map.htm">
    <area alt="go to the repeat Pacific map" coords="89,412,171,429" href="pr_map.htm">
    <area alt="go to the repeat Indian map" coords="423,261,501,278" href="ir_map.htm">
    </map>

    <p>Click on any line label</p>

    <div class='mapimg'>
      <img src="/static/img/basin_maps/sr_map.gif" usemap="#sr_map" style="width: 523px; height: 525px;">
    </div>
  {%- endcall %}
{%- endblock %}
