{% extends "templates/staff.jinja2" %}
{% block title %}Home | Staff{% endblock %}
{% block content -%}
  {% call h.boxed('Hi %s!' % request.user.name) -%}
    <a href="http://bitbucket.org/ghdc/cchdo/wiki">CCHDO Operations Manual</a>
  {%- endcall %}
{%- endblock %}
