{% extends "templates/staff.jinja2" %}
{% block title %}Home | Staff{% endblock %}
{% block content -%}
  {% call h.boxed('Hi %s!' % request.user.name_first) -%}
    <a href="http://goship.ucsd.edu:8080">CCHDO Operations Manual</a>
  {%- endcall %}
{%- endblock %}
