{% extends "staff.jinja2" %}
{% block title -%}Moderation | Staff{%- endblock %}
{% block head -%}
  {{ whh.tags.stylesheet_link('/static/css/staff/moderation.css') }}
  {{ whh.tags.stylesheet_link('/static/css/metaTable.css') }}
{% endblock %}
{% block content -%}
  {% call h.boxed('Moderation') -%}
    <div class="queue pending autopagerize_page_element">
      {%- for key in dtc %}
        {% set (dtime, cruise) = key %}
        {% set files = dtc_to_q[key] %}
        <h3 class="qcruise">
          <span class="date_received">{{dtime.strftime('%F')}}</span>
          {{h.link_cruise(cruise)}}
        </h3>
        <table class="files has-meta-bodies">
          {%- for file in files %}
            {% set submission = attr_sub[file.id] %}
            <tr id="queue_{{file.id}}" class="file mb-link{{loop.index0}} meta">
              <td class="link">
                {{ h.link_file_holder(file) }}
              </td>
              <td class="contact">
                {{ h.link_person(file.creation_stamp.person) }}
              </td>
              <td class="id">
                {{ whh.tags.link_to(file.id, request.route_path('staff_moderation', _query={})) }}
              </td>
              <td class="parameters">
                {{submission}}
              </td>
            </tr>
            <tr class="file mb-link{{loop.index0}} body">
              <td class="notes" colspan="4">
                {%- if submission %}
                  submission.parameters
                {%- endif %}
                <ol>
                {%- for note in file.notes %}
                  <li>{{ note.data_type }}: {{ note.body }}</li>
                {%- endfor %}
                </ol>
              </td>
            </tr>
          {%- endfor %}
        </table>
      {%- endfor %}
      {{ h.pager_for(dtc) }}
      {#
      <table>
      {% for p in pending %}
        <tr>
          <td>{{ h.link_cruise(p.obj) }}</td>
          <td><a href="/obj/{{p.obj.id}}/a/{{p.id}}">{{p}}</a></td>
          <td>
            <h3>Discussion</h3>
          </td>
          <td>
            {{ whh.tags.form('', "PUT") }}
              <input type="hidden" name="attr" value="{{p.id}}">
              {% if not p.is_acknowledged() -%}
                <input type="submit" name="action" value="Acknowledge">
              {%- endif %}
              <input type="submit" name="action" value="Accept">
              <input type="submit" name="action" value="Reject">
            {{ whh.tags.end_form() }}
          </td>
        </tr>
      {% endfor %}
      </table>
      {{ h.pager_for(pending) }}
      #}
    </div>
  {%- endcall %}
{%- endblock %}
{%- block js %}
  {{ whh.tags.javascript_link('/static/js/metaTable.js') }}
{%- endblock %}
