{% extends "/staff.jinja2" %}
{% block title -%}Moderation | Staff{%- endblock %}
{% block head -%}
  {{ whh.tags.stylesheet_link('/static/css/staff/moderation.css') }}
  {{ whh.tags.stylesheet_link('/static/css/metaTable.css') }}
{% endblock %}
{% block content -%}
  {% call h.boxed('Moderation') -%}
    <div class="queue pending autopagerize_page_element">
      {%- for key in dtc %}
        {% set (dtime, cruise) = key %}
        {% set changes = dtc_to_q[key] %}
        <h3 class="qcruise">
          <span class="date_received">{{dtime.strftime('%F')}}</span>
          {{h.link_cruise(cruise)}}
        </h3>
        <table class="files has-meta-bodies">
          {%- for change in changes %}
            {% set submission = change.submission %}
            <tr id="queue_{{change.id}}" class="file mb-link{{loop.index0}} meta">
              <td class="link">
                {{ h.link_file_holder(change) }}
              </td>
              <td class="contact">
                {{ h.link_person(change.p_c) }}
              </td>
              <td class="id">
                {%- if submission %}
                  {{ h.link_submission(submission) }} &rarr;
                {%- endif %}
                {{ whh.tags.link_to(change.id, request.route_path('cruise_show', cruise_id=cruise.uid, _anchor='as_received_{0}'.format(change.id))) }}
              </td>
              <td class="parameters">
                {%- if submission %}
                  {{ submission.type }}
                  <div class="parameters">
                    {%- for note in change.notes %}
                      {%- if note.data_type == 'Parameters' %}
                        {{ note.body }}
                      {%- endif %}
                    {%- endfor %}
                  </div>
                {%- endif %}
              </td>
            </tr>
            <tr class="file mb-link{{loop.index0}} body">
              <td class="notes" colspan="4">
                <ol>
                {%- for note in change.notes %}
                  {%- if note.data_type != 'Parameters' %}
                    <li>{{ note.body }}</li>
                  {%- endif %}
                {%- endfor %}
                </ol>
              </td>
            </tr>
          {%- endfor %}
        </table>
      {%- endfor %}
      {{ h.pager_for(dtc) }}
    </div>
  {%- endcall %}
{%- endblock %}
{%- block js %}
  {{ whh.tags.javascript_link('/static/js/metaTable.js') }}
{%- endblock %}
