{% extends "/staff.jinja2" %}
{% from "/_notes.jinja2" import show_notes, show_notes_with_editor with context %}
{%- macro row_if_exists(t, x) %}
  {%- if x %}
    <tr><th>{{ t }}</th><td>{{ x }}</td></tr>
  {%- endif %}
{%- endmacro %}
{% block title -%}Submissions | Staff{%- endblock %}
{% block head -%}
  {{ whh.tags.stylesheet_link('/static/css/staff/submissions.css') }}
  {{ whh.tags.stylesheet_link('/static/css/metaTable.css') }}
{% endblock %}
{% block content -%}
  {% call h.boxed('Submissions', id='submissions') -%}
    <div class="tools">
      <form>
        {%- for label in lqueries.keys() %}
          {{ whh.tags.radio('ltype', label, checked=(label == ltype), label=label) }}
        {%- endfor %}
        <div class="filter">
          <input id="query" name="query" type="text" value="{{query}}">
          <input name="commit" type="submit" value="Filter">
        </div>
      </form>
      {# TODO sort
      <div class="sort">
          <h1>Sort by:</h1>
            <input checked="checked" id="sort_submission_date" name="sort" type="radio" value="submission_date">
            <label for="sort_submission_date">submission_date</label>
            <input id="sort_name" name="sort" type="radio" value="name">
            <label for="sort_name">name</label>
            <input id="sort_institute" name="sort" type="radio" value="institute">
            <label for="sort_institute">institute</label>
            <input id="sort_country" name="sort" type="radio" value="Country">
            <label for="sort_country">Country</label>
            <input id="sort_email" name="sort" type="radio" value="email">
            <label for="sort_email">email</label>
            <input id="sort_line" name="sort" type="radio" value="Line">
            <label for="sort_line">Line</label>
            <input id="sort_expocode" name="sort" type="radio" value="ExpoCode">
            <label for="sort_expocode">ExpoCode</label>
            <input id="sort_ship_name" name="sort" type="radio" value="Ship_Name">
            <label for="sort_ship_name">Ship_Name</label>
            <input id="sort_cruise_date" name="sort" type="radio" value="cruise_date">
            <label for="sort_cruise_date">cruise_date</label>
        </div>
      #}
    </div>
    <div class="help">
      <p>The key here is to attach submissions to specific cruises.</p>
      <ol>
        <li>Try to figure out what kind of data and which cruise each submission belongs to</li>
        <li>Then enter the cruise ID or expocode and data type and <span class="action">Accept</span></li>
      </ol>
      <p>
        If the submission is junk, <span class="action">Discard</span> it.
      </p>
      <p>
        You can add notes to the submission for your and others' reference.
      </p>
    </div>

    {%- if submissions %}
      <table class="has-meta-bodies autopagerize_page_element">
        <tr class="header">
          <th class="id">ID</th>
          <th class="identifier">Identifier</th>
          <th class="person">Submitted by</th>
          <th class="type">Type</th>
        </tr>
      {%- for submission in submissions %}
        {%- set hl = loop.cycle('even', 'odd') %}
        {%- set attached = submission.attached or None %}
        {%- set change = submission.change %}
        <tr class="submission mb-link{{ loop.index0 }} meta {{ hl }} {% if attached %}attached{% endif %}">
          {%- set ident = submission.expocode or ' ' %}
          <td class="id">
            <div class="upper">
              {{ whh.tags.link_to(submission.id, request.route_path('staff_submissions', _query={'ltype': 'id', 'query': submission.id})) }}
              {%- if attached %}
                (ASR: {{ h.link_q(request, attached) }})
              {%- endif %}
            </div>
            <div class="lower">
              {{ h.link_file_holder(submission) }}
            </div>
          </td>
          <td class="identifier">
            <div class="upper">
            {%- if attached %}
              {%- if ident != attached.obj.uid %}
                {{ whh.tags.link_to(ident, request.route_path('cruise_show', cruise_id=ident), class_='corrected') }}
              {%- endif %}
              {{ h.link_cruise(attached.obj) }}
            {%- else %}
              {{ whh.tags.link_to(ident, request.route_path('cruise_show', cruise_id=ident)) }}
            {%- endif %}
            </div>
            <div class="lower">
              <table class="info">
                {{ row_if_exists('WOCE Line', submission.line or '') }}
                {{ row_if_exists('Ship', submission.ship_name or '') }}
                {{ row_if_exists('Cruise dates', h.pdate(submission.cruise_date)) }}
              </table>
            </div>
          </td>
          <td class="person">
            <div class="upper">
              {{ h.link_person(change.p_c) }}
            </div>
            <div class="lower date_submitted">
              {{ h.pdate(change.ts_c) }}
            </div>
          </td>
          <td class="type">{{ submission.type }}</td>
        </tr>
        <tr class="submission mb-link{{ loop.index0 }} body {{ hl }} {% if attached %}attached{% endif %}">
          <td class="id">
            {% if change and change.is_acknowledged() %}
              In work {{ h.link_person(change.p_ack) }} ({{ h.pdate(change.ts_ack) }})
            {% endif %}
          </td>
          <td colspan="3">
          {%- if not attached %}
            {{ whh.tags.form('', 'PUT', hidden_fields={'submission_id': submission.id}) }}
            <table class="editor">
              <tr>
                <th><label for="submission{{ loop.index0 }}_cruise_id">Cruise ID/ExpoCode</label></th>
                {%- set cruises = submission.cruises_from_identifier() %}
                <td><input id="submission{{ loop.index0 }}_cruise_id" type="text" name="cruise_id"
                           value="{%- if cruises %}{{ cruises[0].get('expocode') or cruises[0].id }}{%- endif %}"></td>
              </tr>
              {%- set data_type_id = 'submission%s_data_type' % loop.index0 %}
              <tr>
                <th><label for="{{ data_type_id }}">Data type</label></th>
                <td>{{ whh.tags.select('data_type', None, FILE_GROUPS_SELECT, id=data_type_id) }}</td>
              </tr>
              <tr>
                <td colspan="2">
                  <button type="submit" name="action" value="Accept">Attach</button>
                  {%- if not change.is_acknowledged() %}
                    <button type="submit" name="action" value="Acknowledge">In work</button>
                  {%- else %}
                    <button type="submit" name="action" value="release">Release</button>
                  {%- endif %}
                  <button type="submit" name="action" value="Reject">Discard</button>
                </td>
              </tr>
            </table>
            {{ whh.tags.end_form() }}
          {%- endif %}
          </td>
        </tr>
        <tr class="submission mb-link{{ loop.index0 }} body {{ hl }} {% if attached %}attached{% endif %}">
          <td colspan="7">
            {{ show_notes_with_editor(request, loop.index0, submission, 'submission') }}
          </td>
        </tr>
      {%- endfor %}
      </table>
      {{ h.pager_for(submissions) }}
    {%- else %}
      <p>No submissions.</p>
    {%- endif %}
  {%- endcall %}
{%- endblock %}
{%- block js %}
  {{ whh.tags.javascript_link('/static/js/metaTable.js') }}
  {{ whh.tags.javascript_link('/static/js/staff.js') }}
{%- endblock %}
