<div id="gfooter">
  <div id="screensize">
    <a id="screensize-mobile" href="javascript:void(0);">Mobile style</a>
    <a id="screensize-full" href="javascript:void(0);">Large screen style</a>
  </div>
  <div id="gcredit">
    <p id="funding">
      This site is funded by the
      <a href="http://www.nsf.gov">National Science Foundation</a> and the
      <a href="http://www.oco.noaa.gov/">National Oceanic and Atmospheric Administration</a>.
    </p>
    <p>
      This web site and all other CCHDO activities are supported by the
      National Science Foundation and the National Oceananic and Atmospheric
      Administration. Any opinions, findings, and conclusions or
      recommendations expressed in this web site are those of the PI, James
      Swift, and the CCHDO and do not necessarily reflect the views of the
      supporting Federal agencies.
    </p>
  </div>
  <div id="footer_logos">
    <a href="http://www.clivar.org"><img src="/static/img/logos/clivar_logo.png" alt="CLIVAR logo" style="width: 52px; height: 40px;"></a>
    <a href="http://nsf.gov"><img src="/static/img/logos/nsf_logo.png" alt="NSF logo" style="width: 40px; height: 40px;"></a>
    <a href="http://www.noaa.gov"><img src="/static/img/logos/noaa_logo.png" alt="NOAA logo" style="width: 40px; height: 40px;"></a>
    <a href="http://sio.ucsd.edu"><img src="/static/img/logos/sio_logo.png" alt="SIO logo" style="width: 40px; height: 40px;"></a>
  </div>
</div>
