<div id="gheader">
  <a href="/">
    {{- whh.tags.image('/static/img/logos/CCHDO_logo.png',
                       'CLIVAR & Carbon Hydrographic Data Office (CCHDO)',
                       id_='cchdo_logo')
    }}</a>
  <p id="session_status" class="{% if h.has_mod(request) %}moderator{% endif %}">
    {% if request.user -%}
      {{ request.user.name_first }} <a href="/session/delete">Sign out</a>
    {%- else -%}
      <a href="/session/identify">Sign in</a>
    {%- endif %}
  </p>
  <div id="gsearch">
    <form action="/search" method="GET">
      {%- set query = request.session.get('query', '') %}
      <input id="query" name="query" type="search" {% if query %}value="{{query}}" {% endif %}x-webkit-speech>
      <input type="submit" value="Search Data">
    </form>
    <p><a href="/search/advanced">Advanced</a></p>
  </div>
</div>
<div id="picture">
  <div id="bannerD" class="banner fullwidth"></div>
  <div id="bannerC" class="banner fullwidth"></div>
  <div id="bannerB" class="banner"></div>
  <div id="bannerA" class="banner"></div>
</div>
<div id="cchdo_menu">
  <ul class="nav open"> 
  <li id="cchdo_menu_get"><h1><a href="/get.html">Get</a></h1>
    <ul>
      <li><a href="/get.html#search">Search</a>
        <ul class="search">
          <li>{{ h.tags.link_to('Advanced', request.route_path('advanced_search')) }}</li>
          <li>{{ h.tags.link_to('Map', request.route_path('search_map')) }}</li>
        </ul>
      </li>
      <li><a href="/get.html#time-series">Time Series</a></li>
      <li><a href="/get.html#project">Projects</a></li>
      <li><a href="/get.html#list">Lists</a></li>
    </ul>
  </li>
  <li id="cchdo_menu_basins"><h1></h1>
    <ul>
      <li><a href="/get.html#basin">Basins</a>
        <ul class="basins">
          <li><a href="/arctic.html">Arctic</a></li>
          <li><a href="/atlantic.html">Atlantic</a></li>
          <li><a href="/pacific.html">Pacific</a></li>
          <li><a href="/indian.html">Indian</a></li>
          <li><a href="/southern.html">Southern</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li id="cchdo_menu_give"><h1><a href="/give.html">Give</a></h1>
    <ul>
      <li><a href="/submit.html">Submit data</a></li>
      <li><a href="/seahunt.html">Seahunt</a>
        <ul>
          <li><a href="/contributions.html">Contributions</a></li>
          <li>{{ whh.tags.link_to('Add a cruise', request.route_path('cruises_new')) }}</li>
        </ul>
      </li>
    </ul>
  </li>
  {%- if h.has_staff(request) %}
  <li><h1><a href="/tools.html">Tools</a></h1>
    <ul>
      <li><a href="/staff.html">Staff</a></li>
      <li><a href="/tool/data_cmp.html">Data Compare</a></li>
      <li><a href="/tool/visual.html">Visual</a></li>
      <li><a href="/tool/convert.html">Convert</a></li>
      <li><a href="/tool/archives.html">Archives</a></li>
    </ul>
  </li>
  {%- endif %}
  <li id="cchdo_menu_information"><h1><a href="/information.html">Information</a></h1>
    <ul>
      <li><a href="/contact.html">Contact</a></li>
      <li><a href="/manuals.html">Manuals</a></li>
      <li><a href="/policies.html">Policies</a></li>
      <li><a href="/format.html">Format</a></li>
      <li><a href="/parameters.html">Parameters</a></li>
    </ul>
  </li>
  </ul>
</div>
