<div id="gheader">
  <div id="cchdo_logo" class="masthead-block">
    <a href="/">
      {{- whh.tags.image('/static/img/logos/CCHDO_logo.png',
                         'CLIVAR & Carbon Hydrographic Data Office (CCHDO)')
      }}</a>
  </div>
  <div id="gsearch" class="masthead-block">
    <form action="/search" method="GET">
      {%- set query = request.session.get('query', '') %}
      <input id="query" name="query" type="search" {% if query %}value="{{query}}" {% endif %}x-webkit-speech>
      <input type="submit" value="Search Data">
    </form>
  </div>
  <div class="masthead-block masthead-right">
    <div id="datacart_status" class="masthead-block">
      <a class="data-cart-link" href="{{ request.route_path('datacart') }}">
        <div class="datacart-icon datacart-cart">
          <div class="count">{{ request.datacart|count }}</div>
        </div>
      </a>
    </div>
    <div id="session_status" class="masthead-block{% if h.has_mod(request) %} moderator{% endif %}">
      {% if request.user -%}
        <p>{{ h.link_person(request.user) }}</p>
        <a id="not-user" href="/session/delete?location={{request.route_path('session_identify')}}">Not {{ request.user.name }}?</a>
        <a id="signout" href="/session/delete">Sign out</a>
      {%- else -%}
        <a href="/session/identify">Sign in</a>
      {%- endif %}
    </div>
  </div>
</div>
<div id="picture">
  <div id="bannerD" class="banner fullwidth"></div>
  <div id="bannerC" class="banner fullwidth"></div>
  <div id="bannerB" class="banner"></div>
  <div id="bannerA" class="banner"></div>
</div>
<div id="cchdo_menu">
  <ul class="nav open"> 
  <li id="cchdo_menu_home"><h1><a href="/">Home</a></h1></li>
  <li id="cchdo_menu_find"><h1>{{ h.tags.link_to('Find Data', request.route_path('find_menu')) }}</h1>
    <ul>
      <li>{{ h.tags.link_to('Search', request.route_path('find_menu', _anchor='search')) }}
        <ul class="search">
          <li>{{ h.tags.link_to('Advanced', request.route_path('advanced_search')) }}</li>
          <li>{{ h.tags.link_to('Map', request.route_path('search_map')) }}</li>
        </ul>
      </li>
      <li>{{ h.tags.link_to('Time Series', request.route_path('find_menu', _anchor='time-series')) }}</li>
      <li>{{ h.tags.link_to('Projects', request.route_path('find_menu', _anchor='project')) }}</li>
      <li>{{ h.tags.link_to('Lists', request.route_path('find_menu', _anchor='list')) }}</li>
    </ul>
  </li>
  <li id="cchdo_menu_oceans" class="expandable"><h1></h1>
    <ul>
      <li>{{ h.tags.link_to('Oceans', request.route_path('find_menu', _anchor='ocean')) }}
        <ul class="oceans">
          <li><a href="/arctic.html">Arctic</a></li>
          <li><a href="/atlantic.html">Atlantic</a></li>
          <li><a href="/pacific.html">Pacific</a></li>
          <li><a href="/indian.html">Indian</a></li>
          <li><a href="/southern.html">Southern</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li id="cchdo_menu_submit" class="expandable"><h1>{{ h.tags.link_to('Submit', request.route_path('submit')) }}</h1>
    <ul>
      <li><a href="/submit.html">Submit data</a></li>
    </ul>
  </li>
  {%- if h.has_staff(request) %}
  <li class="expandable"><h1><a href="/tools.html">Tools</a></h1>
    {%- include '_tools_list.jinja2' %}
  </li>
  {%- endif %}
  <li id="cchdo_menu_information" class="expandable"><h1><a href="/information.html">Information</a></h1>
    <ul>
      <li><a href="/contact.html">Contact</a></li>
      <li><a href="/manuals.html">Manuals</a></li>
      <li><a href="/policies.html">Policies</a></li>
      <li><a href="/format.html">Format</a></li>
      <li><a href="/parameters.html">Parameters</a></li>
      <li><a href="/woce_flags.html">WOCE flags</a></li>
    </ul>
  </li>
  </ul>
</div>
