<div id="gheader">
  <a href="/"><img id="cchdo_logo" src="/static/img/logos/CCHDO_logo.png" /></a>
  <p id="session_status" class="{% if h.has_mod(request) %}moderator{% endif %}">
    {% if request.user -%}
      {{ request.user.name_first }} <a href="/session/delete">Sign out</a>
    {%- else -%}
      <a href="/session/identify">Sign in</a>
    {%- endif %}
  </p>
  <div id="gsearch">
    <form action="/search" method="GET">
      {%- set query = request.session.get('query', '') %}
      <input id="query" name="query" type="search" {% if query %}value="{{query}}" {% endif %}x-webkit-speech>
      <input type="submit" value="Search Data">
    </form>
    <p><a href="/search/advanced">Advanced Search</a></p>
  </div>
</div>
<div id="picture">
  <div id="bannerD" class="banner fullwidth"></div>
  <div id="bannerC" class="banner fullwidth"></div>
  <div id="bannerB" class="banner"></div>
  <div id="bannerA" class="banner"></div>
  <div id="cchdo_menu">
    <ul class="nav"> 
      <li><h1><a href="/">Home</a></h1></li>
      <li><h1><a href="/browse.html">Browse Data</a></h1>
      <ul class="browse-data">
      <li><a href="/browse.html#ocean">By Ocean &raquo;</a>
        <ul class="ocean">
          <li><a href="/arctic.html">Arctic Ocean</a></li>
          <li><a href="/atlantic.html">Atlantic Ocean</a></li>
          <li><a href="/pacific.html">Pacific Ocean</a></li>
          <li><a href="/indian.html">Indian Ocean</a></li>
          <li><a href="/southern.html">Southern Ocean</a></li>
        </ul>
      </li>
      <li><a href="/browse.html#time-series">By Time Series &raquo;</a>
        <ul class="time_series">
          <li><a href="/search?query=HOT">HOT</a></li>
          <li><a href="/search?query=BATS">BATS</a></li>
        </ul>
      </li>
      <li><a href="/browse.html#project">By Projects &raquo;</a>
        <ul class="contributions_projects">
          <li><a href="/search?query=CARINA">Project Carina</a></li>
        </ul>
      </li>
      <li><a href="/browse.html#list">By Lists &raquo;</a>
        <ul class="lists">
          <li><a href="/cruises">Cruises</a></li>
          <li><a href="/countries">Countries</a></li>
          <li><a href="/people">People</a></li>
          <li><a href="/ships">Ships</a></li>
          <li><a href="/institutions">Institutions</a></li>
          <li><a href="/collections">Collections</a></li>
        </ul>
      </li>
      </ul>
    </li>
    <li><h1><a href="/search.html">Search Data</a></h1>
      <ul class="search-data">
        <li><a href="/search/advanced">Advanced Search</a></li>
        <li><a href="/search/map">Map Search</a></li>
      </ul>
    </li>
    <li><h1><a href="/submit.html">Submit Data</a></h1></li>
    <li><h1><a href="/contact.html">Contact</a></h1></li>
    <li><h1><a href="/information.html">Information</a></h1>
      <ul>
        <li><a href="/manuals.html">Manuals</a></li>
        <li><a href="/policies.html">Policies</a></li>
        <li><a href="/format.html">Format</a></li>
        <li><a href="/parameters.html">Parameters</a></li>
      </ul>
    </li>
    </ul>
  </div>
</div>
