<div id="entry_menu">
<%= link_to "Cruises",  :action => "cruise_entry"  %> |
<!--<%= link_to_remote "Events", :action => "event_entry"  %> | -->
<%= link_to "Contacts", :action => "contact_entry"  %> 
<!-- <%= link_to_remote "Parameters", :update => "entry", :url => { :action => "parameter_entry" } %> |
<%= link_to_remote "Groups", :update => "entry", :url => { :action => "group_entry" } %> -->
</div>
<hr>
