{% macro boxed(title='', bottom='') -%}
  <div class="boxed">
  <h1>{{ title }}</h1>
  <div class="box_content">
    {{ caller() }}
  </div>
  <div class="box_bottom">{{ bottom }}</div>
  </div>
{%- endmacro %}
