{%- set ua = request.user_agent -%}
{%- if ua.startswith('MSIE') -%}
  {%- if ua.endswith('7') -%}
    <%= stylesheet_link_tag 'ie7' %>
    <link rel="stylesheet" type="text/css" href="ie7.css" />
  {%- elif ua.endswith('6') -%}
    <link rel="stylesheet" type="text/css" href="ie6.css" />
    <script type="text/javascript">
      startList = function() {
        if (document.all&&document.getElementById) {
          navRoot = document.getElementById("cchdo_menu");
          navRoot = navRoot.childNodes[0];
          for (i=0; i<navRoot.childNodes.length; i++) {
            node = navRoot.childNodes[i];
            if (node.nodeName=="LI") {
              node.onmouseover=function() { this.className+=" over"; }
              node.onmouseout=function() { this.className=this.className.replace(" over", ""); }
            }
          }
        }
      }
      window.onload=startList;
    </script>
  {%- endif -%}
{%- endif -%}
