<ul>
  <li><a href="/staff.html">Staff</a></li>
  <li><a href="/tool/data_cmp.html">Data Compare</a></li>
  <li><a href="/tool/visual.html">Visual</a></li>
  <li><a href="/tool/convert.html">Convert</a></li>
  <li><a href="/tool/archives.html">Archives</a></li>
  <li><a href="/tool/dumps.html">Dumps</a></li>
</ul>
