{%- if request.user_agent is defined %}
  {%- set ua = request.user_agent %}
  {%- if ua %}
    {%- if 'chromeframe' in ua %}
      <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {%- endif %}
    {#- if ua.startswith('MSIE') %}
      {%- if ua.endswith('7') %}
      {%- endif %}
    {%- endif #}
  {%- endif %}
{%- endif %}
