{{ whh.tags.Doctype().html5() }}
{%- import "_helpers_layout.jinja2" as helpers_layout %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="Jg9hBGPowxUZWHJAgYLXRFfZweb_R28puGLp0H6xA3E">
  <title>{%- call h.title() %}{%- block title %}{%- endblock %}{%- block subtitle %}{%- endblock %}{%- endcall %}CCHDO</title>
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="icon" type="image/png" href="/static/favicon.png">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="/static/img/iphone_icon.png">
  {%- assets
    filters='cssmin',
    output='gen/screen.css',
    'css/normalize.css',
    'css/screen.css'
  %}
    {{ whh.tags.stylesheet_link(ASSET_URL, media='screen') }}
  {%- endassets %}
  {%- include '_ua.jinja2' ignore missing %}
  {%- block staff_head %}{%- endblock %}
  {%- block head %}{%- endblock %}
  {%- block subhead %}{%- endblock %}

  {{ whh.tags.stylesheet_link('/static/css/handheld.css', media='only screen and (max-device-width:600px)', class="mobile") }}
  {{ whh.tags.stylesheet_link('/static/css/handheld.css', media='screen and (-webkit-device-pixel-ratio:1.5)', class="mobile") }}
  {{ whh.tags.stylesheet_link('/static/css/handheld.css', media='handheld', class="mobile") }}
  <meta class="mobile" name="viewport" content="width=device-width initial-scale=1 user-scalable=1 target-densityDpi=device-dpi">

  {{ whh.tags.stylesheet_link('//fonts.googleapis.com/css?family=Open+Sans') }}
</head>
<body>
  <div id="centering" class="{%- block fullwidth_class %}{%- endblock %}">
    {%- include '_base_header.jinja2' with context %}
    <div id="content"{%- block content_attrs -%}{%- endblock %}>
      {%- for flash_type in ['action_taken', 'success', 'error', 'help'] %}
        {%- if request.session.peek_flash(flash_type) %}
          {%- set flashed_items = request.session.pop_flash(flash_type) %}
          {%- for item in flashed_items %}
            <h1 class="flash {{ flash_type }}">{{ whh.HTML.literal(item) }}</h1>
          {%- endfor %}
        {%- endif -%}
      {%- endfor %}
      {%- block staff_content %}{%- endblock %}
      {%- block subcontent %}{%- endblock %}
      {% block content -%}{%- endblock %}
    </div>
    {%- include '_base_footer.html' %}
  </div>
  <div id="scripts">
    {%- assets
      filters='rjsmin',
      output='gen/base.js',
      'js/jquery-1.10.2.min.js', 'js/base.js', 'js/datacart.js'
    %}
       {{ whh.tags.javascript_link(ASSET_URL) }}
    {%- endassets %}
    {%- block js %}{%- endblock %}
    {%- if request.registry.settings.get('analytics') == 'True' %}
      {%- include '_analytics.html' ignore missing %}
    {%- endif %}
    {%- include '_ie6.html' ignore missing %}
  </div>
</body>
</html>
