{% import "templates/_helpers_layout.jinja2" as helpers_layout %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="google-site-verification" content="xBVm_AfJYEdA-tbww41dajF9RuGbZHAjpOBhwWwqbcM">
  <title>CCHDO | CLIVAR & Carbon Hydrographic Data Office{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
  <link rel="stylesheet" type="text/css" href="/static/screen.css">
  {%- block head -%}
    {% include 'templates/_ie_compat.jinja2' ignore missing %}
  {%- endblock -%}
</head>
<body>
  <div id="centering">
    {% include 'templates/_base_header.html' %}
    <div id="content">
      {%- if flash and flash['notice'] -%}
        <h1 class="notice">{{flash['notice']}}</h1>
      {%- endif -%}
      {% block content %}{% endblock %}
    </div>
    {% include 'templates/_base_footer.html' %}
  </div>
  <div id="scripts">
    {% block js %}{% endblock %}
    {% include 'templates/_track.html' ignore missing %}
  </div>
</body>
</html>
