{%- extends "templates/base.jinja2" %}
{%- block head %}
  {{ whh.tags.stylesheet_link('/static/css/static.css') }}
{%- endblock %}
{%- block title %}Give{% endblock %}
{%- block content -%}
{%- call h.boxed('Give', class="give") -%}
  <ul>
    {{ whh.HTML.li(whh.tags.link_to('Submit data', '/submit.html')) }}
  </ul>
  <h2 id="seahunt"><a href="/project_seahunt.html">Project Seahunt</a></h2>
  <ul class="project_seahunt">
    {{ whh.HTML.li(whh.tags.link_to('Contributions', '/contributions.html')) }}
    {{ whh.HTML.li(whh.tags.link_to('Add a cruise', '/contribute.html')) }}
  </ul>
{%- endcall %}
{%- endblock %}
