{% extends "base.jinja2" %}
{%- block title %} CLIVAR & Carbon Hydrographic Data Office{%- endblock %}
{% block head -%}
  {{ whh.tags.stylesheet_link('/static/css/home.css') }}
{%- endblock %}
{%- block content_attrs %} class="home"{%- endblock %}
{%- macro show_thumb(cruise) %}
  {%- if cruise.get('map_thumb') %}
    {% set src = request.route_path('cruise_map_thumb', cruise_id=cruise.uid) %}
    {% set alt = '%s thumbnail' % cruise.expocode %}
  {%- else %}
    {% set src = '/static/img/etopo_static/etopo_thumb_no_track.png' %}
    {% set alt = 'No track available' %}
  {%- endif %}
  {{ whh.tags.link_to(whh.tags.image(src, alt), h.path_cruise(cruise)) }}
{%- endmacro %}
{% block content %}
  {% call h.boxed('Welcome to the CCHDO', id='intro', class='left') %}
    <img src="/static/img/ctd_recovery.png">
    <p>
      The CCHDO's primary mission is to deliver the highest possible quality
      global CTD and hydrographic data to users. These data are a product of
      decades of observations related to the physical characteristics of ocean
      waters carried out during WOCE, CLIVAR and numerous other oceanographic
      research programs. Whenever possible we provide these data in three
      easy-to-use formats:
      <a href="/formats/exchange/index.html">WHP-Exchange</a> (which we recommend for data
      submissions to the CCHDO), <a href="/format.html">WOCE</a>, and
      <a href="/formats/netcdf/index.html">netCDF</a>.
    </p>
    <p>
      The CCHDO also manages public and non-public CTD data to be used for the
      global Argo and OceanSITES programs.
    </p>
    <p>
      This site is funded by the
      <a href="http://nsf.gov/">National Science Foundation</a> and the
      National Oceanic and Atmospheric Administration's
      <a href="http://www.oco.noaa.gov/">Climate Observations Division</a>.
    </p>
  {% endcall %}
  
  {% call h.boxed('Find Data Geographically', id='geo_search', class='left') %}
    <ul>
      <li id="search_map_ad">
        <h2><a href="/search/map">Search interactively</a></h2>
        <a href="/search/map"><img src="/static/img/cchdo_search_map.png"></a>
      </li>
      <li id="basin">
        <h2>Click on a basin</h2>
        {%- include "_basin_selector.jinja2" %}
      </li>
    </ul>
    <div class="clear"></div>
  {% endcall %}
  
  {% call h.boxed('Recent Updates', id='rdev', class='right', box_content_class='scrollable-y') %}
    <div id="updated">
      <ol>
      {%- for update in updated %}
        {%- set cruise = update.obj %}
        {%- if cruise %}
        <li>
          <div class="thumb">
            {{ show_thumb(cruise) }}
          </div>
          <div class="info">
            <h3>{{ h.link_cruise(cruise) }}</h3> 
            {#- if cruise.ship %}
              <p><strong>Ship:</strong> <span class="ship" title="{{ cruise.ship.name }}">{{ h.link_ship(cruise.ship) }}</span></p>
            {%- endif #}
            {%- set dates = h.cruise_dates(cruise)[2] %}
            {%- if dates %}
              <p><strong>Dates:</strong> <span class="date-cruise" title="{{ dates }}">{{ dates }}</span></p>
            {%- endif %}
            <p><strong>Updated:</strong> <span class="date-updated">{{ h.pdate(update.judgment_stamp.timestamp) }}</span></p>
            <p><strong>Type:</strong> <span class="key-updated">{{ update.key }}</span></p>
          </div>
        </li>
        {%- endif %}
      {%- endfor %}
      </ol>
    </div>
    <div id="upcoming">
      <h2>Upcoming cruises (Seahunt)</h2>
      <ol>
      {%- for cruise in upcoming %}
        <li>
          <div class="thumb">
            {{ show_thumb(cruise) }}
          </div>
          <div class="info">
            <h3>{{ h.link_cruise(cruise) }}</h3> 
            {%- set dates = h.cruise_dates(cruise)[2] %}
            {%- if dates %}
              <p><strong>Dates:</strong> <span class="date-cruise" title="{{ dates }}">{{ dates  }}</span></p>
            {%- endif %}
          </div>
        </li>
      {%- endfor %}
      </ol>
    </div>
  {% endcall %}
{% endblock %}
{% block js %}
  {%- assets
    filters='rjsmin',
    output='home.js',
    'js/jquery-1.4.4.min.js',
    'js/basin_selector.js'
  %}
     {{ whh.tags.javascript_link(ASSET_URL) }}
  {%- endassets %}
{% endblock %}
