{% extends "templates/base.jinja2" %}
{%- block title %} CLIVAR & Carbon Hydrographic Data Office{%- endblock %}
{% block head -%}
  {{ whh.tags.stylesheet_link('/static/css/home.css') }}
{%- endblock %}
{%- block content_attrs %} class="home"{%- endblock %}
{%- macro show_thumb(cruise) %}
  {%- if cruise.get('map_thumb') %}
    {{ whh.tags.link_to(whh.tags.image(
        request.route_path(
          'cruise_map_thumb', cruise_id=cruise.uid),
        '%s thumbnail' % cruise.expocode),
      h.path_cruise(cruise)) }}
  {%- else %}
    {{ whh.tags.link_to(whh.tags.image(
        '/static/img/etopo_static/etopo_thumb_no_track.png',
        'No track available'),
      h.path_cruise(cruise)) }}
  {%- endif %}
{%- endmacro %}
{% block content %}
  {% call h.boxed('Welcome to the CCHDO', id='intro', class='left') %}
    <img src="/static/img/ctd_recovery.png">
    <h2>About the CCHDO</h2>
    <p>
      The CCHDO's primary mission is to deliver the highest possible quality
      global CTD and hydrographic data to users. These data are a product of
      decades of observations related to the physical characteristics of ocean
      waters carried out during WOCE, CLIVAR and numerous other oceanographic
      research programs. Whenever possible we provide these data in three
      easy-to-use formats:
      <a href="/format.html">WHP-Exchange</a> (which we recommend for data
      submissions to the CCHDO), <a href="/format.html">WOCE</a>, and
      <a href="/format.html">netCDF</a>.
    </p>
    <p>
      The CCHDO also manages public and non-public CTD data to be used for the
      global Argo and OceanSITES programs.
    </p>
    <p>
      This site is funded by the
      <a href="http://nsf.gov/">National Science Foundation</a>.
    </p>
  {% endcall %}
  
  {% call h.boxed('Search for Data Geographically', id='geo_search', class='left') %}
    <ul>
      <li id="basin">
        <h2>Click on a basin</h2>
        {%- include "templates/_basin_selector.jinja2" %}
      </li>
      <li id="search_map_ad">
        <h2><a href="/search/map">Search interactively</a></h2>
        <a href="/search/map"><img src="/static/img/cchdo_search_map.png"></a>
      </li>
    </ul>
    <div class="clear"></div>
  {% endcall %}
  
  {% call h.boxed('Updates', id='rdev', class='right', box_content_class='scrollable-y') %}
    <div id="updated">
      <h2>Recently updated data</h2>
      <ol>
      {%- for update in updated %}
        {%- set cruise = update.obj %}
        {%- if cruise %}
        <li>
          <div class="thumb">
            {{ show_thumb(cruise) }}
          </div>
          <div class="info">
            <h3>{{ h.link_cruise(cruise) }}</h3> 
            {%- if cruise.ship %}
              <p><strong>Ship:</strong> <span class="ship" title="{{ cruise.ship.name }}">{{ h.link_ship(cruise.ship) }}</span></p>
            {%- endif %}
            {%- set dates = h.cruise_dates(cruise)[2] %}
            {%- if dates %}
              <p><strong>Dates:</strong> <span class="date-cruise" title="{{ dates }}">{{ dates }}</span></p>
            {%- endif %}
            <p><strong>Updated:</strong> <span class="date-updated">{{ h.date(update.judgment_stamp.timestamp) }}</span></p>
            <p><strong>Data:</strong> <span class="key-updated">{{ update.key }}</span></p>
          </div>
        </li>
        {%- endif %}
      {%- endfor %}
      </ol>
    </div>
    <div id="upcoming">
      <h2>Upcoming cruises from Seahunt</h2>
      <ol>
      {%- for cruise in upcoming %}
        <li>
          <div class="thumb">
            {{ show_thumb(cruise) }}
          </div>
          <div class="info">
            <h3>{{ h.link_cruise(cruise) }}</h3> 
            {%- set dates = h.cruise_dates(cruise)[2] %}
            {%- if dates %}
              <p><strong>Dates:</strong> <span class="date-cruise" title="{{ dates }}">{{ dates  }}</span></p>
            {%- endif %}
          </div>
        </li>
      {%- endfor %}
      </ol>
    </div>
  {% endcall %}
{% endblock %}
{% block js %}
  {{ whh.tags.javascript_link('/static/js/jquery-1.4.4.min.js') }}
  {{ whh.tags.javascript_link('/static/js/basin_selector.js') }}
{% endblock %}
