{%- extends "fullwidth.jinja2" %}
{%- block staff_head %}
  {{ whh.tags.stylesheet_link('/static/css/staff.css') }}
{%- endblock %}
{%- block staff_content %}
  <div id="staff-header">
    <div id="staff-nav" class="nav">
      <a href="/staff.html"{% if self.title() == 'Home | Staff' %} class="current"{% endif %}>Staff home</a>
      <a href="/staff/submissions.html"{% if self.title() == 'Submissions | Staff' %} class="current"{% endif %}>Submissions</a>
      <a href="/staff/moderation.html"{% if self.title() == 'Moderation | Staff' %} class="current"{% endif %}>Moderation</a>
      <a href="/staff.html"{% if self.title() == 'Recent Updates | Staff' %} class="current"{% endif %}>Recent Updates</a>
    </div>
  </div>
{%- endblock %}
