{% extends "base.jinja2" %}
{% block head -%}
  {{ whh.tags.stylesheet_link('/static/css/submit.css') }}
{%- endblock %}
{% block title %}Submit Data{% endblock %}
{% macro step(number, id='', text='') -%}
  <div id="{{ id }}">
    <h2 class="step-title">Step <em>{{number}}</em>: <span>{{text}}</span></h2>
    {{caller()}}
  </div>
{%- endmacro %}
{% block content -%}
{% call h.boxed('Submit Data') -%}
  {{ whh.tags.form('', multipart=True) }}

  {% set step_num = 1 %}

  {% if request.user %}
    <p>Thank you for submitting data, {{ request.user.name }}.</p>
  {% else %}
    {% call step(step_num, 'contact_info', 'Contact Information') -%}
      <p id="signin_invite">
        Please help us by {{ whh.tags.link_to('leaving a way to contact you', '/session/identify') }}.
        You may choose to skip this step if you would like.
      </p>
    {%- endcall %}
    {% set step_num = step_num + 1 %}
  {% endif %}
  
  {% call step(step_num, 'cruise_info', 'Cruise Information') -%}
    <table>
      <tr>
        <th><label for="identifier">ExpoCode or Cruise Name</label></th>
        <td>{{ whh.tags.text('identifier', h.form_entered(request, 'identifier')) }}</td>
        <td>{{ h.form_errors(request, 'identifier') }}</td>
      </tr>
      <tr>
        <th><label for="woce_line">WOCE Line (if known)</label></th>
        <td>{{ whh.tags.text('woce_line', h.form_entered(request, 'woce_line')) }}</td>
        <td>{{ h.form_errors(request, 'woce_line') }}</td>
      </tr>
      <tr>
        <th><label for="ship">Ship</label></th>
        <td>{{ whh.tags.text('ship', h.form_entered(request, 'ship')) }}</td>
        <td>{{ h.form_errors(request, 'ship') }}</td>
      </tr>
      <tr>
        <th><label for="cruise_dates">Cruise dates</label></th>
        <td>{{ whh.tags.text('cruise_dates', h.form_entered(request, 'cruise_dates'), type='date') }}</td>
        <td>{{ h.form_errors(request, 'cruise_dates') }}</td>
      </tr>
      <th><label for="notes">Notes</label></th>
      <td>{{ whh.tags.textarea('notes', h.form_entered(request, 'notes'), cols=35, rows=5) }}</td>
    </table>
  {%- endcall %}
  {% set step_num = step_num + 1 %}
  
  {% call step(step_num, 'submission_type', 'Type of Submission') -%}
    <h3>Status</h3>
    <table>
      <tr>
        <td>
          {%- set public = h.form_entered(request, 'public') %}
          {{ whh.tags.radio('public', 'public',
                            checked=(public == 'public')) }}
          <label for="public_public">Public</label>
          {{ whh.tags.radio('public', 'nonpublic',
                            checked=(public == 'nonpublic' or not public)) }}
          <label for="public_nonpublic">Non-Public</label>
          {{ whh.tags.radio('public', 'nonpublic_argo',
                            checked=(public == 'nonpublic_argo')) }}
          <label for="public_nonpublic_argo">Non-Public for Argo calibration</label>
        </td>
        <td>{{ h.form_errors(request, 'public') }}</td>
      </tr>
    </table>
    <h3>Action</h3>
    <table>
      <tr>
        <td>
          {{ whh.tags.checkbox('type_merge_data', checked=h.form_entered(request, 'type_merge_data')) }}
          <label for="type_merge_data">Merge Data</label>
          <span>{{ h.form_errors(request, 'type_merge_data') }}</span>
        </td>
      </tr>
      <tr>
        <td>
          {{ whh.tags.checkbox('type_place_online', checked=h.form_entered(request, 'type_place_online')) }}
          <label for="type_place_online">Place Data Online</label>
          <span>{{ h.form_errors(request, 'type_place_online') }}</span>
        </td>
      </tr>
      <tr>
        <td>
          {{ whh.tags.checkbox('type_update_params', checked=h.form_entered(request, 'type_update_params')) }}
          <label for="type_update_params">Update Parameters</label>
          <span>{{ h.form_errors(request, 'type_update_params') }}</span>
        </td>
      </tr>
    </table>
  {%- endcall %}
  {% set step_num = step_num + 1 %}
  
  {%- call step(step_num, 'files', 'Data/Documentation Files') %}
  {%- set files = h.form_entered(request, 'files') %}
  {%- if files %}
    <div id="file_reselect_warn">
      <p>
        For your protection, the files you previously selected cannot be
        automatically reselected. Otherwise malicious pages could upload
        arbitrary files from your computer. We apologize for the inconvenience.
      </p>
      <h3>Here are the files that you had selected: </h3>
      <ul>
      {%- for file in files %}
        <li>{{ file }}</li>
      {%- endfor %}
      </ul>
    </div>
  {%- else %}
    {%- if h.form_errors(request, 'files') %}
      <div id="file_reselect_warn">
        <p>
          Please select files to upload.
        </p>
        <p>{{ h.form_errors(request, 'files') }}</p>
      </div>
    {%- endif %}
  {%- endif %}
  <div id="files">
    <p>{{ whh.tags.file('files', multiple='multiple') }}</p>
  </div>
  {%- endcall %}
  {% set step_num = step_num + 1 %}

  {{ whh.tags.submit('Submit', 'Submit') }}
  
  <div id="guides">
    <h2>Guides</h2>
    <ul>
      <li><a href="/static/information/policies/CCHDO_DataSubmitGuide.pdf">Submission Guide</a></li>
      <li><a href="/argo_submission_info.html">Argo Submission Guide</a></li>
    </ul>
  </div>
  {%- endcall %}
{%- endblock %}
{% block js -%}
  {{ whh.tags.javascript_link('/static/js/jquery-1.4.4.min.js') }}
  <script>
    $(document).ready(function () {
      var files = $('#files');
      var remove_button = $('<input type="button" title="Remove" value="Remove">');
      var drop = files.find('p :file');
      var file_list = $('<ol></ol>').appendTo(files);

      function renumber() {
        file_list.find(':file').each(function (i, x) {
          $(this).attr('name', 'files[' + i + ']');
        });
      }

      function remove() {
        $(this).parent().hide('fast', function () {
          $(this).remove();
          renumber();
        });
      }

      function noop(e) {
        e.preventDefault();
        return false;
      }

      drop.one('change', function () {
        $('#file_reselect_warn').hide('fast');
      });

      drop.live('change', function () {
        if ($(this).val() == null || $(this).val() == '') {
          return;
        }

        var f = $(this);
        var p = f.parent();
        var c = f.clone();
        f.click(noop).get(0).addEventListener('drop', noop, false);
        file_list.append($('<li></li>').append(f).append(remove_button.clone().click(remove)).hide().show('fast'));
        p.append(c);
        renumber();
      });
    });
  </script>
{%- endblock %}
