{%- extends "templates/base.jinja2" %}
{%- block head %}
  {{ whh.tags.stylesheet_link('/static/css/static.css') }}
{%- endblock %}
{%- block title %}Submit{% endblock %}
{%- block content -%}
{%- call h.boxed('Submit', class="submit") -%}
  <div class="submit">
  <ul>
    {{ whh.HTML.li(whh.tags.link_to('Submit data', '/submit.html')) }}
  </ul>
  </div>
  <div id="seahunt" class="seahunt">
    <h2><a href="/seahunt.html">Seahunt</a></h2>
    <ul>
      {{ whh.HTML.li(whh.tags.link_to('Contributions', '/contributions.html')) }}
      {{ whh.HTML.li(whh.tags.link_to('Add a cruise', '/cruises/new.html')) }}
    </ul>
  </div>
{%- endcall %}
{%- endblock %}
