{% extends "templates/base.jinja2" %}
{%- block head %}
  {{ whh.tags.stylesheet_link('/static/css/submit.css') }}
{%- endblock %}
{% block title %}Data Submitted{% endblock %}
{%- block content -%}
{%- if submission %}
  {%- call h.boxed('Data submitted', class='submit-confirmation') %}
    <p>Thank you for submitting files, {{ submission.creation_person.name }}.</p>
    <p>
      You should receive a confirmation email from <strong>cchdo@ucsd.edu</strong> at 
      <strong>{{ submission.creation_person.email }}</strong> shortly.
    </p>

    <dl>
      <dt>{% trans count=file_names|length %}File{% pluralize %}Files{% endtrans %}</dt>
        <dd>{{ ', '.join(file_names) }}</dd>
      <dt>Status</dt>
        <dd>{{ submission|attr('public') }}</dd>
      {%- if submission|attr('action') %}
        <dt>Action</dt>
          <dd>{{ submission|attr('action') }}</dd>
      {%- endif %}
      {%- if submission|attr('expocode') %}
        <dt>Cruise Identifier</dt>
          <dd>{{ submission|attr('expocode') }}</dd>
      {%- endif %}
      {%- if submission|attr('line') %}
        <dt>Line</dt>
          <dd>{{ submission|attr('line') }} </dd>
      {%- endif %}
      {%- if submission|attr('cruise_date') %}
        <dt>Cruise Date</dt>
          <dd>{{ submission|attr('cruise_date') }}</dd>
      {%- endif %}
      {%- if submission|attr('institution') %}
        <dt>Institution</dt>
          <dd>{{ submission|attr('institution') }}</dd>
      {%- endif %}
      {%- if submission|attr('country') %}
        <dt>Country</dt>
          <dd>{{ submission|attr('country') }}</dd>
      {%- endif %}
      <dt>Timestamp</dt>
        <dd>{{ submission.creation_timestamp.strftime('%Y-%m-%d') }}</dd>
    </dl>
  {%- endcall %}
{%- else %}
  {%- call h.boxed('File submission error') %}
    <p>We apologize, the system encountered an error while processing your submission.</p>
    <p>Please email your submission directly to <a href="mailto:cchdo@ucsd.edu">cchdo@ucsd.edu</a>.</p>
  {%- endcall %}
{%- endif %}
{%- endblock %}
