{%- extends "base.jinja2" %}
{%- block head %}
  {{ whh.tags.stylesheet_link('/static/css/static.css') }}
{%- endblock %}
{%- block title %}Submit{% endblock %}
{%- block content -%}
{%- call h.boxed('Submit', class="submit") -%}
  <div class="submit">
  <ul>
    {{ whh.HTML.li(whh.tags.link_to('Submit data', '/submit.html')) }}
  </ul>
  </div>
{%- endcall %}
{%- endblock %}
