{% extends "base.jinja2" %}
{% block head -%}
  {{ whh.tags.stylesheet_link('/static/css/submit.css') }}
{%- endblock %}
{% block title %}Submit Data{% endblock %}
{% macro step(number, id='', text='') -%}
  <div id="{{ id }}">
    <h2 class="step-title">Step <em>{{number}}</em>: <span>{{text}}</span></h2>
    {{caller()}}
  </div>
{%- endmacro %}
{% block content_attrs %} class="submit-data"{% endblock %}
{% block content -%}
{% call h.boxed('Submit Data') -%}
  {{ whh.tags.form('', multipart=True) }}

  {% set step_num = 1 %}

    {% call step(step_num, 'contact_info', 'Contact Information') -%}
    <table>
      <tr>
        <th><label for="name">Name (required)</label></th>
        <td>{{ whh.tags.text('name', h.form_entered(request, 'name')) }}</td>
        <td>{{ h.form_errors(request, 'name') }}</td>
      </tr>
      <tr>
        <th><label for="email">Email (required)</label></th>
        <td>{{ whh.tags.text('email', h.form_entered(request, 'email')) }}</td>
        <td>{{ h.form_errors(request, 'email') }}</td>
      </tr>
      <tr>
        <th><label for="institution">Institution</label></th>
        <td>{{ whh.tags.text('institution', h.form_entered(request, 'institution')) }}</td>
        <td>{{ h.form_errors(request, 'institution') }}</td>
      </tr>
      <tr>
        <th><label for="country">Country</label></th>
        <td>{{ whh.tags.text('country', h.form_entered(request, 'country')) }}</td>
        <td>{{ h.form_errors(request, 'country') }}</td>
      </tr>
    </table>
    {%- endcall %}
    {% set step_num = step_num + 1 %}
  
  {% call step(step_num, 'cruise_info', 'Cruise Information') -%}
    <table>
      <tr>
        <th><label for="identifier">ExpoCode or Cruise Name</label></th>
        <td>{{ whh.tags.text('identifier', h.form_entered(request, 'identifier')) }}</td>
        <td>{{ h.form_errors(request, 'identifier') }}</td>
      </tr>
      <tr>
        <th><label for="woce_line">WOCE Line (if known)</label></th>
        <td>{{ whh.tags.text('woce_line', h.form_entered(request, 'woce_line')) }}</td>
        <td>{{ h.form_errors(request, 'woce_line') }}</td>
      </tr>
      <tr>
        <th><label for="ship">Ship</label></th>
        <td>{{ whh.tags.text('ship', h.form_entered(request, 'ship')) }}</td>
        <td>{{ h.form_errors(request, 'ship') }}</td>
      </tr>
      <!--
      <tr>
        <th><label for="cruise_dates">Cruise dates</label></th>
        <td>{{ whh.tags.text('cruise_dates', h.form_entered(request, 'cruise_dates'), type='date') }}</td>
        <td>{{ h.form_errors(request, 'cruise_dates') }}</td>
      </tr>
      -->
      <th><label for="notes">Notes</label></th>
      <td>{{ whh.tags.textarea('notes', h.form_entered(request, 'notes'), cols=35, rows=5) }}</td>
    </table>
  {%- endcall %}
  {% set step_num = step_num + 1 %}
  
  {% call step(step_num, 'submission_type', 'Type of Submission') -%}
    <h3>Status</h3>
    <table>
      <tr>
        <td>
          {%- set public = h.form_entered(request, 'public') %}
          {{ whh.tags.radio('public', 'public',
                            checked=(public == 'public')) }}
          <label for="public_public">Public</label>
          {{ whh.tags.radio('public', 'non_public',
                            checked=(public == 'non_public' or not public)) }}
          <label for="public_nonpublic">Non-Public</label>
          {{ whh.tags.radio('public', 'non_public_argo',
                            checked=(public == 'non_public_argo')) }}
          <label for="public_nonpublic_argo">Non-Public for Argo calibration</label>
        </td>
        <td>{{ h.form_errors(request, 'public') }}</td>
      </tr>
    </table>
    <h3>Action</h3>
    <table>
      <tr>
        <td>
          {{ whh.tags.checkbox('type_merge_data', checked=h.form_entered(request, 'type_merge_data')) }}
          <label for="type_merge_data">Merge Data</label>
          <span>{{ h.form_errors(request, 'type_merge_data') }}</span>
        </td>
      </tr>
      <tr>
        <td>
          {{ whh.tags.checkbox('type_place_online', checked=h.form_entered(request, 'type_place_online')) }}
          <label for="type_place_online">Place Data Online</label>
          <span>{{ h.form_errors(request, 'type_place_online') }}</span>
        </td>
      </tr>
      <tr>
        <td>
          {{ whh.tags.checkbox('type_update_params', checked=h.form_entered(request, 'type_update_params')) }}
          <label for="type_update_params">Update Parameters</label>
          <span>{{ h.form_errors(request, 'type_update_params') }}</span>
        </td>
      </tr>
    </table>
  {%- endcall %}
  {% set step_num = step_num + 1 %}
  
  {%- call step(step_num, 'dfiles', 'Data/Documentation Files') %}
  {%- set files = h.form_entered(request, 'files') %}
  {%- if files %}
    <div id="file_reselect_warn">
      <p>
        For your protection, the files you previously selected cannot be
        automatically reselected. Otherwise malicious pages could upload
        arbitrary files from your computer. We apologize for the inconvenience.
      </p>
      <h3>Here are the files that you had selected: </h3>
      <ul>
      {%- for file in files %}
        <li>{{ file }}</li>
      {%- endfor %}
      </ul>
    </div>
  {%- else %}
    {%- if h.form_errors(request, 'files') %}
      <div id="file_reselect_warn">
        <p>
          Please select files to upload.
        </p>
        <p>{{ h.form_errors(request, 'files') }}</p>
      </div>
    {%- endif %}
  {%- endif %}
  <div id="files">
    <p>Multiple files may be selected.</p>
    <p>{{ whh.tags.file('files', multiple='multiple') }}</p>
  </div>
  {%- endcall %}
  {% set step_num = step_num + 1 %}

  {{ whh.tags.submit('Submit', 'Submit') }}
  
  <div id="guides">
    <h2>Guides</h2>
    <ul>
      <li><a href="/static/information/policies/CCHDO_DataSubmitGuide.pdf">Submission Guide</a></li>
      <li><a href="/argo_submission_info.html">Argo Submission Guide</a></li>
    </ul>
  </div>
  {%- endcall %}
{%- endblock %}
{% block js -%}
  {{ whh.tags.javascript_link('/static/js/submit.js') }}
{%- endblock %}
