{% extends "templates/base.jinja2" %}
{% block title %}Tools{% endblock %}
{% block content -%}
{% call h.boxed('Tools') -%}
  <p>{{ whh.HTML.li(whh.tags.link_to('Data Compare', '/tool/data_cmp.html')) }}</p>
  <p>{{ whh.HTML.li(whh.tags.link_to('Visual', '/tool/visual.html')) }}</p>
  <p>{{ whh.HTML.li(whh.tags.link_to('Convert', '/tool/convert.html')) }}</p>
{%- endcall %}
{%- endblock %}
