{% extends "templates/base.jinja2" %}
{%- block subtitle %} | USHYDRO{%- endblock %}
{%- block subhead %}
{{ whh.tags.stylesheet_link('/static/css/ushydro.css') }}
{%- endblock %}
{%- block subcontent %}
<div id="menu_ushydro">
  <p><a href="http://ushydro.ucsd.edu"><img src="http://ushydro.ucsd.edu/images/ushydro_logo.png" alt="US Repeat Hydrography logo"></a></p>
  <div id="menu">
    <ul class="nav"> 
      <li><h1><a href="http://ushydro.ucsd.edu/home.htm">Home</a></h1></li>
      <li><h1><a href="#">General Info</a></h1>
        <ul>
          <li><a href="http://ushydro.ucsd.edu/history_justification.htm">History &amp; Justification</a></li>
          <li><a href="http://ushydro.ucsd.edu/objectives.htm">Objectives</a></li>
          <li><a href="http://ushydro.ucsd.edu/members.htm">Oversight Committee</a></li>
        </ul>
      </li>
      <li><h1><a href="#">Observational Prog</a></h1>
        <ul>
          <li><a href="http://ushydro.ucsd.edu/cruises.htm">Cruise Schedule/Map</a></li>
          <li><a href="http://ushydro.ucsd.edu/core_measurements.htm" style="margin-right:-30px;">Measurements &raquo;</a>
            <ul>
              <li><a href="http://ushydro.ucsd.edu/table_measurements_levi">Level I Measurements</a></li>
              <li><a href="http://ushydro.ucsd.edu/table_measurements_levii">Level II Measurements</a></li>
              <li><a href="http://ushydro.ucsd.edu/table_measurements_leviii">Level III Measurements</a></li>
            </ul>
          </li>
          <li><a href="http://ushydro.ucsd.edu/data_policy.htm">Data Policy</a></li>
        </ul>
      </li>
      <li><h1><a href="#">Data Sets</a></h1>
        <ul>
          <li><a href="http://ushydro.ucsd.edu/data_centers.htm">Data Centers</a></li>
          <li><a href="http://ushydro.ucsd.edu/cruise_data_links.htm">Cruise Data Links</a></li>
        </ul>
      </li>
      <li><h1><a href="#">Links</a></h1>
        <ul class="links">
          <li><a href="http://cchdo.ucsd.edu/">CCHDO</a></li>
          <li><a href="http://www.carboncyclescience.gov/">US Carbon Cycle Science Program</a></li>
          <li><a href="http://www.usclivar.org/">US CLIVAR</a></li>
          <li><a href="http://ushydro.ucsd.edu/links.htm">Other Links</a></li>
        </ul>  
      </li>
      <li><h1><a href="http://ushydro.ucsd.edu/contacts.htm">Participation</a></h1></li>  
      <li><h1><a href="http://ushydro.ucsd.edu/outreach.htm">Outreach</a></h1></li>  
    </ul>
  </div>
</div>
{%- endblock %}
