{% extends "base.jinja2" %}
{%- block subtitle %} | USHYDRO{%- endblock %}
{%- block subhead %}
{{ whh.tags.stylesheet_link('/static/css/ushydro.css') }}
{%- endblock %}
{%- block subcontent %}
<div class="collection-specific-banner">
  <div class="from">
    <p>
      <a href="//ushydro.ucsd.edu"><img
        src="//ushydro.ucsd.edu/static/img/ushydro_logo.png" alt="US Repeat
        Hydrography logo"></a>
    </p>
  </div>
  <div class="to">
    <p>
      This data is provided in collaboration with 
      <a href="//ushydro.ucsd.edu">U. S. Repeat Hydrography</a>.
    </p>
  </div>
</div>
{%- endblock %}
