<h1>Webtools</h1>
<ul> 
  <li><a href="/btlcmp">Bottle Comparer</a></li>
  <li><a href="/visual">Visual Tool</a></li>    
  <li><a href="/staff/tools/visual?autoopen=%2Fdata%2Fco2clivar%2Fpacific%2Faaiw%2Faaiw_316N20060130%2Faaiw06_316N20060130_hy1.csv">Visual AAIW 06</a></li>    
  <li><a href="/convert">Convert</a></li>
</ul> 
