DEPRECATED
<!--
<table class="cruise_basic_info">
<tr><td>Line</td><td><%= h(cruise.Line) %></td></tr>
<% unless cruise.Alias.blank? %><tr><td>Aliases</td><td><%= h(cruise.Alias) %></td></tr><% end %>
<tr><td>Ship</td><td><%= h(cruise.Ship_Name) %></td></tr>
<tr><td>Country</td><td><%= h(cruise.Country) %></td></tr>
<tr><td>PI</td><td><%= h(cruise.Chief_Scientist) %></td></tr>
<tr><td>Cruise Begin Date</td><td><%= h(cruise.Begin_Date) %></td></tr>
</table>-->
