DEPRECATED
<!--
<% if file_hash['small_pic'] and file_hash['big_pic'] %>
   <a class="map_link" href="<%= file_hash['big_pic'] %>" onClick="return popup(this, '<%= cruise.Line %>')"><img src="<%= file_hash['small_pic'] %>"></a><br />
<% end %>-->
