{%- extends '/static/static.jinja2' %}
{%- block title %}ExpoCode conventions{%- endblock %}
{%- block content %}
  {%- call h.boxed('ExpoCode conventions') %}
    <p>ExpoCodes created after January 2006 will have the following format:</p>

    <p>NODCShipCodeYearMonthDay</p>

    <h2>Example derivation</h2>
    <table>
      <tr><th>Ship Name</th><td>Roger Revelle (<a href="http://www.nodc.noaa.gov/General/NODC-Archive/platformlist.txt">NODC Ship Code</a>: 33RR)</td>
      <tr><th>Cruise start date</th><td>March 29, 2009 (2009-03-29)</td>
      <tr><th>ExpoCode</th><td>33RR20090329</td>
    </table>

    <p>
      ExpoCodes created before January 2006 will keep their established name,
      but will also be discoverable by the newer style ExpoCode.
    </p>

    {{ questions_for_steve() }}
  {%- endcall %}
{%- endblock %}
