<p>
ExpoCode Conventions
</p>
<hr />
<pre class="fixed">
<font face="Courier New, Courier">

<b>ExpoCodes created after January 2006 will have the following format:</b><br>
ExpoCode Syntax: NODCShipCodeYearMonthDay
Example: Line - pr40
         Ship Name - Roger Revelle
         ExpoCode - 33RR20090329
         Cruise date March 29, 2009
<br>
<b>ExpoCodes created before January 2006 will keep their established name,
but will also be discoverable by the newer style ExpoCode.</b>
</font>
</pre>

<hr size="1">
<br><br>
Questions/Comments: <a href="mailto:sdiggs(at)ucsd.edu">Steve Diggs</a> &#149; 858-534-1108<br><br>
