<table>
	<tr><td>ccl4</td><td></td></tr>
	<tr><td>cfc-11</td><td></td></tr>
	<tr><td>cfc-12</td><td></td></tr>
	<tr><td>cfc113</td><td></td></tr>
	<tr><td>ctdprs</td><td></td></tr>
	<tr><td>ctdsal</td><td></td></tr>
	<tr><td>ctdtmp</td><td></td></tr>
	<tr><td>delc14</td><td></td></tr>
	<tr><td>delc14lv</td><td></td></tr>
	<tr><td>helium</td><td></td></tr>
	<tr><td>no2+no3</td><td></td></tr>
	<tr><td>oxygen</td><td></td></tr>
	<tr><td>phspht</td><td></td></tr>
	<tr><td>salnty</td><td></td></tr>
	<tr><td>silcat</td><td></td></tr>
	<tr><td>theta</td><td></td></tr>
	<tr><td>tritum</td><td></td></tr>
	<tr><td>alkali</td><td></td></tr>
	<tr><td>ctdraw</td><td></td></tr>
	<tr><td>nitrat</td><td></td></tr>
	<tr><td>nitrit</td><td></td></tr>
	<tr><td>pco2</td><td></td></tr>
	<tr><td>revtmp</td><td></td></tr>
	<tr><td>tcarbn</td><td></td></tr>
	<tr><td>tracers</td><td></td></tr>
	<tr><td>ctdoxy</td><td></td></tr>
	<tr><td>delhe3</td><td></td></tr>
	<tr><td>mchfrm</td><td></td></tr>
	<tr><td>o18_o16</td><td></td></tr>
	<tr><td>delc14lvs</td><td></td></tr>
	<tr><td>lvs</td><td></td></tr>
	<tr><td>press</td><td></td></tr>
	<tr><td>co2</td><td></td></tr>
	<tr><td>revprs</td><td></td></tr>
	<tr><td>delc13</td><td></td></tr>
	<tr><td>ph</td><td></td></tr>
	<tr><td>argon</td><td></td></tr>
	<tr><td>azote</td><td></td></tr>
	<tr><td>ch4</td><td></td></tr>
	<tr><td>chla</td><td></td></tr>
	<tr><td>fco2</td><td></td></tr>
	<tr><td>oxynit</td><td></td></tr>
	<tr><td>pphytn</td><td></td></tr>
	<tr><td>methan</td><td></td></tr>
	<tr><td>phaeo</td><td></td></tr>
	<tr><td>eqtmp</td><td></td></tr>
	<tr><td>neon</td><td></td></tr>
	<tr><td>pco2tmp</td><td></td></tr>
	<tr><td>somma#</td><td></td></tr>
	<tr><td>tco2</td><td></td></tr>
	<tr><td>iodate</td><td></td></tr>
	<tr><td>iodide</td><td></td></tr>
	<tr><td>amonium</td><td></td></tr>
	<tr><td>helium_shallow</td><td></td></tr>
	<tr><td>kr-85</td><td></td></tr>
	<tr><td>ra-226</td><td></td></tr>
	<tr><td>ra-228</td><td></td></tr>
	<tr><td>cfcs</td><td></td></tr>
	<tr><td>ar-39</td><td></td></tr>
	<tr><td>doc</td><td></td></tr>
	<tr><td>arab</td><td></td></tr>
	<tr><td>bact</td><td></td></tr>
	<tr><td>brdu</td><td></td></tr>
	<tr><td>dcns</td><td></td></tr>
	<tr><td>fuc</td><td></td></tr>
	<tr><td>gal</td><td></td></tr>
	<tr><td>glu</td><td></td></tr>
	<tr><td>man</td><td></td></tr>
	<tr><td>rham</td><td></td></tr>
	<tr><td>sigma0</td><td></td></tr>
	<tr><td>peuk</td><td></td></tr>
	<tr><td>pro</td><td></td></tr>
	<tr><td>syn</td><td></td></tr>
	<tr><td>btlnbr</td><td></td></tr>
	<tr><td>chlora</td><td></td></tr>
	<tr><td>nuts</td><td></td></tr>
	<tr><td>btl</td><td></td></tr>
	<tr><td>qualt1</td><td></td></tr>
	<tr><td>sum</td><td></td></tr>
	<tr><td>castno</td><td></td></tr>
	<tr><td>sampno</td><td></td></tr>
	<tr><td>stnnbr</td><td></td></tr>
	<tr><td>ctd</td><td></td></tr>
	<tr><td>halocarbon-anytype</td><td></td></tr>
	<tr><td>iod-129</td><td></td></tr>
	<tr><td>aou</td><td></td></tr>
	<tr><td>dic</td><td></td></tr>
	<tr><td>oxytmp</td><td></td></tr>
	<tr><td>ctd_btl</td><td></td></tr>
	<tr><td>he_tr</td><td></td></tr>
	<tr><td>barium</td><td></td></tr>
	<tr><td>helium_deep</td><td></td></tr>
	<tr><td>tritum_deep</td><td></td></tr>
	<tr><td>tritum_shallow</td><td></td></tr>
	<tr><td>c14</td><td></td></tr>
	<tr><td>delhe3_deep</td><td></td></tr>
	<tr><td>thorium</td><td></td></tr>
	<tr><td>nh4</td><td></td></tr>
	<tr><td>calcium</td><td></td></tr>
	<tr><td>cu</td><td></td></tr>
	<tr><td>ni</td><td></td></tr>
	<tr><td>sf6</td><td></td></tr>
	<tr><td>sigo</td><td></td></tr>
	<tr><td>sigma_0</td><td></td></tr>
	<tr><td>dwnoxy</td><td></td></tr>
	<tr><td>dwnprs</td><td></td></tr>
	<tr><td>nraunc</td><td></td></tr>
	<tr><td>nriunc</td><td></td></tr>
	<tr><td>phpunc</td><td></td></tr>
	<tr><td>sbe35</td><td></td></tr>
	<tr><td>silunc</td><td></td></tr>
	<tr><td>delhe4</td><td></td></tr>
	<tr><td>tco2_alk_he_tr_c14</td><td></td></tr>
	<tr><td>delhe3_shallow</td><td></td></tr>
	<tr><td>delc14_ams</td><td></td></tr>
	<tr><td>delc14ams</td><td></td></tr>
	<tr><td>pco2_20</td><td></td></tr>
	<tr><td>phtemp(um)</td><td></td></tr>
	<tr><td>ph_(um)</td><td></td></tr>
	<tr><td>ph_(usf)</td><td></td></tr>
	<tr><td>ph_temp(usf)</td><td></td></tr>
	<tr><td>sig10</td><td></td></tr>
	<tr><td>n2o</td><td></td></tr>
	<tr><td>phtemp</td><td></td></tr>
	<tr><td>dms</td><td></td></tr>
	<tr><td>biosilc</td><td></td></tr>
	<tr><td>TRITER</td><td></td></tr>
	<tr><td>HELIER</td><td></td></tr>
	<tr><td>DELHER</td><td></td></tr>
	<tr><td>C14ERR</td><td></td></tr>
	<tr><td>QUALT2</td><td></td></tr>
	<tr><td>BEDFORT</td><td></td></tr>
	<tr><td>BIO</td><td></td></tr>
	<tr><td>BID</td><td></td></tr>
	<tr><td>NEONER</td><td></td></tr>
	<tr><td>CFC-113</td><td></td></tr>
	<tr><td>O18/O16</td><td></td></tr>
	<tr><td>CF12ER</td><td></td></tr>
	<tr><td>C13ERR</td><td></td></tr>
	<tr><td>OXYGN2</td><td></td></tr>
	<tr><td>STHETA</td><td></td></tr>
	<tr><td>FCO220C</td><td></td></tr>
	<tr><td>FCO2IN</td><td></td></tr>
	<tr><td>TOC</td><td></td></tr>
	<tr><td>TON</td><td></td></tr>
	<tr><td>PO4</td><td></td></tr>
	<tr><td>SIO2</td><td></td></tr>
	<tr><td>NO3+NO2</td><td></td></tr>
	<tr><td>NO2</td><td></td></tr>
	<tr><td>CFC11</td><td></td></tr>
	<tr><td>CFC12</td><td></td></tr>
	<tr><td>AMONIO</td><td></td></tr>
	<tr><td>PH15</td><td></td></tr>
	<tr><td>CCL-4</td><td></td></tr>
	<tr><td>N02+N03</td><td></td></tr>
	<tr><td>BLANK</td><td></td></tr>
	<tr><td>-9.0</td><td></td></tr>
	<tr><td>=</td><td></td></tr>
	<tr><td>NULL</td><td></td></tr>
	<tr><td>VALUE</td><td></td></tr>
	<tr><td>CASTNO.</td><td></td></tr>
	<tr><td>PH/NBS</td><td></td></tr>
	<tr><td>PH/NB25</td><td></td></tr>
	<tr><td>2:09:00-34</td><td></td></tr>
	<tr><td>10.39</td><td></td></tr>
	<tr><td>114</td><td></td></tr>
	<tr><td>44.93</td><td></td></tr>
	<tr><td>NO3&NO2</td><td></td></tr>
	<tr><td>QUALIT1</td><td></td></tr>
	<tr><td>NO3NO2</td><td></td></tr>
	<tr><td>Lat:</td><td></td></tr>
	<tr><td>32.494S</td><td></td></tr>
	<tr><td>Lon:</td><td></td></tr>
	<tr><td>178.907W</td><td></td></tr>
	<tr><td>32</td><td></td></tr>
	<tr><td>30.1</td><td></td></tr>
	<tr><td>S</td><td></td></tr>
	<tr><td>178</td><td></td></tr>
	<tr><td>53.6</td><td></td></tr>
	<tr><td>W</td><td></td></tr>
	<tr><td>02/01/1991</td><td></td></tr>
	<tr><td>05/03/1991</td><td></td></tr>
	<tr><td>PACIFIC</td><td></td></tr>
	<tr><td>OCEAN</td><td></td></tr>
	<tr><td>CTDOXG</td><td></td></tr>
	<tr><td>SIG01</td><td></td></tr>
	<tr><td>TALK</td><td></td></tr>
	<tr><td>SIG0</td><td></td></tr>
	<tr><td>SMPLNBR</td><td></td></tr>
	</table>
