{%- extends 'templates/static/static.jinja2' %}
{%- block title %}How to Obtain the PGP Software{%- endblock %}
{%- block content %}
  {%- call h.boxed('How to Obtain the PGP Software', class='pgp') %}
    <h2><a href="http://web.mit.edu/network/pgp.html">U.S. and Canadian users</a></h2>
    <p>Obtain public domain versions of PGP for the United States and Canada.</p>

    <h2><a href="http://www.pgpi.org">Non-U.S. users</a></h2>
    <p>Information on how to obtain PGP's international versions.</p>

    <h2>How to Use PGP</h2>
    <p>
      The PGP is relatively simple to use, especially on the WHPO data files.
      Each one of our datafiles has been "ASCII-Armor" encrypted, meaning that
      the files are encryted into the ASCII character set in order to easily
      transmit them over email or through your internet browser. 
    </p>

    <p>
      Once you obtain the PGP software for your computer, you simply decrypt
      the file and wait for the "Key" or "Password" prompt from PGP. 
    </p>

    <p>
      Under UNIX:
    </p>

    <p>
      (<i>Using the line P01W encrypted CTD file</i>) 
    </p>

    <pre>$ pgp p01wct.asc</pre>

    <p>(<em>typed at the command line</em>)</p>
    <p>(<em>you should see the following response</em>)</p>

    <pre>
    Pretty Good Privacy(tm) 2.6.2 - Public-key encryption for the masses. (c) 1990-1994 Philip Zimmermann, Phil's Pretty Good Software. 11 Oct 94
    Uses the RSAREF(tm) Toolkit, which is copyright RSA Data Security, Inc.
    Distributed by the Massachusetts Institute of Technology.
    Export of this software may be restricted by the U.S. government.
    Current time: 1998/02/07 18:23 GMT


    File is conventionally encrypted.
    You need a pass phrase to decrypt this file.
    Enter pass phrase:</pre>
    
    <p>(<i>Enter the key/pass phrase here obtained from WHPO</i>)</p>

    <p>
      PGP will decrypt the file, if the proper key/pass phrase is given and
      retain the original copy of the file. For the bottle files, you will get
      a single, ASCII/plain-text file, and with CTD files, you will receive a
      DOS-style ZIP archive file to be expanded into individual files using
      UNZIP or PKUNZIP.
    </p>

    {{ questions_for_steve() }}
  {%- endcall %}
{%- endblock %}
