{%- extends '/static/static.jinja2' %}
{%- block title %}File Name Conventions for post-WOCE cruise{%- endblock %}
{%- block content %}
  {% call h.boxed('File Name Conventions for post-WOCE cruises', class='file-name-conv') -%}
    <p>
      Post-WOCE cruise filenames use 
      <a href="/policies/expocode.html">ExpoCodes</a> to identify the cruise.
    </p>

    <p>
      This is different from 
      <a href="/policies/woce_name.html">WOCE cruise filename conventions</a>
      where files are formatted as 8.3 file names.
    </p>

    <h2>Individual Files:</h2>
    <table>
      <tr><th>Exchange Bottle</th><td>pr40_33RR20090329_hy1.csv</td></tr>
      <tr><th>Exchange CTD</th><td>pr40_Station_Cast_ct1.csv</td></tr>
    </table>
    <table>
      <tr><th>NetCDF Bottle</th><td>pr40_Station_Cast_hy1.nc</td></tr>
      <tr><th>NetCDF CTD</th><td>pr40_Station_Cast_ctd.nc</td></tr>
    </table>

    <h2>Zip Archives:</h2>
    <table>
      <tr><th>Exchange CTD</th><td>pr40_33RR20090329_ct1.zip</td></tr>
    </table>
    <table>
      <tr><th>NetCDF Bottle</th><td>pr40_33RR20090329_nc_hyd.zip</td></tr>
      <tr><th>NetCDF CTD</th><td>pr40_33RR20090329_nc_ctd.zip</td></tr>
    </table>

    <h2>Document Files:</h2>
    <table>
      <tr><th>Text</th><td>pr40_33RR20090329do.txt</td></tr>
      <tr><th>PDF</th><td>pr40_33RR20090329do.pdf</td></tr>
    </table>

    {{ questions_for_steve() }}
  {%- endcall %}
{%- endblock %}
