{% extends "templates/base.jinja2" %}
{% block title %}Institutions{% endblock %}
{% block content -%}
  {% call h.boxed('Institutions') -%}
    <ul>
    {%- for institution in institutions %}
      <li>{{ whh.tags.link_to(institution.name, '/institution/%s' % institution.id) }}</li>
    {%- endfor %}
    </ul>
  {%- endcall %}
{%- endblock %}
