<div class="boxed">
<h1>Atlantic Cruises</h1>
<div class='box_content'>
<h2>Maps</h2>
<ul>
  <li><a href="maps/atl_map.html">Entire Atlantic</a></li>
  <li><a href="maps/atl_north.html">North Atlantic</a></li>
  <li><a href="maps/atl_central.html">Central Atlantic</a></li>
  <li><a href="maps/atl_south.html">South Atlantic</a></li>
</ul>

<h2><strong>Tables</strong> - Grouped by WOCE-era designation</h2>

<h3><a href='/search?query=Group:"Atlantic Onetime"'>Atlantic WHP Onetime</a></h3>
<!-- <a href="/search?query=a01">A01</a> |  S. Diggs: 2008.01.29-->
<a href='/search?query=Group:"Extended_A1"'>A01</a> |
<a href="/search?query=Group:a02">A02</a> |
<a href="/search?query=Group:a03">A03</a> |
<a href="/search?query=Group:a05">A05</a> |
<a href="/search?query=Group:a06">A06</a> |
<a href="/search?query=Group:a07">A07</a> |
<a href="/search?query=Group:a08">A08</a> |
<a href="/search?query=Group:a09">A09</a> |
<a href="/search?query=Group:a10">A10</a> |
<a href="/search?query=Group:a11">A11</a> |
<!-- <a href="onetime/atlantic/a12/index.html">A12_old</a> | -->
<a href="/search?query=Group:a12">A12</a> 
<br />
<a href="/search?query=Group:a13">A13</a> |
<a href="/search?query=Group:a14">A14</a> |
<a href="/search?query=Group:a15">A15</a> |
<a href="/search?query=Group:a16">A16</a> |
<a href="/search?query=Group:a17">A17</a> |
<a href="/search?query=Group:a20">A20</a> |
<a href="/search?query=Group:a21">A21</a> |
<a href="/search?query=Group:a22">A22</a> |
<a href="/search?query=Group:a23">A23</a> |
<a href="/search?query=Group:a24">A24</a> |
<a href="/search?query=Group:a25">A25</a> 
<br />
<a href="/search?query=Group:anas">ANAS</a> | 
<a href="/search?query=Group:atas">ATAS</a>

<h3><a href='/search?query=Group:"Atlantic Repeat"'>Atlantic WHP Repeat</a></h3>
<a href="/search?query=Group:ar01">AR01</a> |
<a href="/search?query=Group:ar02">AR02</a> |
<a href="/search?query=Group:ar03">AR03</a> |
<a href="/search?query=Group:ar04">AR04</a> |
<a href="/search?query=Group:ar05">AR05</a> |
<a href="/search?query=Group:ar06">AR06</a> |
<a href="/search?query=Group:ar07">AR07</a> |
<a href="/search?query=Group:ar08">AR08</a> |
<a href="/search?query=Group:ar09">AR09</a> 
<br />
<a href="/search?query=Group:ar10">AR10</a> |
<a href="/search?query=Group:ar11">AR11</a> |
<a href="/search?query=Group:ar12">AR12</a> |
<a href="/search?query=Group:ar13">AR13</a> |
<a href="/search?query=Group:ar15">AR15</a> |
<a href="/search?query=Group:ar16">AR16</a> |
<a href="/search?query=Group:ar18">AR18</a> |
<a href="/search?query=Group:ar19">AR19</a> |
<a href="/search?query=Group:ar20">AR20</a> 
<br />
<a href="/search?query=Group:ar21">AR21</a> |
<a href="/search?query=Group:ar22">AR22</a> |
<a href="/search?query=Group:ar24">AR24</a> |
<a href="/search?query=Group:ar25">AR25</a> |
<a href="/search?query=Group:ar26">AR26</a> |
<a href="/search?query=Group:ar27">AR27</a> |
<a href="/search?query=Group:ar28">AR28</a>

<h3><a href="maps/metermap.html">Atlantic Current Meter Associated WOCE Data</a></h3>
<a href="/search?query=Group:a05">ACM01</a> |
<a href="/search?query=Group:ar15">ACM03</a> |
<a href="/search?query=Group:ar09">ACM04</a> |
<a href="/search?query=Group:ar19">ACM06</a> |
<a href="/search?query=Group:ar04">ACM07</a> |
<a href="/search?query=Group:ar25">ACM08</a> |
ACM09
<br />
<a href="/search?query=Group:ar04">ACM10</a> |
<a href="/search?query=Group:ar15">ACM11</a> |
<a href="/search?query=Group:ar15">ACM12</a> |
<a href="/search?query=Group:ar15">ACM13</a> |
<a href="/search?query=Group:ar15">ACM24</a> |
<a href="/search?query=Group:ar11">ACM25</a> |
<a href="/search?query=Group:ar16">ACM26</a>
<br />
<a href="/search?query=Group:ar11">ACM27</a> |
<a href="/search?query=Group:ar15">ACM28</a> |
<a href="/search?query=Group:ar07">ACM29</a>
</div>
</div>
<div class='box_bottom'></div>
</div>
