<div class='boxed'>
<h1>Contact</h1>
<div class='box_content'>
<h2>CLIVAR and Carbon Hydrographic Data Office</h2>
<address>
UCSD/SIO<br />
9500 Gilman Drive 0214<br />
La Jolla, CA 92093-0214<br />
</address>
<br />
Telephone: 858-822-1770<br />
Fax: 858-534-7383<br />
E-mail: <a href="mailto: cchdo-remove-me-or-your-message-is+spam@ucsd.edu">cchdo<em class="copythis"> would like nospam://void@no.where.com </em>@ucsd.edu</a>
<p>(This email address will reach all senior CCHDO staff)</p>

<h2>Staff</h2>
<table>
<tr>
  <td>
    <h3>Director</h3>
    <address>
    Dr. James H. Swift<br />
    Isaacs Hall (NORPAX), Room 305<br />
    858-534-3387<br />
    <a href="mailto:jswift-remove-me-or-your-message-is+spam@ucsd.edu">jswift<em class="copythis"> would like nospam://void@no.where.com </em>@ucsd.edu</a>
    </address>
    <h3>Publications and Administration</h3>
    <address>
    Mr. Jerry L. Kappa<br />
    Isaacs Hall (NORPAX), Room 316<br />
    858-822-1770<br />
    <a href="mailto:jkappa-remove-me-or-your-message-is+spam@ucsd.edu">jkappa<em class="copythis"> would like nospam://void@no.where.com </em>@ucsd.edu</a>
    </address>
    <h3>Database and Systems Administration</h3>
    <address>
    Mr. Justin C. Fields<br />
    Isaacs Hall (NORPAX), Room 318<br />
    858-534-1900<br />
    <a href="mailto:jfields-remove-me-or-your-message-is+spam@ucsd.edu">jfields<em class="copythis"> would like nospam://void@no.where.com </em>@ucsd.edu</a>
    </address>
  </td>
  <td style='padding-left: 2em; vertical-align: top;'>
    <h3>Data Manager</h3>
    <address>
    Mr. Stephen C. Diggs<br />
    Isaacs Hall (NORPAX), Room 306<br />
    858-534-1108<br />
    <a href="mailto:sdiggs-remove-me-or-your-message-is+spam@ucsd.edu">sdiggs<em class="copythis"> would like nospam://void@no.where.com </em>@ucsd.edu</a>
    </address>
    <h3>Data Analysis</h3>
    <address>
    Mrs. Danie B. Kinkade<br />
    <a href="mailto:danie-remove-me-or-your-message-is+spam@ucsd.edu">danie<em class="copythis"> would like nospam://void@no.where.com </em>@ucsd.edu</a>
    </address>
  </td>
</tr>
</table>

</div>
<div class='box_bottom'></div>
</div>
