<h1>Guide to the CCHDO Website</h1>

<table border="0" width="100%" cellspacing="10">
	<tr>
		<td valign="top">The CCHDO website provides several tools for accessing data and data descriptions.<br><br>  
			
			<strong>Data by Ocean</strong><br>
			To view cruise listings for an entire ocean, mouse over "DATA BY OCEAN" (Figure 1) and click on the desired region (Figure 2). Proceed to click on a line number and a results page will come up with pertinent cruise and parameter information. Clicking on a line number in these results pages will display links to the Data History, available Data Files, a map of the cruise and more information about the chief scientist(s).<br><br>
			
			<strong>Search Data</strong><br>
			Many methods are available to search for data. The primary mode of searching is using the search field just below the main menu on each page (Figure 3). This is the natural language search. You can enter any number of terms, but they should describe one of the following:
			<ul><li>Country</li>

				<li>Ship</li>
				<li>Chief Scientist</li>
				<li>Year of Cruise</li>
				<li>Name or Line Number</li>
				<li>Parameters collected (See <a href="/parameter_descriptions/" target="_blank">Parameters Descriptions</a>)</li>

				<li>ExpoCode (See <a href="policies.html" target="_blank">ExpoCode Descriptions</a>)</li>
			</ul>
			
			Enter the term(s) in the search field and press "Return"/"Enter" or click on the white arrow. Search results will display in a table with cruise information and links to the Data History, Data Files, a map of the cruise (if available), and the PI's contact information and associated cruises (if available).<br><br> 
			
			The other methods are accessed by mousing over "SEARCH DATA."<br><br> 
			
			The <em>Advanced Search</em> page (Figure 4) allows you to specify what type of cruise information you would like your queries to match (line number, ExpoCode, Data Contact (the PI), ship, country, and cruise dates). As you enter words in the search fields, an autosuggest drop-down list appears for your convenience. When you finish inputting the desired search inquiry, click on "Find Cruises." This page also conducts searches for files by file types and modification date. Choose the appropriate file type and date and click on "Find Files."<br><br>

			
			The <em>Bulk Download</em> page is useful to search and download multiple files at once.  Click the boxes left of the appropriate files to add them to your "cart" - the table beneath "Files to Archive and Download" (Figure 5). When you have finished making your selections, click on "Download Files." <br><br>
			
			The <em>Cruise Maps</em> page brings up an interactive map.  Enter your inquiry on the top left search field by cruise year, country, ship, chief scientist, line, parameters, or ExpoCode and click on "Search."  Mousing over a line number will turn the corresponding cruise track green (Figure 6).<br><br>
			
			<strong>Submit Data</strong><br>
			If you would like to submit data, fill in all the fields to the best of your abilities - all the fields in the "Contact Information" table must be filled in. Once you finish entering the information, click "Save changes."<br><br>

			
			<strong>Contact</strong><br>
		    This page lists the different ways to contact those that oversee the maintenance and accuracy of this site.<br><br>
		
		  	<strong>Info</strong><br>
			The <em>Manuals</em> page offers a resource on the requirements for data reporting and WOCE Operations.<br><br>
			
			The <em>Policies</em> page describes the protocols and management of data.<br><br>

			
			The <em>Format</em> page defines how data is formatted and provides the appropriate examples.<br><br>
		</td>
		<td valign="top">
		<div class="figures">
		<img src="images/guide_databyocean1.jpg" alt="Searching data by ocean" border="0">
		<small><strong>Figure 1</strong>: Mousing over "DATA BY OCEAN"</small></div><br>

		
		<div class="figures">	
		<img src="images/guide_databyocean2.jpg" alt="Searching data by ocean" border="0">
		<small><strong>Figure 2</strong>: Selecting an ocean to search for data in that region</small></div><br>
		
		<div class="figures">
		<img src="images/guide_search.jpg" alt="Primary way to search" border="0">
		<small><strong>Figure 3</strong>: A convenient search bar on every page</small></div><br>

		<div class="figures">

		<img src="images/guide_advancedsearch.jpg" alt="Advanced Search" border="0">
		<small><strong>Figure 4</strong>: Doing an advanced search</small></div><br>
		
		<div class="figures">
		<img src="images/guide_bulkdownload.jpg" alt="Bulk Search" border="0">
		<small><strong>Figure 5</strong>: Selecting files in the Bulk Search method</small></div><br>
				
		<div class="figures">
		<img src="images/guide_cruisemaps.jpg" alt="Cruise Maps" border="0">

		<small><strong>Figure 6</strong>: Mousing over a line number to see the corresponding track on the map</small></div><br>
		</td>
	</tr>
</table>
