<div class='boxed'>
  <h1>Web Tools</h1>
  <div class='box_content'>
    <ul>
      <li><%= link_to 'Bottle Comparer', :controller => 'btlcmp' -%></li>
      <li><%= link_to 'Visual Tool', :controller => 'visual' -%></li>
      <li><%= link_to 'Convert', :controller => 'convert' -%></li>
    </ul>
  </div>
  <div class='box_bottom'></div>
</div>
