<div class='boxed'>
  <h1>Web Tools</h1>
  <div class='box_content'>
    <ul style="line-height: 1.5em">
      <li><%= link_to 'Bottle Comparer', :controller => 'btlcmp' -%></li>
      <li><%= link_to 'Visual Tool', :controller => 'visual' -%></li>
      <li><%= link_to 'Visual AAIW 06', :controller => 'visual', :autoopen => '/data/co2clivar/pacific/aaiw/aaiw_316N20060130/aaiw06_316N20060130_hy1.csv' -%></li>
    </ul>
  </div>
  <div class='box_bottom'></div>
</div>
