<div class='boxed'>
<h1>Indian Cruises</h1>
<div class='box_content'>
<h2>Maps</h2>
<a href="maps/ind_map.html">Indian Ocean</a>

<h2><strong>Tables</strong> - Grouped by WOCE-era designation</h2>

<h3><a href='/search?query=Group:"Indian Onetime"'>Indian Ocean WOCE Lines</a></h3>
<a href="/search?query=Group:i01">I01/IR01</a>| <!-- onmouseover="return enlarge('onetime/pacific/p01/p01/p01trk.gif',event,'center',20,20)">I01</a> | -->
<a href="/search?query=Group:i02">I02</a> |
<a href="/search?query=Group:i03">I03</a> |
<a href="/search?query=Group:i04">I04</a> |
<a href="/search?query=Group:i05">I05</a> |
<a href="/search?query=Group:i06">I06</a> |
<a href="/search?query=Group:i07">I07</a> |
<a href="/search?query=Group:i08">I08</a> |
<a href="/search?query=Group:i09">I09</a> |
<a href="/search?query=Group:i10">I10</a> |
<a href="/search?query=ExpoCode:35MF200009">IR06E (TIP)</a>

<h3><a href='/search?query=Group:"Indian Repeat"'>Indian Repeat</a></h3>
<a href="/search?query=Group:ir01">IR01</a> |
<a href="/search?query=Group:ir03">IR03</a> |
<a href="/search?query=Group:ir04">IR04</a> |
<a href="/search?query=Group:ir06">IR06</a>

<h3><a href='/search?query=Group:"Indian Repeat"'>Indian Repeat</a></h3>
<a href="/search?query=Group:ir01">IR01</a> |
<a href="/search?query=Group:ir03">IR03</a> |
<a href="/search?query=Group:ir04">IR04</a> |
<a href="/search?query=Group:ir06">IR06</a>

<h3><a href='/search?query=Group:"Indian Special Survey"'>Indian Special Survey</a></h3>
<a href="/search?query=Group:iss01">ISS01</a> |
<a href="/search?query=Group:iss02">ISS02</a> |
<a href="/search?query=Group:iss03">ISS03</a>

<h3><a href="maps/metermap.html">Indian Current Meter Associated WOCE Data</a></h3>
<a href="/search?query=Group:iss01">ICM01</a> |
<a href="/search?query=Group:ir03">ICM03</a> |
ICM04 |
<a href="/search?query=Group:ir06">ICM06</a> |
<a href="/search?query=Group:iss02">ICM07</a> |
ICM08 |
ICM10
</div>
<div class='box_bottom'></div>
</div>
