<div class='boxed'>
<h1>Manuals</h1>
<div class='box_content'>
<h2><a href="CCHDO_DataSubmitGuide.pdf">Data Submission Guide</a> (replaces WHP 90-1)</h2>
<h2>WHP 90-1: Requirements for WHP Data Reporting</h2>
Revision 2, May 1994
<ul>
<li><a href="manuals/pdf/90_1/title.pdf">Title Page</a></li>
<li><a href="manuals/pdf/90_1/toc.pdf">Table of Contents</a></li>
<li><a href="manuals/pdf/90_1/lot.pdf">List of Tables</a></li>
<li><a href="manuals/pdf/90_1/lof.pdf">List of Figures</a></li>
<li><a href="manuals/pdf/90_1/preface.pdf">Preface</a></li>
<li><a href="manuals/pdf/90_1/chap1.pdf">Chapter 1</a> : <b>Overview of Reporting</b></li>
<li><a href="manuals/pdf/90_1/chap2.pdf">Chapter 2</a> : <b>WHP Cruise Requirements</b></li>
<li><a href="manuals/pdf/90_1/chap3.pdf">Chapter 3</a> : <b>Cruise Plan and Cruise Report</b></li>
<li><a href="manuals/pdf/90_1/chap4.pdf">Chapter 4</a> : <b>Hydrographic Data Formats</b></li>
<li><a href="manuals/pdf/90_1/chap5.pdf">Chapter 5</a> : <b>Underway Data Formats</b></li>
<li><a href="manuals/pdf/90_1/appendxa.pdf">Appendix A</a> : <b>WOCE DACs, SACs, and the DIU</b></li>
<li><a href="manuals/pdf/90_1/appendxb.pdf">Appendix B</a> : <b>Sample Cruise Plan</b></li>
<li><a href="manuals/pdf/90_1/appendxc.pdf">Appendix C</a> : <b>Sample Cruise Report - .DOC Text File</b></li>
<li><a href="manuals/pdf/90_1/appendxd.pdf">Appendix D</a> : <b>Reporting Protocol for Nonstandard Measurements</b></li>
<li><a href="manuals/pdf/90_1/appendxe.pdf">Appendix E</a> : <b>Software Compatability</b></li>
<li><a href="manuals/pdf/90_1/appendxf.pdf">Appendix F</a> : <b>ASCII Character Set</b></li>
<li><a href="manuals/pdf/90_1/appendxg.pdf">Appendix G</a> : <b>Water Sample Parameters</b></li>
</ul>
<h2>WHP 91-1 : WOCE Operations Manual</h2>
<ul>
  <li><a href="manuals/pdf/91_1/91_1cov.pdf">Cover Page</a></li>
  <li><a href="manuals/pdf/91_1/preface.pdf">Preface:</a>(Saunders)</i></li>
  <li><a href="manuals/pdf/91_1/91_1toc.pdf">Table of Contents</a></li>
  <li><a href="manuals/pdf/91_1/91_1hist.pdf">History of Revisons</a></li>
  <li><a href="manuals/pdf/91_1/introjoy.pdf">Introduction to the Collection of Expert Reports Compiled for the WHP Programme</a>
    <br /><span class='credit'>(Joyce)</span>
  </li>
</ul>
<h3>Calibrations and Standards</h3>
<ul>
	<li> <a href="manuals/pdf/91_1/saunders.pdf">Standards and Laboratory Calibration</a>
		<br /><span class='credit'>(Saunders, Mahrt, Williams)</span>
	</li>
	<li> <a href="manuals/pdf/91_1/bullster.pdf">CFCs, 3He-tritium and Small Volume Radiocarbon</a>
		<br /><span class='credit'>(Bullister)</span>
	</li>
</ul>
<h3>Methods for Water Sampling</h3>
<ul>
	<li>
		<a href="manuals/pdf/91_1/stal.pdf">Salinity Measurements</a>
		<br /><span class='credit'>(Stalecup)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/jenknew.pdf">Measuring Helium Isotopes and Tritium in Seawater Samples</a>
		<br /><span class='credit'>(Jenkins, Lott, Davis, Birdwhistell, Matthewson)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/vanwoy.pdf">CFC Data Processing Quality Control Steps</a>
		<br /><span class='credit'>(VanWoy, Salameh)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/gordnut.pdf">A suggested Protocol for Continuous Flow Automated Analysis of Seawater Nutrients (Phosphate, Nitrate, Nitrite, and Silicic Acid) in the WOCE Hydrographic Program and the Joint Global Fluxes Study</a>
		<br /><span class='credit'>(Gordon, Jennings, Ross, Krest)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/culber2.pdf">Dissolved Oxygen</a>
		<br /><span class='credit'>(Culberson)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/ams.pdf">Measuring 14C in Seawater {Sigma}C02 by Accelerator Mass Spectrometry</a>
		<br /><span class='credit'>(McNichol, Jones)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/key1.pdf">Large Volume Sampling</a>
		<br /><span class='credit'>(Key)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/key2a.pdf">Radiocarbon</a>
		<br /><span class='credit'>(Key)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/smethie.pdf">Collection of 85Kr and 39Ar Samples</a>
		<br />
		The PDF has formatting errors. Download a Postscript version without figures <a href="manuals/ps/91_1/smethie.ps">here</a>.
                <br /><span class='credit'>(Smethie)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/dickson2.pdf">Determination of dissolved oxygen in sea water by Wilkler titration</a>
		<br /><span class='credit'>(Dickson)</span>
	</li>
</ul>
<h3>Underway Measurements</h3>
<ul>
	<li>
		<a href="manuals/pdf/91_1/zenk.pdf">WHP Subgroup on Underway Measurements: Overview</a>
		<br /><span class='credit'>(Zenk)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/firadcp.pdf">Acoustic Doppler Current Profiling Measurements and Navigation</a>
		<br /><span class='credit'>(Firing)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/mueller.pdf">Near-Surface Temperature, Salinity, and Bathymetry Measurements</a>
		<br /><span class='credit'>(M&#252;ller, Schenk)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/taynew.pdf">Meteorological Measurement from WOCE Research Ships</a>
		<br /><span class='credit'>(Taylor, Weller)</span>
	</li>
</ul>
<h3>CTD Methods</h3>
<ul>
	<li>
		<a href="manuals/pdf/91_1/introctd.pdf">Introduction to Conductivity-Temperature-Depth Methods</a>
		<br /><span class='credit'>(Joyce)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/ctdmil.pdf">CTD Oxygen Calibration Procedure</a>
		<br /><span class='credit'>(Millard)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/algo6.pdf">Calculation of Physical Properties of Seawater</a>
		<br /><span class='credit'>(Fofonoff, Millard)</span>
	</li>
	<li>
		<a href="manuals/pdf/91_1/ctdimp.pdf">Improving NBIS MK IIIB Measurements</a>
		<br /><span class='credit'>(M&#252;ller, Holfort, Delahoyde, Williams)</span>
	</li>
</ul>
<hr />
<div align="center">
All documents are in Portable Document Format (PDF)
</div>
</div>
<div class='box_bottom'></div>
</div>
