<div class='boxed'>
<h1>Southern Cruises</h1>
<div class='box_content'>
<h2>Maps</h2>
<a href='maps/sou_map.htm'>Southern Ocean</a>

<h2><strong>Tables</strong> - Grouped by WOCE-era designation</h2>
<h3><a href='/search?query=Group:"Southern Onetime"'>Southern WHP Onetime</a></h3>
<a href="/search?query=ExpoCode:09AR9404_1">S03</a> |
<a href="/search?query=Group:S04">S04</a> |
<a href="/search?query=ExpoCode:09FA1094">S05</a>

<h3><a href='/search?query=Group:"Southern Repeat"'>Southern WHP Repeat</a></h3>
<a href="/search?query=Group:sr01">SR01</a> |
<a href="/search?query=Group:sr02">SR02</a> |
<a href="/search?query=Group:sr03">SR03</a> |
<a href="/search?query=Group:sr04">SR04</a>

<h3><a href="maps/metermap.html">Southern Current Meter Associated WOCE Data</a></h3>
<a href="/search?query=Group:sr02">SCM02</a> |
<a href="/search?query=Group:sr03">SCM03</a> |
<a href="/search?query=Group:iss03">SCM04</a> |
<a href="/search?query=Group:iss01">SCM06</a> |
<a href="/search?query=Group:sr04">SCM07</a> |
<a href="/search?query=Group:iss01">SCM09</a>
</div>
<div class='box_bottom'></div>
<data_access/div>
