<h3><b>CCHDO System Guide</b></h3>
<ul>
	<li><a>Database</a></li>
	<li><a>Dynamic Pages</a></li>
	<li><a>Static Pages</a></li>
	<li><a>Staff Pages</a></li>
</ul>

<h4>Database Tables</h4>
<ul>
	<li>Meta data</li>
	<ul>
	   <li>cruises</li>	
	   <li>documents</li>	
	   <li>cruises</li>
	   <li>events</li>
	   <li>parameters</li>
	   <li>parameter_descriptions</li>
	   <li>parameter_groups</li>
	   <li>contacts</li>
	   <li>internal</li>
	   <li>tracks</li>
	</ul>
	<li>Staff and Site Data</li>
	<ul>
		<li>assignments</li>
		<li>submissions</li>
		<li>codes</li>
		<li>users</li>
		<li>sessions</li>
		<li>schema_info</li>
	</ul>
</ul>

<h4>Dynamic Pages</h4>

<ul>
	<li>data_access</li>
	<li>search</li>
	<li>data_history</li>
	<li>table</li>
	<li>bulk_search</li>
	<li>submit</li>
	<li>contact</li>
	<li>maps</li>
</ul>

<h4>Static Pages</h4>
<ul>
	<li><a href="/index.html">index</a></li>
	<li>Basin pages - <a href="/arctic.html">arctic</a>, <a href="/atlantic.html">atlantic</a>, <a href="/pacific.html">pacific</a>, <a href="/indian.html">indian</a>, <a href="/southern.html">southern</a></li>
	<li><a href="/contact.html">contact</a></li>
	<li><a href="/format.html">format</a></li>
	<ul>
		<li><a href="/formats/exchange/index.html">exchange format</a></li>
		<ul>
			<li><a href="/formats/exchange/exchange_format_desc.html">exchange format description</a></li>
			<li><a href="/formats/exchange/example_hy1.html">exchange spreadsheet example</a></li>
		</ul>
		<li><a href="/formats/netcdf/index.html">netcdf format</a></li>
		<ul>
			<li><a href="/formats/netcdf/ctd/example_ct1.html">example ncdump from a WHP-NetCDF CTD file</a></li>
			<li><a href="/formats/netcdf/hyd/example_hy1.html">example ncdump from a WHP-NetCDF Bottle file</a></li>
		</ul>
		<li><a href="/formats/misc/sampsum.html">sample sum file</a></li>
	</ul>
	<li><a href="/manuals.html">manuals</a></li>
	<li><a href="/policies.html">policies</a></li>
	<ul>
       	<li><a href="/policies/crypt.html">file encryption</a></li>
	    <li><a href="/policies/version.html">version codes</a></li>	
	   	<li><a href="/policies/sharing.html">data sharing</a></li>
	  	<li><a href="/policies/woce_name.html">woce file name conventions</a></li>
	  	<li><a href="/policies/postwoce_name.html">post-woce file name conventions</a></li>
	   	<li><a href="/policies/doc.html">whp documentation policy</a></li>
	</ul>
	<li>maps</li>
	<ul>
		<li><a href="/maps/atl_map.html">Entire Atlantic</a></li>
		<li><a href="/maps/atl_north.html">North Atlantic</a></li>
		<li><a href="/maps/atl_central.html">Central Atlantic</a></li>
		<li><a href="/maps/atl_south.html">South Atlantic</a></li>
		<li><a href="/maps/pac_map.html">Entire Pacific</a></li>
		<li><a href="/maps/pac_asia.html">West Pacific</a></li>
		<li><a href="/maps/pac_aust.html">South West Pacific</a></li>
		<li><a href="/maps/pac_amer.html">East Pacific</a></li>
		<li><a href="/maps/ind_map.html">Indian</a></li>
		<li><a href="/maps/sou_map.html">Southern</a></li>
    </ul>
    <li><a href="/maps/metermap.html">Current Meter Page</a></li>
</ul>

<h4>Staff Pages</h4>
<ul>
	<li>task_manager</li>
	<li>data_entry</li>
	<li>cruise_status</li>
	<li>submission_list</li>
</ul>
