{% extends "base.jinja2" %}
{%- block head %}
{{ whh.tags.stylesheet_link('/static/css/dateRangeSlider.css') }}
{%- endblock %}
{% block title %}Advanced Search{% endblock %}
{% block content_attrs %} class="search_adv"{% endblock %}
{% block content %}
  {%- call h.boxed('Advanced Search') %}
    <h2>Find cruises that contain</h2>
    <form name="advanced_search" action="{{request.route_path('search')}}" method="POST">
      <table class="nofill">
        <tr>
          <td><label for="search_line">Line Number</label></td>
          <td><input type="search" placeholder="ALL" name="line" id="search_line" /></td>
        </tr>
        <tr>
          <td><label for="search_expocode">ExpoCode</label></td>
          <td><input type="search" placeholder="ALL" name="expocode" id="search_expocode" /></td>
        </tr>
        <tr>
          <td><label for="search_ship">Ship</label></td>
          <td><input type="search" placeholder="ALL" name="ship" id="search_ship" /></td>
        </tr>
        <tr>
          <td><label for="search_people">People</label></td>
          <td><input type="search" placeholder="ALL" name="people" id="search_people" /></td>
        </tr>
        <tr>
          <td><label for="search_country">Country</label></td>
          <td><input type="search" placeholder="ALL" name="country" id="search_country" /></td>
        </tr>
      </table>
    
      <h3>Between the dates:</h3>
      <div class="date_slider">
        <div class="text-fields">
          {# TODO years #}
          <input type="text" value="1960-01-01" class="search_date min" name="search_date_min">
          <span id="date_to_date">and</span>
          <input type="text" value="2014-01-01" class="search_date max" name="search_date_max">
        </div>
    
        <div id="defaultDateSlider" class="dateSlider"></div> 
        <span id="timeline1" class="timeline"></span>
        <span id="timeline2" class="timeline"></span>
        <span id="timeline3" class="timeline"></span>
        <span id="timeline4" class="timeline"></span>
        <span id="timeline5" class="timeline"></span>
      </div>
    
      <input type="submit" value="Search" />
    </form>
  {%- endcall %}
{% endblock %}
{% block js %}
{{ whh.tags.javascript_link('/static/js/jquery-1.4.4.min.js') }}
{{ whh.tags.javascript_link('/static/js/jquery-ui-1.8.14.custom.min.js') }}
{{ whh.tags.javascript_link('/static/js/jQRangeSlider.js') }}
{{ whh.tags.javascript_link('/static/js/jQDateRangeSlider.js') }}
{{ whh.tags.javascript_link('/static/js/search_advanced.js') }}
{% endblock %}
