{%- extends "fullwidth.jinja2" %}
{%- block title %}
  {%- if commands %}
    Contributions
  {%- else %}
    Search | Map
  {%- endif %}
{%- endblock %}
{%- block head %}
  {%- assets
    filters='cssmin',
    output='search.map.css', 
    'css/overcast/jquery-ui-1.7.2.custom.css',
    'cchdomap/css/jquery.jgrowl.css',
    'cchdomap/css/tipTip.css',
    'cchdomap/css/colorpicker/colorpicker.css',
    'cchdomap/css/cchdo.map.css'
  %}
     {{ whh.tags.stylesheet_link(ASSET_URL) }}
  {%- endassets %}
{%- endblock %}
{%- block content %}
<div id="map_space">
  {%- include "_noscript_warning.txt" %}
</div>
{%- endblock %}
{%- block js %}
  {{- h.GAPI_autoload(request, [
            {
                'name': 'jquery',
                'version': '1.6.4',
            },
            {
                'name': 'jqueryui',
                'version': '1.8.16',
            },
            {
                'name': 'maps',
                'version': '3',
                'other_params': 'sensor=false&libraries=geometry,drawing',
            },
            {
                'name': 'earth',
                'version': '1',
            },
            {
                'name': 'visualization',
                'version': '1',
                'packages': ['table'],
            }
        ]) }}
  {%- assets
    filters='rjsmin',
    output='search.map.0.js', 
    'cchdomap/js/jquery.form.js',
    'cchdomap/js/jquery.jgrowl_minimized.js',
    'cchdomap/js/jquery.tipTipTip.js',
    'cchdomap/js/jquery.autopopdialog.js',
    'cchdomap/js/colorpicker/colorpicker.js',
    'cchdomap/js/graticule.3.js',
    'cchdomap/js/earth_map_type.js',
    'cchdomap/js/etopo_map_type.js',
    'cchdomap/js/LatLngTooltip.3.js'
  %}
     {{ whh.tags.javascript_link(ASSET_URL) }}
  {%- endassets %}
  {%- if commands %}
    <script>
      var CCHDO = {session_map_commands: {{ whh.literal(h.dumps(commands)) }}};
    </script>
  {%- endif %}
  {%- assets
    filters='rjsmin',
    output='search.map.1.js',
    'cchdomap/js/cchdo.map.js',
    'js/datacart.js'
  %}
     {{ whh.tags.javascript_link(ASSET_URL) }}
  {%- endassets %}
  {{ whh.tags.javascript_link("//earth-api-utility-library.googlecode.com/svn/tags/extensions-0.2.1/dist/extensions.pack.js") }}
{%- endblock %}
