<% content_for :title do %>Map<% end %>
<% content_for :head do %>
  <%= stylesheet_link_tag(
    'cchdomap/overcast/jquery-ui-1.7.2.custom',
    'cchdomap/jquery.jgrowl',
    'cchdomap/tipTip',
    'cchdomap/colorpicker/colorpicker',
    'cchdomap/cchdo.map',
    :cache => 'cchdomap'
  ) %>
<% end %>
<% content_for :js do %>
<% 
  modules = {
    :modules => [
      {
        :name => 'jquery',
        :version => '1.5.1'
      },
      {
        :name => 'jqueryui',
        :version => '1.7.2'
      },
      {
        :name => 'maps',
        :version => '3',
        :other_params => 'sensor=false&libraries=geometry'
      },
      {
        :name => 'earth',
        :version => '1',
      },
      {
        :name => 'visualization',
        :version => '1',
        :packages => ['table']
      }
    ]
  }
  jsapiload = CGI::escape(modules.to_json) || ''
  # dimes:8000
  key = "ABQIAAAATXJifusyeTqIXK5-oRfMqRTTLLgEU0j8TX6lr26R_f7d8ATJsxRXcK1lEshiZNwEVvZrEPwtw91gQw"
%>
<%= javascript_include_tag("http://www.google.com/jsapi?autoload=#{jsapiload}&key=#{key}") %>
<%= javascript_include_tag(
  'cchdomap/jquery.form',
  'cchdomap/jquery.jgrowl_minimized',
  'cchdomap/jquery.tipTipTip',
  'cchdomap/jquery.autopopdialog',
  'cchdomap/colorpicker/colorpicker',
  'cchdomap/graticule.3',
  'cchdomap/earth_map_type',
  'cchdomap/etopo_map_type',
  'cchdomap/dshape',
  'cchdomap/LatLngTooltip.3',
  'cchdomap/cchdo.map',
  :cache => 'cchdomap'
) %>
<%= javascript_include_tag(
  "http://earth-api-utility-library.googlecode.com/svn/tags/extensions-0.2.1/dist/extensions.pack.js"
) %>
<% end -%>
<div id="map_space">
  <noscript>
    <h1>JavaScript is needed to use the interactive map.</h1>
    <p>
      JavaScript is either disabled or not supported by your browser. 
      Please enable JavaScript by changing your browser options and reload.
    </p>
  </noscript>
</div>
