{% extends "base.jinja2" %}
{% block title %}Attr{% endblock %}
{% block content %}
  {% call h.boxed('attr %s' % attr.id, class='objs attr') -%}
    {%- if attr.deleted %}
      <p>del {{ attr.key }}
    {%- else %}
      <p>{{ attr.key }} = {{ h.attr_value(attr) }} </p>
    {%- endif %}

    <h2>Created</h2>
    <p>
      {{ attr.ts_c }}
      {{ h.link_person(attr.p_c) }}
    </p>

    <h2>Pending</h2>
    <p>
      {{ attr.ts_ack }}
      {{ h.link_person(attr.p_ack) }}
    </p>

    <h2>Judged</h2>
    <p>
      {{ attr.ts_j }}
      {{ h.link_person(attr.p_j) }}
    </p>
    <a href="../a">Back to obj attrs</a>
  {%- endcall %}
{% endblock %}

