{% extends "templates/base.jinja2" %}
{% block title %}Obj Attrs{% endblock %}
{% block content %}
  {% call h.boxed('Obj %s attrs' % obj.id) -%}
    <p>{{obj}}</p>

    <h2>Attrs</h2>
    <table>
    {% for k, v in obj.attrs_current.items() %}
      <tr>
        <th>{{ k }}</th>
        <td>{{ v }}</td>
        <td>
          {{ whh.tags.form(request.url, method="DELETE") }}
            <input type="hidden" name="key" value="{{ k }}">
            <input type="submit" value="Delete">
            <label for="note">Note (optional)</label>
            <input type="text" name="note">
          </form>
        </td>
      </tr>
    {% endfor %}
    </table>

    <div class="editor">
      <h2>Update value</h2>
      <table>
      <tr><th>Key</th><th>Value</th><th>Type</th></tr>
      <tr>
        {{ whh.tags.form(request.url) }}
          <th><input type="text" name="key"></th>
          <td><input type="text" name="value"></td>
          <td>
            <select name="type">
              <option>text</option>
              <option>datetime</option>
              <option>list</option>
              <option>id</option>
            </select>
          </td>
          <td><input type="submit" value="Update"><label for="note">Note (optional)</label><input type="text" name="note"></td>
        </form>
      </tr>
      </table>

      <ul>
        <li>datetime format is YYYY-mm-dd HH:MM:SS. UTC please!</li>
        <li>Lists are ',' separated. Escape character is '\'.</li>
      </ul>
    </div>

    <p>or</p>

    <div class="editor">
      <h2>Update file</h2>
      <table>
      <tr><th>Key</th><th>File</th></tr>
      <tr>
        {{ whh.tags.form(request.url, multipart=True) }}
          <td><input type="text" name="key"></td>
          <td><input type="file" name="value"></td>
          <td></td>
          <td><input type="submit" value="Update"><label for="note">Note (optional)</label><input type="text" name="note"></td>
        </form>
      </tr>
      </table>
    </div>

    <div class="editor">
      <h2>Add Note</h2>
      {{ whh.tags.form(request.url) }}
      <table>
        <tr><th>Summary</th><td><input type="text" name="note_subject"></td><td class="explanation"></td></tr>
        <tr><th>Action</th><td><input type="text" name="note_action"></td><td class="explanation">The action taken</td></tr>
        <tr><th>Data Type</th><td><input type="text" name="note_data_type"></td><td class="explanation">The type of data (CTD, BOT, DOC)</td></tr>
        <tr><th>Note</th><td><textarea name="note_body"></textarea></td><td class="explanation"></td></tr>
      </table>
      <input type="submit" value="Add">
      </form>
    </div>

    <h2>Unacknowledged changes</h2>
    <ul>
    {% for change in obj.unacknowledged_tracked.all() %}
    <li>
      <code>{{ change }}</code>
      <form action="{{ request.url }}/{{ change.id }}" method="POST"><input type="submit" name="action" value="Accept"></form>
      <form action="{{ request.url }}/{{ change.id }}" method="POST"><input type="submit" name="action" value="Acknowledge"></form>
      <form action="{{ request.url }}/{{ change.id }}" method="POST"><input type="submit" name="action" value="Reject"></form>
    </li>
    {% endfor %}
    </ul>

    <p><a href="../{{ obj.id }}">Back to obj</a>
  {%- endcall %}
{% endblock %}
