{% extends "templates/base.jinja2" %}
{% block title %}Obj Attrs{% endblock %}
{% block content %}
  {% call h.boxed('%s attrs' % obj['_id']) -%}
    <p>{{obj}}</p>

    <h2>Attrs</h2>
    <ul>
    {% for k, v in obj.attrs.current_pairs.items() %}
      <li>{{ k }}: {{ v }}</li>
    {% endfor %}
    </ul>

    <h2>Unacknowledged changes</h2>
    <ul>
    {% for change in obj.attrs.unacknowledged_changes %}
      <li>{{ change }}</li>
    {% endfor %}
    </ul>

    <h2>New</h2>
    <form action="/objs/{{ obj['_id'] }}/a/" method="POST">
      <table>
        <tr><td>{{ whh.HTML.label('Key', for='key') }}</td><td><input type="text" name="key"></td></tr>
        <tr><td>{{ whh.HTML.label('Value', for='value') }}</td><td><input type="text" name="value"></td></tr>
        <tr><td>{{ whh.HTML.label('Note', for='note') }}</td><td><input type="text" name="note"></td></tr>
        <tr><td colspan=2><input type="submit" value="Add"></td></tr>
      </table>
    </form>
  {%- endcall %}
{% endblock %}
