{% extends "templates/base.jinja2" %}
{% block title %}Attr{% endblock %}
{% block content %}
  {% call h.boxed('attr %s' % attr.id) -%}
    {%- if attr.deleted %}
      <p>del {{ attr.key }}
    {%- else %}
      <p>{{ attr.key }} = {{ h.attr_value(attr) }} </p>
    {%- endif %}

    <table>
      {%- for k, v in attr.items() %}
        {%- if not k.endswith('_stamp') and k not in ['key', 'obj'] %}
          {%- if k == 'notes' %}
            <tr>
              <th>{{ k }}</th>
              <td>
                <ol>
                {%- for note in attr.notes %}
                  <li>{{ note.body }}</li>
                {%- endfor %}
                </ol>
              </td>
            </tr>
          {%- else %}
            <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
          {%- endif %}
        {%- endif %}
      {%- endfor %}
    </table>

    <h2>Created</h2>
    <p>
      {{ attr.creation_stamp.timestamp }}
      {{ h.link_person(attr.creation_stamp.person) }}
    </p>

    <h2>Pending</h2>
    <p>
      {{ attr.pending_stamp.timestamp }}
      {{ h.link_person(attr.pending_stamp.person) }}
    </p>

    <h2>Judged</h2>
    <p>
      {{ attr.judgment_stamp.timestamp }}
      {{ h.link_person(attr.judgment_stamp.person) }}
    </p>
    <a href="../a">Back to obj attrs</a>
  {%- endcall %}
{% endblock %}

