{% extends "objs/base.jinja2" %}
{% block title %}Objs{% endblock %}
{% block content %}
  {% call h.boxed('Objs', class='objs') -%}
    <ul>
    {% for obj in objs -%}
      <li><a href="/obj/{{ obj.id }}">Go</a> {{obj}}</li>
    {%- endfor %}
    </ul>

    {{ h.pager_for(objs) }}

    {{ whh.tags.form('/objs/new', method="PUT") }}
      <p>
        New
        <select name="_obj_type">
          <option>Cruise</option>
          <option>Ship</option>
          <option>Institution</option>
          <option>Country</option>
          <option>Collection</option>
        </select>
        <input type="submit" value="Suggest">
      </p>
    </form>
  {%- endcall %}
{% endblock %}
