<% form_tag :action => "signin" do %>
<% unless session[:intended_controller] == "/staff" %>
<p><strong><%= session[:intended_controller] %></strong> is for staff use only. Please sign in to use it.</p>
<% end %>
<table>
  <tr>
    <td><label for="username">Username:</label></td>
    <td><%= text_field_tag "username" %></td>
  </tr>
  <tr>
    <td><label for="password">Password:</label></td>
    <td><%= password_field_tag "password" %></td>
  </tr>
</table>
<%= submit_tag "Sign in" %>
<% end %>
