{% extends "templates/base.jinja2" %}
{% block content -%}
  {% call h.boxed('People') -%}
    <ul>
    {%- for person in people %}
      <li>{{ whh.tags.link_to(person.full_name(), '/person/%s' % person.id) }}</li>
    {%- endfor %}
    </ul>
  {%- endcall %}
{%- endblock %}
