{%- extends "templates/base.jinja2" %}
{%- block head %}
  {{ whh.tags.stylesheet_link('/static/css/metaTable.css') }}
{%- endblock %}
{% block title %}Person {{ person.full_name() }}{% endblock %}
{% block content -%}
  {% call h.boxed('Person ' + (person.full_name() or '')) -%}
    <table class="info">
      <tr><th>Identifier</th><td>{{ person.identifier }}</td></tr>
      <tr><th>Name first</th><td>{{ person.name_first }}</td></tr>
      <tr><th>Name last</th><td>{{ person.name_last }}</td></tr>
      <tr><th>Institution</th><td>{{ h.link_institution(person.institution) }}</td></tr>
      <tr><th>Country</th><td>{{ h.link_country(person.country) }}</td></tr>
      <tr><th>Email</th><td>{{ person.email }}</td></tr>
      {%- if h.has_mod(request) %}
        <tr><th>Permissions</th><td>{{ person.permissions|join(', ') }}</td></tr>
      {%- endif %}
      {%- if h.has_edit(request) %}
        <tr><th>ID</th><td>{{ person.id }}</td></tr>
      {%- endif %}
    </table>
    {%- if h.has_mod(request) %}
      <div class="subsection editor">
        {{ whh.tags.form(request.route_path('person_edit', person_id=person.id), 'PUT') }}
        <table>
          <tr><th>Identifier</th><td><input type="text" name="identifier" value="{{ person.identifier or '' }}"></td><td>{{ h.form_errors_for(request, 'identifier') }}</td></tr>
          <tr><th>Name first</th><td><input type="text" name="name_first" value="{{ person.name_first or '' }}"></td><td>{{ h.form_errors_for(request, 'name_first') }}</td></tr>
          <tr><th>Name last</th><td><input type="text" name="name_last" value="{{ person.name_last or '' }}"></td><td>{{ h.form_errors_for(request, 'name_last') }}</td></tr>
          <tr><th>Institution</th><td><input type="text" name="institution" value="{{ person.institution.id or '' }}"></td><td>{{ h.form_errors_for(request, 'institution') }}</td></tr>
          <tr><th>Country</th><td><input type="text" name="country" value="{{ person.country.id or '' }}"></td><td>{{ h.form_errors_for(request, 'country') }}</td></tr>
          <tr><th>Email</th><td><input type="email" name="email" value="{{ person.email or '' }}"></td><td>{{ h.form_errors_for(request, 'email') }}</td></tr>
          <tr><th>Permissions</th><td><input type="text" name="permissions" value="{{ person.permissions|join(',') or '' }}"></td><td>{{ h.form_errors_for(request, 'permissions') }}</td></tr>
        </table>
        <input type="submit" value="Save">
        {{ whh.tags.end_form() }}
      </div>
    {%- endif %}
    {%- if h.has_mod(request) %}
    <div class="subsection editor merger">
      <h2>This person is exactly the same as another one</h2>
      <p>Enter the other person's id here to replace the other with this one.</p>
      {{ whh.tags.form(request.route_path('person_merge', person_id=person.id), 'PUT') }}
        <label for="person_id">person ID</label>
        <input type="text" id="person_id" name="mergee_person_id" value="">
        <input type="submit" value="Merge">
      {{ whh.tags.end_form() }}
    </div>
    {%- endif %}
    {%- set cruises = person.cruises() %}
    {%- if cruises %}
      <div class="subsection">
        <h2>Cruises</h2>
        {{ h.cruise_listing(cruises) }}
      </div>
    {%- endif %}
  {%- endcall %}
{%- endblock %}
{% block js %}
  {{ whh.tags.javascript_link('/static/js/jquery-1.4.4.min.js') }}
  {{ whh.tags.javascript_link('/static/js/metaTable.js') }}
{%- endblock %}
