<table width="686">
<tr />
<td />
<p>
	 Non-public data on this site are ASCII encrypted using Phil Zimmerman's  <b>
		PGP
	</b>
	( <b>
		P
	</b>
	retty
	<b>G</b>ood <b>P</b>rivacy) software.  We chose this method of encryption 
	since it is the best public domain, multi-platform software of its kind available today.
	All "keys" (or passwords) are created by the WHP Office and are jointly held by the Office and each
	of the principal investigators listed in the tables associated with each cruise.  To decrypt each
	file, contact the investigator directly to get the key and/or permission to use their data.
	If the investigator does not have the key, but gives permission to use the data, the WHP Office 
	will send a decrypted version of the data file to the requestor.
</p>
</table>
<br />
<br />
<b>
	How to Obtain the PGP Software
</b>
<ul>
<li />
<a href="http://web.mit.edu/network/pgp.html">U.S. and Canadian users</a>
<br />
 Obtain public domain versions of PGP for the United States and Canada.<br />
<br />
<li />
<a href="http://www.pgpi.org">Non-U.S. users</a>
<br />
Information on how to obtain PGP's international versions. </ul>
<a href="pgp.htm">Click here</a>
 to get specific information on how to use PGP to decrypt WHPO datafiles
<p>
	 Frankly, this is an experiment.  The PGP software is available
	for nearly all modern computer operating systems, but we are not permitted to distribute the 
	PGP software ourselves. If you do obtain the proper permissions to use a file
	but are unsuccessful in decrypting it, please contact  <a href="mailto:sdiggs.edu">Steve Diggs</a>
	 &#149; 858-534-1108 for further assistance.
</p>
