<p>
	 WHP Cruise Reports will, as always, remain the primary cruise documentation. The WHPO will attempt to make all other relevant documentation, especially if received in electronic form, available as well. This includes reports from investigators, overviews from data quality examination, copies of tables of information held by the WHP Office, etc.
</p>
<br />
<br />
<p>
	<a href="/contact.htm">Jerry Kappa</a>
	, the WHP Office documentation manager, will help ensure that all information is in the documentation for each cruise. Thus with or without browser technology, and with or without a WHP Office, the files to be held at the World Data Center will not suffer any loss of information. Also, Jerry will place as many of the documents as possible into "PDF" format, which preserves graphics and allows searches and indexing. PDF readers (e.g., Adobe Acrobat) are available free of charge for all popular operating systems. ASCII versions of documentation will also be provided. Some of these PDF files are on this CD-ROM. Many more will be found on our web site as this program continues.
</p>
