<b>How to Obtain the PGP Software</b>
<ul>
<li><a href="http://web.mit.edu/network/pgp.html">U.S. and Canadian users</a><br>
Obtain public domain versions of PGP for the United States and Canada.
<br><br>
<li><a href="http://www.pgpi.org">Non-U.S. users</a><br>
Information on how to obtain PGP's international versions. 
</ul>

<b>How to Use PGP</b>
<ul>
The PGP is relatively simple to use, especially on the WHPO data files. Each one of our datafiles has been "ASCII-Armor" encrypted, meaning that the files are encryted into the ASCII character set in order to easily transmit them over email or through your internet browser. 
<br><br>
Once you obtain the PGP software for your computer, you simply decrypt the file and wait for the "Key" or "Password" prompt from PGP. 
<br><br>
Under UNIX: (<i>Using the line P01W encrypted CTD file</i>) 
<br><br>
<font face="Courier New, Courier">pgp p01wct.asc</font>	(<i>typed at the command line</i>)
<br><br>
(<i>you should see the following response</i>)
<br><br>
<font face="Courier New, Courier">Pretty Good Privacy(tm) 2.6.2 - Public-key encryption for the masses. (c) 1990-1994 Philip Zimmermann, Phil's Pretty Good Software. 11 Oct 94
Uses the RSAREF(tm) Toolkit, which is copyright RSA Data Security, Inc.
Distributed by the Massachusetts Institute of Technology.
Export of this software may be restricted by the U.S. government.
Current time: 1998/02/07 18:23 GMT
<br><br>
File is conventionally encrypted.<br>
You need a pass phrase to decrypt this file.<br>
Enter pass phrase:</font>(<i>Enter the key/pass phrase here obtained from WHPO</i>)<br>
<br><br>
PGP will decrypt the file, if the proper key/pass phrase is given and retain the original copy of the file. For the bottle files, you will get a single, ASCII/plain-text file, and with CTD files, you will receive a DOS-style ZIP archive file to be expanded into individual files using UNZIP or PKUNZIP.
</ul>
Questions/Comments: <a href="mailto:sdiggs@ucsd.edu">Steve Diggs</a> &#149; 858-534-1108 
