<p>
File Name Conventions for post-Woce cruises	
</p>
<hr />
<pre class="fixed">
<font face="Monaco, Courier">

<b><u>ExpoCode Syntax:</u></b> 

		<b>NODCShipCodeYearMonthDay</b>
		
<b>Example:</b> 
	
	 Line - pr40
         Ship Name - Roger Revelle  (33RR)
	 Cruise date March 29, 2009 (port departure)
         ExpoCode - 33RR20090329
         

<b>Individual Files:</b>

	Exchange Bottle - pr40_33RR20090329_hy1.csv
        Exchange CTD    - pr40_Station_Cast_ct1.csv
       
        NetCDF Bottle   - pr40_Station_Cast_hy1.nc
        NetCDF CTD      - pr40_Station_Cast_ctd.nc

<b>Zip Archives:</b>

	Exchange CTD   - pr40_33RR20090329_ct1.zip

	NetCDF Bottle  - pr40_33RR20090329_nc_hyd.zip
	NetCDF CTD     - pr40_33RR20090329_nc_ctd.zip
	
<b>Document Files:</b>

	Text	       - pr40_33RR20090329do.txt
	PDF	       - pr40_33RR20090329do.pdf

</font>
</pre>

<hr size="1">
<br><br>
Questions/Comments: <a href="mailto:sdiggs(at)ucsd.edu">Steve Diggs</a> &#149; 858-534-1108<br><br>
