	<b>
		Data Sharing Policy - Official WOCE Statement
	</b>
</div>
<br />
<p>
	There is a fundamental trade-off in WOCE - on the one hand, the protection of the intellectual effort and time of originating investigators (those who plan an experiment, collect, calibrate, and process a data set to answer some questions about the ocean), and on the other hand the need to compare various data sets and data types to check their consistency, to better understand the ocean processes involved, and to see how well the numerical models describe the real ocean. The policy adopted by WOCE is a trade-off between these conflicting needs.
</p>
<br />
<p>
	Any data collected as part of WOCE should be made publicly available no later than 2 years (the publication rights period) from collection, unless differing proprietary rights are specifically granted by the WOCE Scientific Steering Group (SSG) and funding agencies. However, in the case of hydrographic data submitted to the WHPO-DAC the data will not be made publicly available until the DQE process has been completed and a final data set submitted by the chief scientist to the WHPO. Prior to that time the data will be considered preliminary and can be obtained, if necessary, only from the chief scientist.
</p>
<br />
<p>
	Collection is interpreted as the completion of the determination of the value of the particular parameter. Thus, for example, tritium/helium collection may not be complete for over a year after return to shore/laboratory. Individual WOCE programs (hydrography, surface velocity, etc.) require all participating investigators to submit (usually within a few months after collection) data collected as part of WOCE to the WHPO or other DAC for the purposes of quality control and data synthesis during the public rights period. In that case the recipient DAC may not redistribute such data, or a derivative containing most of the information unless specifically approved by the originating PI, and should use the data for the stated purpose only.
</p>
<br />
<p>
	Originating investigators are strongly encouraged to share their data before the end of the publication rights period. The receiving investigator should not publish any paper during that period based predominantly on the received data, should co-author results with the originating investigator, and should not redistribute the data.
</p>
<div align="center">
	<b>
		Data Sharing Policy - Addenda to Official Policy, from the WHP Office
	</b>
</div>
<ol />
<li>
	The primary distinction regarding data sharing within the WHP is whether the data are "public" or, instead, whether they are "non-public". <br />
	<br />
	"Public" data may be placed on-line at the WHPO or other web sites, or on WHPO CD-ROMs. They may be exchanged between investigators as desired. They may or may not be preliminary, and especially for preliminary public data users are strongly advised to contact the WHP Office (for example at our online website) and/or the originating investigator regarding the status of updates or further data processing. <br />
	<br />
	 "Non-public" data cannot be placed on-line in open form at the WHPO or other web sites, or on WHPO CD-ROMs. If available from such locations they must be encrypted or locked, with passwords held by the data provider (and the WHP Office). Investigators who wish to use non-public data must contact the data originator(s) for permission to use the data and, if permission is granted, for the password(s).
</li>
<br />
<li>
	WHP data originators may keep their data "non-public" as long as they wish, and they shall be the only ones to choose when their data shall become "public". Data originators are, however, greatly encouraged to abide by WOCE data sharing guidelines (above).
</li>
<br />
<li>
	Investigators using "public" WHP data are strongly advised to contact data originators to inform them of their plans.This courtesy helps to insure that data originators are aware of the uses of their data in the community - an important item they may wish to provide to their support agencies - and it provides increased opportunities for collaboration. Data originators are also aware of modifications to their data and documentation, and of sources of additional data or documentation.
</li>
<br />
<li>
	ALL WHP data, preliminary or final, public or non-public, should be at the WHP Office. Preliminary data should be sent to the WHP Office as soon as they are available. They will be password-protected and closely guarded from public dissemination. This action permits the WHP Office to work with investigators quietly, "behind the scenes", to correct minor format and content problems common in most WHP data files, and permits the investigators to place onto the WHP Office the burden of data dissemination to their co-investigators.
</li>
