<p >
	 All files modified by the CCHDO will carry a version number, so that the most recent files may be readily identified. The format for this version number,
	 which will occur at the top of the file (and will not violate any predefined format described in the WOCE 90-1 manual) is: 
</p>
<ul />
<b>
	20080128CCHDOSIOSCD
</b>
<br />
<br />
where:<br />
<br />
<li>
	<b>
		2008
	</b>
	 is the 4-digit year of modification
</li>
<li>
	<b>
		01
	</b>
	 is the 2-digit month
</li>
<li>
	<b>
		28
	</b>
	is the 2-digit day
</li>
<li>
	<b>
		CCHDO
	</b>
	 the organization where the modifications took place
</li>
<li>
	<b>
		SIO
	</b>
	 the institution where the organization resides
</li>
<li>
	<b>
		SCD
	</b>
	 the initials of the person who modified this file
</li>
Questions/Comments: <a href="mailto:sdiggs@ucsd.edu">Steve Diggs</a>
 (+1)-858-534-1108
