<div class="boxed">
  <h1>vCard Import</h1>
  <div class="box_content">
    <p>Please give the file containing VCards to decode. You will be given the opportunity to correct information in the next step.</p>
    <% form_tag '/staff/vcard/decode', :multipart => true do %>
      <%= file_field_tag 'vcard' %>
      <%= submit_tag 'Decode' %>
    <% end %>
  </div>
  <div class="box_bottom"></div>
</div>
