<div class='boxed'>
<h1>Assignments</h1>
<div class='box_content'>
<div id="results">
<%= render :partial => "assignments", :update => "results" %>
</div>
</div>
<div class='box_bottom'></div>
</div>
